@( totales:java.util.Map[String,java.math.BigDecimal],totalPacientes:Integer)
@import helper._

@scripts = {

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/css-rrhh-claude.css")">
<script src="@routes.Assets.at("plugins/pdf/html2canvas.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("plugins/pdf/jspdf.umd.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/exportar-pdf-rrhh.js")" type="text/javascript"></script>
}


@main("Facturacion Rismi",scripts)  {


<!-- MAIN -->
<div class="main">



  <!-- CONTENT -->
  <div class="content">



    <div class="page-title">Parque de la Salud <!-- <button id="btnExportarPDF" onclick="exportarPDF()" class="btn btn-primary"> <i class="fas fa-file-pdf"></i> Exportar PDF </button></div> -->
    <div class="page-breadcrumb">Inicio / <span>Informes Facturacion Rismi</span> / Parque de la Salud

	 <!-- DEPT SECTION LABEL -->
    <div class="section-title"><i class="fas fa-chart-bar"></i> Datos Periodo desde 15-04-2026 - ABRIL</div>
    	<!-- KPI CARDS -->
	    <div class="kpi-grid-rismi">
	      <div class="kpi-card">
	     	<div class="kpi-icon"> <i class="fas fa-user-check"></i></div>
	        <div>
	          <div class="kpi-val">@totalPacientes</div>
	          <div class="kpi-lbl">Total Pacientes</div>
	          <!-- <div class="kpi-delta up"><i class="fas fa-arrow-up"></i> +4 este mes</div>
	          <div class="kpi-delta down"><i class="fas fa-arrow-down"></i> +1 este mes</div> -->
	        </div>

	      </div>
	      <div class="kpi-card">
	        <div class="kpi-icon"> <i class="fa-solid fa-hand-holding-dollar"></i></div>
	        <div>
	          <div class="kpi-val">@(utils.NumberUtils.moneda(totales.get("total"),0))</div>
	          <div class="kpi-lbl">Total</div>
	          <!-- <div class="kpi-delta up"><i class="fas fa-arrow-up"></i> +4 este mes</div>
	          <div class="kpi-delta down"><i class="fas fa-arrow-down"></i> +1 este mes</div> -->
	        </div>
	      </div>
	      <div class="kpi-card">
	        <div class="kpi-icon"><i class="fa-solid fa-book-medical"></i></div>
	        <div>
	          <div class="kpi-val">@(utils.NumberUtils.moneda(totales.get("prestaciones"),0))</div>
	          <div class="kpi-lbl">Total Prestaciones</div>
	          <!--  <div class="kpi-delta up"><i class="fas fa-arrow-up"></i> 90.1%</div>-->
	          <!-- <div class="kpi-delta up"><i class="fas fa-arrow-up"></i> +4 este mes</div>
	          <div class="kpi-delta down"><i class="fas fa-arrow-down"></i> +1 este mes</div> -->
	        </div>
	      </div>
	      <div class="kpi-card">
	        <div class="kpi-icon"><i class="fa-solid fa-bed"></i></div>
	        <div>
	          <div class="kpi-val">@(utils.NumberUtils.moneda(totales.get("diasCama"),0))</div>
	          <div class="kpi-lbl">Total Dias Cama</div>
	          <!--  <div class="kpi-delta up"><i class="fas fa-arrow-up"></i> 90.1%</div>-->
	          <!-- <div class="kpi-delta up"><i class="fas fa-arrow-up"></i> +4 este mes</div>
	          <div class="kpi-delta down"><i class="fas fa-arrow-down"></i> +1 este mes</div> -->
	        </div>
	      </div>
	      <div class="kpi-card">
	        <div class="kpi-icon"><i class="fa-solid fa-syringe"></i></div>
	        <div>
	        	<div class="kpi-val">@(utils.NumberUtils.moneda(totales.get("farmacos"),0))</div>
	          <div class="kpi-lbl">Total Farmacos</div>
	          <!--  <div class="kpi-delta up"><i class="fas fa-arrow-up"></i> 90.1%</div>-->
	          <!-- <div class="kpi-delta up"><i class="fas fa-arrow-up"></i> +4 este mes</div>
	          <div class="kpi-delta down"><i class="fas fa-arrow-down"></i> +1 este mes</div> -->
	        </div>
	      </div>
	    </div>

}
