@(paginador:  utils.pagination.Pagination[models.recupero.RecuperoNotaDebito], editable: Boolean,rf:models.recupero.RecuperoFactura)
@import models.auth._
<div id="listaLineaNotaDebitos" class="contenedorPaginador ajaxPaginador">

<div class="panel panel-default">
		<div class="panel-heading"><b>Notas de Debitos</b>


		@if(rf.estado_id == models.Estado.RECUPERO_FACTURA_APROBADO) {
			@if(Permiso.check("recuperoNotasEditar")) {

				@if((rf.cae != null && !rf.cae.isEmpty() ) || !rf.puntoVenta.habilitado){
					<a class="btn btn-default btn-xs" href="#" id="nuevoNotaDebito"><i class="glyphicon glyphicon-plus"></i> Nuevo</a>
				}else{
					(La Factura no tiene un CAE asigna aun.)
				}
			}
		}
		</div>
		<div class="panel-body">
			@if(paginador.getTotalRowCount == 0) {
        		<p id="mensajeSinResultadosDebitos" class="well"><i class="glyphicon glyphicon-info-sign"></i> No hay Notas de Debitos para esta factura.</p>
    		}

			<table id="listaDeNotaDebitos" class="table table-striped table-bordered @if(paginador.getTotalRowCount() <= 0){hide}">
				<thead>
					<tr>
						<!--  <th class="accion-editar">#</th>-->
						<th>Numero</th>
						<th>CAE</th>
						<th>Fecha CAE</th>
						<th>Planilla</th>
						<th>Fecha</th>
						<th>Producto</th>

						<th>Cantidad</th>
						<th>Precio</th>
						<th>Subtotal</th>
							<th></th>

					<tr>
				</thead>
				<tbody>
				@for(linea <- paginador.getList) {
					@views.html.recupero.recuperoNotaDebito.lineaNotaDebito(linea, editable)
				}
				</tbody>
			</table>

			<div class="pagination pull-right">
			    @views.html.helpers.paginador(paginador, controllers.recupero.routes.RecuperoNotasDebitosController.index())
			</div>
	</div>
</div>
<script>
$( function(){
	/**
	 * Ventana de carga linea de productos en ordenes
	 */

	var contenedor = $("#listaLineaNotaDebitos");

	contenedor.on('click', '#nuevoNotaDebito', function(){
		urlContenidoModal = '/recupero/nota-debito-linea/crear?facturaId='+$('#recuperoFacturaId').val();

		mostrarModal(urlContenidoModal);
		return false;
	});

	contenedor.on('click', '.modificarNotaDebito', function(){
		lineaParaEditar = $(this).closest('tr');
		var modal = mostrarModal($(this).attr('href'));
		modal.dialog('option', 'title', 'Editar producto');
		return false;
	});

	contenedor.on('click', '.eliminarNotaDebito', function(){
		var mensaje = "¿Confirma que desea eliminar el registro?";
		if(confirm(mensaje)){
			var url = $(this).attr('href');
			$this = $(this);
			$.get(url, function(data){
				if(data.success){
					$this.closest("tr").remove();
				} else {
					alert("No se puedo eliminar el registro.");
				}
			});
		}
		return false;
	});

	$('.notaDebito').click( function() {

		var url = $(this).attr("data-url");
		var dialogo = $('<div></div>');

		dialogo.dialog({
			title: "Notas",
	    	resizable: false,
			autoOpen: true,
			modal: true,
			height: 250,
			width:750,
	        buttons: {
		          Cerrar: function() {
		            $( this ).dialog( "destroy" );
		          }
		    },
	    	close: function(event, ui ){
	    		$(this).dialog( "destroy" );
	    	},
		    open: function( event, ui ) {
				$.post(url,  function(data){
					dialogo.html(data);
				});
		    }
	    });
	});



	function mostrarModal(url){
		modalCargaProductos = $('<div></div>').dialog({
			resizable: false,
		    title: "Cargar producto",
		    height: 400,
		    width: 750,
		    modal: true,
		    open: function( event, ui ) {
				$.get(url, function(data){
					modalCargaProductos.html(data);
				});
		    },
		    close: function(event, ui ){
		    	modalCargaProductos.dialog('destroy');
			}
		  });

		modalCargaProductos.on('click', '.cancelar', function(){
			modalCargaProductos.dialog('destroy');
			return false;
		});

		modalCargaProductos.on('submit', function(e){
			var href = $(e.target).attr('action');
			var data = $(e.target).serialize();
			$.post(href, data, function(resultado){
				if(resultado.success && resultado.nuevo){
					$('#listaLineaNotaDebitos tbody').prepend(resultado.html);
					$('#mensajeSinResultadosDebitos').remove();
					$('#listaDeNotaDebitos').removeClass('hide');


					modalCargaProductos.dialog( "destroy" );
				} else if(resultado.success && resultado.modificar){
					$(lineaParaEditar).replaceWith(resultado.html);
					modalCargaProductos.dialog( "destroy" );
				} else {
					modalCargaProductos.html(resultado);
				}
			});
			return false;
		});


		return modalCargaProductos;
	}


	contenedor.find('form').on('submit', function(){
		var url = $(this).attr("action");
		var query = $(this).serialize();
		$.get(url+"?"+query, function(data){
			contenedor.parent().html(data);
		});
		return false;
	});
});
</script>
