@(linea: models.recupero.RecuperoNotaDebito, editable: Boolean)
@import models.auth._

<tr data-id="@linea.id">

	<!-- <td class="accion-editar"><a class="btn btn-default btn-xs modificarNotaCredito" href="@controllers.recupero.routes.RecuperoNotasCreditosController.editar(linea.id)"><i class="glyphicon glyphicon-edit"></i></a></td>
	  -->
	<td>@if(linea.getNumero() != null){@(linea.getNumero())}</td>
	<td>@if(linea.cae != null){@(linea.cae)}</td>
	<td>@if(linea.fecha_vencimiento != null){@(utils.DateUtils.formatDate(linea.fecha_vencimiento))}</td>

	<td>@if(linea.planilla != null){@(linea.planilla.getRecuperoPlanillaEjercicio())}</td>
	<td>@if(linea.fecha != null){@(utils.DateUtils.formatDate(linea.fecha))}</td>
	<td>@linea.producto.nombre</td>

	<td>@linea.cantidad</td>
	<td>@utils.NumberUtils.moneda(linea.precio, 2)</td>
	<td>@utils.NumberUtils.moneda(linea.getTotal(),2)</td>
	<td>@linea.nota</td>
	<td>
		@if(linea.cae != null && !linea.cae.isEmpty()) {
			<a class="btn btn-default btn-xs notSeleccion notaDebito" data-url="@controllers.recupero.routes.RecuperoReportesController.notaDebito(linea.id)">
				<i class="glyphicon glyphicon-list-alt"></i>
			</a>
		}
		@if(Permiso.check("recuperoNotasEliminar")) {
			<a class="btn btn-default btn-xs eliminarNotaDebito delete-confirm-link" href="@controllers.recupero.routes.RecuperoNotasDebitosController.eliminar(linea.id)">
			<i class="glyphicon glyphicon-trash icono-eliminar"></i></a>
		}
		@if(Usuario.getUsuarioSesion() == 1  && (linea.cae == null || linea.cae.isEmpty())){
			<a href="@controllers.recupero.routes.RecuperoFacturasController.correrNota(linea.id,TipoComprobante.NOTA_DEBITO)" class="btn btn-default">
				<i class="glyphicon glyphicon-minus-sign"></i>
			</a>
		}
	</td>

</tr>
<script>
$( function(){



});
</script>