@(paginador:  utils.pagination.Pagination[Dispo],expedienteId:Long)
@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 
<div id="listaDispos" class="contenedorPaginador ajaxPaginador">

	<p>
		<b>Disposiciones</b>
	</p>
	
	@if(paginador.getTotalRowCount() > 0) {
		Mostrando @paginador.getDisplayXtoYofZ(" a "," de ") resultado(s).
	}
	
	<table id="listaDeDispos" class="table table-striped table-bordered">
		<thead>
			<tr>
	
				<th width="30">#</th>
				<th width="30">Número</th>
				<th width="30">Expediente</th>
				<th width="30">Fecha</th>
				<th>Descripcion</th>
				<th width="30">#</th>
			<tr>	
		</thead>
		<tbody>
		@for(dispo <- paginador.getList) {
			 <tr>
					
				<td class="notSeleccion">
					 
				</td>
				<td align="center"><b>@dispo.numero</b></td>
				<td>@dispo.expediente.getExpedienteEjercicio()</td>
				<td>@DateUtils.formatDate(dispo.fecha)</td>
				<td>@dispo.descripcion</td>
				<td>
					 
					 
				</td>
			</tr>
		}
		</tbody>
	</table>
	
	
	<div class="pagination pull-right">
	    @views.html.helpers.paginador(paginador, controllers.expediente.routes.DisposController.getDisposPorExpediente())
	</div>
</div>

<script>
$( function(){
	
	 


		 
	
		
});	
</script>