@(formularioCarga: Boolean, idCreditoPresupuestario: Long = null)
@import java.util.List

@if(idCreditoPresupuestario == null){
	<p>Para cargar lineas primero debe dar de alta el crédito presupuestario.</p>
} else {
	<script>
		$( function (){
			$.get('@controllers.presupuesto.routes.LineasCreditosPresupuestariosController.index(idCreditoPresupuestario, formularioCarga)', function(data){
				$('#listaLineaCreditos').parent().html(data);
			})
		});
	</script>
}

<div id="listaLineaCreditos">

</div>
