@(formularioCarga: Boolean, creditoPresupuestario: CreditoPresupuestario = null)
@import java.util.List

@if(creditoPresupuestario == null){
	<p>Para cargar lineas primero debe dar de alta el crédito presupuestario.</p>
} else {
	<script>
		$( function (){
			$.get('@controllers.presupuesto.routes.LineasRecursosPresupuestariosController.index(creditoPresupuestario.id, formularioCarga)', function(data){
				$('#listaLineaRecursos').parent().html(data);
			})
		});
	</script>
}

<div id="listaLineaRecursos">

</div>
