@(buscador: utils.pagination.Pagination[CreditoPresupuestario], formBuscador: DynamicForm)
@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

@views.html.presupuesto.mainPresupuesto("Lista de Saldos Presupuestarios") {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Lista de créditos presupuestarios</h1>
			</div>
			<div class="col-sm-5">
				<div class="dropdown pull-right btn-header">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-list-alt"></i>
				    Reportes
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="presentation"><a role="menuitem" id="reporteListadoCreditos" data-url="@controllers.presupuesto.routes.CreditosPresupuestariosController.reporteListadoCreditos()" tabindex="-1" href="#">Listado Creditos</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
	<div id="actions">
		<div class="row">
			<form action="" method="GET">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="nombre" class="control-label">Nombre
						@inputText(formBuscador("nombre"), 'class -> "form-control")
						</label>
					</div>
				</div>
				<div class="col-sm-2">
				<label class="control-label">Ejercicio
					@select(formBuscador("ejercicio"), Ejercicio.getEjercicios().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
					</label>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="nombre" class="control-label">&nbsp;</label>
					<button  class="form-control btn btn-primary">Buscar</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="nombre" class="control-label">&nbsp;</label>
					<a href="@controllers.presupuesto.routes.CreditosPresupuestariosController.index()"  class="form-control btn btn-default">Limpiar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	@if(Permiso.check("crearCredito")) {
	<div class="row">
		<div class="col-sm-2">
			<a href="@controllers.presupuesto.routes.CreditosPresupuestariosController.crear"  class="form-control btn btn-default">Nuevo crédito</a>
		</div>
	</div>
	}
	@if(buscador.getTotalRowCount == 0) {

        <div class="well">
            <em>No se encuentran créditos</em>
        </div>

    } else {

		Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s).

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="30"><input type="checkbox" name="checkAll" id="checkAll"/></th>
					<th width="50">#</th>
					<th width="100">Código</th>
					<th width="500">Ley</th>
					<th width="30">Fecha</th>

					<th style="text-align:center">Ejercicio</th>
					<th style="text-align:center">Total</th>
					<th style="text-align:center">Total Recurso</th>
					<th style="text-align:center">Plan Sumar</th>
					<th style="text-align:center">Afecta</th>
					<th style="text-align:center">Estado</th>
					<th class="50">#</th>
				</tr>
			</thead>
			<tbody>
			@for(credito <- buscador.getList) {
				<tr class="pointer" data-href="@controllers.presupuesto.routes.CreditosPresupuestariosController.ver(credito.id)">
					<td><input type="checkbox" name="check_listado[]" class="notSeleccion" value="@credito.id" id="check-@credito.id"/></td>
					<td>
						@if(Permiso.check("crearCredito")) {
						<a class="btn btn-default btn-xs notSeleccion" href="@controllers.presupuesto.routes.CreditosPresupuestariosController.editar(credito.id)">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						}
					</td>
					<td>@(credito.id)</td>
					<td>@(credito.nombre)</td>
					<td>@(utils.DateUtils.formatDate(credito.fecha))</td>

					<td align="center">@(credito.ejercicio.nombre)</td>
					<td align="center">@utils.NumberUtils.moneda(credito.getTotal())</td>
					<td align="center">@utils.NumberUtils.moneda(credito.getTotalRecursos())</td>
					<td align="center">@if(credito.plan_sumar == true){SI}else{NO}</td>
					<td align="center">@if(credito.afecta == true){SI}else{NO}</td>
					<td align="center">@(credito.estado)</td>

					<td>
						@if(Permiso.check("eliminarCredito")) {
						<a href="@controllers.presupuesto.routes.CreditosPresupuestariosController.eliminar(credito.id)">
							<i class="glyphicon glyphicon-remove-circle"></i>
						</a>
						}
					</td>
				</tr>
             }
	        </tbody>
        </table>

		<div class="pagination pull-right">
		    @views.html.helpers.paginador(buscador, controllers.presupuesto.routes.CreditosPresupuestariosController.index())
		</div>
 	 }
}
<script>
$( function(){
$('#reporteListadoCreditos').click( function() {
		var url = $(this).attr("data-url");
		var dialogo = $('<div></div>');

		dialogo.dialog({
			title: "Listado Creditos",
	    	resizable: false,
			autoOpen: true,
			modal: true,
			height: 250,
			width:750,
	        buttons: {
		          Cerrar: function() {
		            $( this ).dialog( "destroy" );
		          }
		    },
	    	close: function(event, ui ){
	    		$(this).dialog( "destroy" );
	    	},
		    open: function( event, ui ) {
				$.post(url, getCheckSeleccionados(), function(data){
					dialogo.html(data);
				});
		    }
	    });
	});
});

function getCheckSeleccionados(){
	return $("input[name='check_listado[]']").serialize();
}
</script>

