@(buscador: utils.pagination.Pagination[models.haberes.EscalaLaboral], formBuscador: DynamicForm)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 

<div id="modalBusquedaEscalasLaborales" class="contenedorPaginador ajaxPaginador">
<form action="@controllers.haberes.routes.EscalasLaboralesController.modalBuscar()" method="GET">
	<div class="row">
		<div class="col-sm-6">
			<label class="control-label">Denominacion</label>
			@inputText(formBuscador("nombre"), 'class -> "form-control", 'autofocus -> "autofocus")
			
		</div>
		<div class="col-sm-3">
			<label class="control-label">&nbsp 
			<button class="btn btn-primary form-control">Buscar</button>
			</label>
		</div>
	</div>
</form>

@if(buscador.getTotalRowCount == 0) {
	<div class="well">
	    <em>No se encuentran escalas</em>
	</div>
} else {
    Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s). 
    	
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Denominacion</th>
			</tr>
		</thead>
		<tbody>
    	
    @for(lc <- buscador.getList) {
	<tr data-id="@lc.id" class="modalSeleccionEscalaLaboral">
		<td> @lc.nombre</td>
	</tr>    
    }
    </tbody>
    </table>
    
	<div class="pagination pull-right">
	    @views.html.helpers.paginador(buscador, controllers.haberes.routes.EscalasLaboralesController.modalBuscar())
	</div>	
}
</div>

<script>
$( function(){
	var contenedor = $("#modalBusquedaEscalasLaborales");
										   
	var url = "@controllers.haberes.routes.EscalasLaboralesController.get()"
	contenedor.find('.modalSeleccionEscalaLaboral').on('click', function(){
		var id = $(this).attr('data-id');
		$.get(url+"?id="+id, function(data){
			$(document).trigger("modal.seleccion.escalaLaboral.simple", data);
		});
	});
	
	contenedor.find('form').on('submit', function(){
		var url = $(this).attr("action");
		var query = $(this).serialize();
		$.get(url+"?"+query, function(data){
			contenedor.parent().html(data);
		});
		return false;
	});
});
</script>