@(especialidadForm: Form[Especialidad])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group @if(especialidadForm.error("nombre") != null) {has-error}else{has-required}">
				<label for="inputNombre" class="control-label">Nombre</label> 
				@inputText(especialidadForm("nombre"), 'class -> "form-control")
				@especialidadForm("nombre").error.map{ error =>
					<div class="text-error">@error.message</div>
				}
			</div>
		</div>
	</div>
	