@(cuentaForm: Form[CuentaAnalitica], cuentaPadre: CuentaAnalitica)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 
@views.html.contabilidad.mainContabilidad("Modificar cuenta") {

<div class="page-header">
	<div class="row">
		<div class="col-sm-9">
			<h1>Editar cuenta</h1>
		</div>
		<div class="col-sm-2">
			<a href="@controllers.contabilidad.routes.CuentasAnaliticasController.index(cuentaForm.get().id)" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a> 
			<a href="#" class="btn btn-default"><i class="glyphicon glyphicon-align-justify"></i></a> 
		</div>
	</div>
</div>

@if(flash.containsKey("success")) {
	<div class="alert alert-success">
		<i class="glyphicon glyphicon-ok-circle"></i> @flash.get("success")
	</div>
}
@if(flash.containsKey("error")) {
	<div class="alert alert-danger">
		<i class="glyphicon glyphicon-remove-sign"></i> @flash.get("error")
	</div>
}

@helper.form(action = controllers.contabilidad.routes.CuentasAnaliticasController.actualizar()) {
	@inputText(cuentaForm("id"), 'hidden -> "hidden")
	@inputText(cuentaForm("parent_id"), 'hidden -> "hidden")
	@views.html.contabilidad.cuentasAnaliticas.form(cuentaForm, cuentaPadre)
	<div class="row form-actions">
	    <div class="col-lg-offset-4 col-lg-8">
	      <a href="@controllers.contabilidad.routes.CuentasAnaliticasController.index(cuentaForm.get().id)" class="btn btn-default">Cancelar</a>
	      <button type="submit" class="btn btn-sistema">Editar</button>
	    </div>
	</div>
}


}
