@(acta: ActaRecepcion, paginadorFicha: utils.pagination.PaginadorFicha,fechaDispo:Date)
@import helper._
@import models.auth._
@import utils._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

@paginadorFicha.setActual(acta.id.toString)

@scripts = {
	<script src="@routes.Assets.at("javascripts/patrimonio/actasRecepcion.js")" type="text/javascript"></script>
}

@views.html.patrimonio.mainPatrimonio("Vista de acta", scripts) {
	<div class="page-header">
		<div class="row">
			<div class="col-sm-4">
				<h1>Vista de acta @if(acta.ordenProvision.ordenCompra.expediente  != null){
									@if(acta.ordenProvision.ordenCompra.expediente.emergencia){
										<span style="color:red;font-weight: bold;font-size:14px; ">(Emergencia Sanitaria)</span>}}</h1>
			</div>
			<div class="col-sm-3">
				@if(fechaDispo != null){
				<h1><span style="color:red;font-weight: bold;font-size:14px; ">Fecha Dispo: @(DateUtils.formatDate(fechaDispo))</span></h1>
				}
			</div>
			<div class="col-sm-5">
				<div class="dropdown pull-right">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 		<i class="glyphicon glyphicon-list-alt"></i> Reportes<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						@if(Permiso.check("actaRecepcionReporte")) {
							<li role="presentation"><a role="menuitem" tabindex="-1" href="@controllers.patrimonio.routes.ActasRecepcionReportesController.reporte(acta.id)">Reporte acta de recepción</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="@controllers.patrimonio.routes.ActasRecepcionReportesController.reporteActaCierre(acta.id)">Reporte acta de cierre</a></li>
							<li role="presentation"><a role="menuitem" class="reporteGenerico" tabindex="-1" href="#" data-title="Lista Remitos" data-url="@controllers.patrimonio.routes.ActasRecepcionReportesController.imprimirRemitosByActa(acta.id)">Lista Remitos</a>
							<li role="presentation"><a role="menuitem" class="reporteGenerico" tabindex="-1" href="#" data-title="Lista Remitos" data-url="@controllers.patrimonio.routes.ActasRecepcionReportesController.imprimirCertificacionByActa(acta.id)">Lista Certificaciones</a>
						}


					</ul>
				</div>

				<div class="dropdown pull-right btn-header">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-list-alt"></i>
				    Acciones
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">


				  	@if(Permiso.check("expedientesPasarAOtroServicio")) {
					  	<li role="presentation">
					  		<a role="menuitem" id="accionPasarOtroServicio" tabindex="-1" href="#"
					    						   data-url="@controllers.patrimonio.routes.ActasMovimientosController.modalPasarOtroServicioIndividual(acta.id)">
					    						   Pasar a otro servicio</a>

					 	</li>

					 	<li role="presentation">
					  		<a role="menuitem" id="accionCerrarCircuitoPase" tabindex="-1" href="#"
					    						   data-url="@controllers.patrimonio.routes.ActasMovimientosController.modalCierreCircuitoIndividual(acta.id)">
					    						   Cerrar Circuito Pases</a>

					 	</li>
				 	}

				 	@if(Permiso.check("expedientesCancelarPase")) {
				    	<li><a id="cancelarPase" href="#" data-url="@controllers.patrimonio.routes.ActasMovimientosController.cancelarPase(acta.id)">Cancelar Pase</a></li>
				  	}
				  	@if(Permiso.check("expedientesAsignarMiServicio")) {
					  	<li role="presentation">
					  		<a role="menuitem" id="asignarMiServicio" tabindex="-1" href="#"
					    						   data-url="@controllers.patrimonio.routes.ActasMovimientosController.asignarMiServicio(acta.id)">
					    						   Asignar a Mi Servicio</a>
					 	</li>
				 	}
				  </ul>
				</div>

			</div>
		</div>
	</div>

	@views.html.tags.successError()

	<div class="row menu-acciones">
		<div class="col-sm-4">
		@if(Permiso.check("actaRecepcionCrear")) {
			<a href="@controllers.patrimonio.routes.ActasRecepcionController.editar(acta.id)@UriTrack.get("&")"  class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar</a>
		}
		@if(Permiso.check("actaRecepcionEliminar")) {
			<a href="@controllers.patrimonio.routes.ActasRecepcionController.eliminar(acta.id)@UriTrack.get("&")"  class="btn btn-default delete-confirm-link"><i class="glyphicon glyphicon-trash icono-eliminar"></i> Eliminar</a>
		}
		</div>
		<div class="col-sm-5">
			@if(acta.ordenProvision != null){
				@if(acta.ordenProvision.ordenCompra.tipo_moneda != null){
					<span style="color:green;font-weight:bold;font-size: 18px;">MONEDA EXTRANJERA</span> -
				}
			}
			@if(acta.servicio != null) {
				<span style="color:red;font-weight:bold;font-size: 18px;">Depto/Servicio - @acta.servicio</span>
			}
		</div>
		<div class="col-sm-3">
			<a href="@UriTrack.getOnNull(controllers.patrimonio.routes.ActasRecepcionController.index().absoluteURL())" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
			 @if(paginadorFicha.getLista().size() > 1){
				<div class="btn-group">
					@if(paginadorFicha.hasPrev()) {
						<a  role="group" href="@controllers.patrimonio.routes.ActasRecepcionController.ver(paginadorFicha.prev().toLong)@UriTrack.get("&")" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></a>
					}
					<p style="padding-top: 3px" href=""  role="group" class="btn btn-default">@paginadorFicha.posicionActual() de @paginadorFicha.getLista().size()</p>
					@if(paginadorFicha.hasNext()) {
						<a  role="group" href="@controllers.patrimonio.routes.ActasRecepcionController.ver(paginadorFicha.next().toLong)@UriTrack.get("&")" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></a>
					}
				</div>
			}
		</div>
	</div>



	<div class="row">
		<input type="hidden" id="idActa" name="idActa" value="@acta.id"/>
		<div class="col-sm-2">
			<label class="control-label">Número</label>
			<p class="form-control-static form-control">@acta.numero</p>
		</div>

		<div class="col-sm-2">
			<label class="control-label">Orden de provisión</label>
			<p class="form-control-static form-control">
			@if(acta.ordenProvision != null) {
				@acta.ordenProvision.numero
			}else{
				@if(acta.recepciones.size() > 0) { @acta.recepciones.get(0).ordenProvision.numero }
				@if(acta.certificaciones.size() > 0) { @acta.certificaciones.get(0).ordenProvision.numero }
			}
			</p>
		</div>

		<div class="col-sm-2">
			<label class="control-label">Orden de compra</label>
			<p class="form-control-static form-control">
				@if(acta.ordenProvision.ordenCompra != null) {
					@acta.ordenProvision.ordenCompra.nombre
				}else{
					@if(acta.recepciones.size() > 0) { @acta.recepciones.get(0).ordenProvision.ordenCompra.nombre }
					@if(acta.certificaciones.size() > 0) { @acta.certificaciones.get(0).ordenProvision.ordenCompra.nombre }
				}
			</p>

		</div>

		<div class="col-sm-3">
			<div class="col-sm-6">
				<label class="control-label">Ejercicio</label>
				<p class="form-control-static form-control">@if(acta.ejercicio != null) {@acta.ejercicio.nombre}</p>
			</div>

			<div class="col-sm-6">
				<label class="control-label">Fecha</label>
				<p class="form-control-static form-control">@(DateUtils.formatDate(acta.fecha))</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="col-sm-6">
				<label class="control-label">Tipo</label>
				<p class="form-control-static form-control">@if(acta.cierre) { Cierre } else { Parcial }</p>
			</div>
			<div class="col-sm-6">
				<div class="">
					<label for="" class="control-label">Cotización</label>
					<p class="form-control-static form-control">
					@if(acta.ordenProvision.ordenCompra.tipo_moneda != null) {
						@UltimaCotizacion.getMoneda(acta.ordenProvision.ordenCompra.tipo_moneda)
						@utils.NumberUtils.moneda(acta.cot_dolar, 2)
					}
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-2">
			<label class="control-label">Total</label>
			<p class="form-control-static form-control">@utils.NumberUtils.moneda(acta.getSubTotal())</p>
		</div>

		<div class="col-sm-2">
			<label class="control-label">Ajustes</label>
			<p class="form-control-static form-control">@utils.NumberUtils.moneda(acta.getTotalAjustesConLineasAjustes())</p>
		</div>

		<div class="col-sm-4">
			<label class="control-label">Proveedor</label>
			<p class="form-control-static form-control">
				@if(acta.ordenProvision != null) {@acta.ordenProvision.ordenCompra.proveedor.nombre }
			</p>
		</div>

		<div class="col-sm-4">
			<label class="control-label">Responsable</label>
			<p class="form-control-static form-control">@acta.create_usuario.nombre</p>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-2">
			<label class="control-label">Periodo</label>
			<p class="form-control-static form-control">@if(acta.periodo != null) {@acta.periodo.nombre}</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-10">
			<label class="control-label">Observaciones</label>
			<p class="form-control-static form-control">@acta.observaciones</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10">
			<label class="control-label">Nota Interna</label>
			<p class="form-control-static form-control">@acta.nota_interna</p>
		</div>
	</div>



<hr />

	@views.html.patrimonio.actaRecepcion.tabsActaRecepcion(false, acta)






	<h4>Estado actual: 	<b>@acta.estado.nombre</b></h4>

	<div class="row margin-bottom-25">

		@if(acta.ordenProvision != null && acta.ordenProvision.ordenCompra.tipo_moneda != null && acta.estado.id == models.Estado.ACTA_ESTADO_ENCURSO && acta.estado.id != models.Estado.ACTA_ESTADO_PRECALCULAR_AJUSTES){


				<div class="col-sm-3">
					<a href="@controllers.patrimonio.routes.ActasRecepcionController.cambiarEstado(acta.id, models.Estado.ACTA_ESTADO_PRECALCULAR_AJUSTES)@UriTrack.get("&")" class="btn btn-default btn-disable-onclick">
						<i class="glyphicon glyphicon glyphicon-usd" style="color:green;"></i> Precalcular Ajustes
					</a>
				</div>

		}else{
			@if(acta.estado.id == models.Estado.ACTA_ESTADO_PRECALCULAR_AJUSTES){
				<div class="col-sm-3">
					<a href="@controllers.patrimonio.routes.ActasRecepcionController.cambiarEstado(acta.id, Estado.getEstado(Estado.ACTA_ESTADO_APROBADA,Estado.TIPO_ACTA).id.toLong)@UriTrack.get("&")" class="btn btn-default btn-disable-onclick">
						<i class="glyphicon glyphicon-arrow-right"></i> @Estado.getEstado(Estado.ACTA_ESTADO_APROBADA,Estado.TIPO_ACTA).nombre
					</a>
				</div>
			}else{
				@for(estado <- models.Estado.getSiguienteEstadoPorAprobar(acta.estado.orden,models.Estado.TIPO_ACTA)) {
					@if(estado.orden <= 4) {
						<div class="col-sm-3">
							<a href="@controllers.patrimonio.routes.ActasRecepcionController.cambiarEstado(acta.id, estado.id.toLong)@UriTrack.get("&")" class="btn btn-default btn-disable-onclick">
								<i class="glyphicon glyphicon-arrow-right"></i> @estado.nombre
							</a>
						</div>
					}
				}
			}
		}
		@if(acta.estado.id == models.Estado.ACTA_ESTADO_CANCELADA) {
			<div class="col-sm-3">
				<a href="@controllers.patrimonio.routes.ActasRecepcionController.cambiarEstado(acta.id, models.Estado.ACTA_ESTADO_BORRADOR)@UriTrack.get("&")" class="btn btn-default btn-disable-onclick">
					<i class="glyphicon glyphicon-arrow-right"></i> Volver a Borrador
				</a>
			</div>
		}else{
			<div class="col-sm-3">
				<a href="@controllers.patrimonio.routes.ActasRecepcionController.cambiarEstado(acta.id, models.Estado.ACTA_ESTADO_CANCELADA)@UriTrack.get("&")" class="btn btn-default btn-disable-onclick">
					<i class="glyphicon glyphicon-minus-sign"></i> Cancelar Acta
				</a>
			</div>
		}
	</div>





}


