@(buscador: utils.pagination.Pagination[Auditoria], formBuscador: DynamicForm)
@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }



@views.html.dashboard.mainDashboard("Auditoria") {
	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Auditoria</h1>
			</div>

		</div>
	</div>
	
	<div id="actions">
		<form action="" method="GET">

			<div class="row">

				<div class="col-sm-2">
					<label class="control-label"> 
						Tipo
						@select(formBuscador("tabla"), options(Auditoria.getTablas()), 'class -> "form-control select", '_default -> "Seleccionar")
					</label>
				</div>
				
				<div class="col-sm-3">
					<div class="form-group">
						<label for="inputPeriodo" class="control-label">Usuario</label> 
						<div class="input-group">
							
							@inputText(formBuscador("usuario.nombre"), 'name -> "usuario", 'class -> "form-control", 'id -> "usuario")
							@inputText(formBuscador("usuario_id"), 'hidden -> "hidden", 'id -> "usuario_id")
							<span class="input-group-addon">
							<a href="#" class="searchModal"
										id="searchPeriodo" 
										data-title="Selección de usuarios" 
										data-url="@controllers.administracion.routes.UsuariosController.modalBuscar()" 
										data-height="650" 
										data-width="700" 
										data-listen="modal.seleccion.usuario.simple" 
										data-label="#usuario" 
										data-field="#usuario_id">
								<i class="glyphicon glyphicon-search"></i>
							</a>
							</span>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3">
					<label class="control-label"> 
						Operación
						@select(formBuscador("operacion"),options("" -> "Todas", "U"->"Modificación","I"->"Creación","D"->"Eliminación"), 'class -> "form-control select")
					</label>
				</div>
				
				<div class="col-sm-2 input-group">
					<label class="control-label">Fecha OP</label>
					<div>
						@inputText(formBuscador("fecha_desde"), 'class -> "form-control inputDateMascara", 'id -> "fecha_desde", 'placeholder -> "Desde")
						@inputText(formBuscador("fecha_hasta"), 'class -> "form-control inputDateMascara", 'id -> "fecha_hasta", 'placeholder -> "Hasta")
					</div>
				</div>
				
			</div>
			
			
			<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
						<label for="nombre" class="control-label">&nbsp;</label>
						<button  class="form-control btn btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
						<label for="nombre" class="control-label">&nbsp;</label>
						<a href="@controllers.dashboard.routes.AuditoriaController.index()"  class="form-control btn btn-default">Limpiar</a>
						</div>
					</div>
			</div>
			
			
		</form>
	</div>
	
	

	@if(buscador.getTotalRowCount == 0) {
        
        <div class="well">
            <em>No se encuentran registros</em>
        </div>
        
    } else {
		
		Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s). 
		
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="40">id</th>
					<th width="40">Operación</th>
					<th width="40">Fecha</th>
					<th width="80">Tipo</th>
					<th width="40">ID</th>
					<th width="120">Usuario</th>
					<th width="30">Campo</th>
					<th>Valor antiguo</th>
					<th>Valor actual</th>
				</tr>
			</thead>
			<tbody>
			@for(a <- buscador.getList) {
				 
				<tr>
					<td>@a.id</td>
					<td>@a.getOperacion()</td>
					<td>@DateUtils.formatDate(a.fecha)</td>
					<td>@Auditoria.getTablas().get(a.tabla)</td>
					<td>-@a.id_objeto-</td>
					<td>@if(a.usuario != null) { @a.usuario.nombre}</td>
					<td>@a.campo_actual</td>
					<td>@a.valor_antiguo</td>
					<td>@a.valor_actual</td>
				</tr>
             }
	        </tbody>
        </table>
		
		<div class="pagination pull-right">
		    @views.html.helpers.paginador(buscador, controllers.dashboard.routes.AuditoriaController.index())
		</div>
 	 }


<script>
$( function() {
	$('.searchModal').modalSearch();
	
})
</script>
	
}