@(cuentas: List[Cuenta])

@if(cuentas.size() > 0){
	<ul>
    @for(cuenta <- cuentas) {
    	<li>
    		<a href="?id=@cuenta.id.toInt" class="hide"></a>
	    	<a href="@controllers.contabilidad.routes.CuentasController.crear(cuenta.id.toInt)"><i class="glyphicon glyphicon-plus-sign"></i></a>
	    	<a href="@controllers.contabilidad.routes.CuentasController.editar(cuenta.id.toInt)"><i class="glyphicon glyphicon-edit"></i></a>
	    	<a href="@controllers.contabilidad.routes.CuentasController.eliminar(cuenta.id.toInt)"><i class="glyphicon glyphicon-remove"></i></a>
    		<span><span>@cuenta.code</span>  @cuenta.nombre</span>
    		@views.html.contabilidad.cuentas.listaCuenta(Cuenta.getHijos(cuenta.id)) 
    	</li>
    }
	</ul>
}
