@(title: String, scripts: Html = Html(""))(content: Html)
@import models.auth._
@main(title: String, scripts){
<div class="row">
	<div class="col-sm-2">
		<div class="menu-contenido">
		<ul class="nav nav-pills nav-stacked">
			<li class="titulo">Residentes</li>
			@if(Componente.check("residentes")) {
				<li><a href="@controllers.rrhh.routes.ResidentesController.indexResidente()">Residentes</a></li>
			}


		</ul>
		</div>
	</div>
	<div id="contenido" class="col-sm-10">@content</div>
	</div>
}