@(paginador:  utils.pagination.Pagination[models.Novedad], formBuscador: DynamicForm)

<div id="listaLineaProductos" class="contenedorPaginador ajaxPaginador">


@if(paginador.getTotalRowCount() > 0) {
	Mostrando @paginador.getDisplayXtoYofZ(" a "," de ") resultado(s).
}

		<table id="listaRecuperoFacturas" class="table table-striped table-bordered">
			<thead>
				<tr>

					<th width="70">Fecha</th>
					<th>Agente</th>
					<th>Habiles</th>



				</tr>
			</thead>
			<tbody>
				@for(rf <- paginador.getList) {
					<tr class="@if(rf.habiles) {borrador}else{red}">
						<td class="fechaRecuperoFactura">@if(rf.fecha_inicio != null){@(utils.DateUtils.formatDate(rf.fecha_inicio))}</td>
						<td>@(rf.agente.apellido)</td>
						<td>@if(rf.habiles){SI}else{NO}</td>
					</tr>
				}
			</tbody>

    	</table>



<div class="pagination pull-right">
    @views.html.helpers.paginador(paginador, controllers.novedades.routes.NovedadesController.listaNovedadesPlanificacion())
</div>
</div>