@(formularioCarga: Boolean,
planificacionForm: Form[models.novedades.Planificacion] = null,
planificacion:models.novedades.Planificacion = null,
diasHabilesInhabiles: java.util.Map[String,Integer],
totalHorarPorDiaPorPlanificacion:List[com.avaje.ebean.SqlRow])
@import utils._
@import helper._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

@split(i:String) = @{

	var s:Array[java.lang.String]= i.split("@@@")

	var ret = new String()

	for(sx <- s){
	}


	ret
}

@if(!formularioCarga){

<hr />
<div class="row">
	<ul id="recuperoFacturaTab" class="nav nav-tabs">
		<li class="active"><a class="tabAcciones" href="#contenedorAcciones" data-toggle="tab">Acciones</a></li>

		<!-- -------------------PRODUCCION GENERAL----------------------------- -->
		@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.PRODUCCION_GENERAL) {
			<li><a class="tabDetalles" href="#contenedorProduccionTotalizados" data-toggle="tab">Produccion Totalizados</a></li>
			<li><a class="tabDetalles" href="#contenedorDetalles" data-toggle="tab">Detalles Por Agente</a></li>

		}

		<!-- -------------------PRODUCCION IMAGENES GENERAL----------------------------- -->
		@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.PRODUCCION_IMAGENES) {
			<li><a class="tabDetalles" href="#contenedorProduccionTotalizados" data-toggle="tab">Produccion Totalizados</a></li>
			<li><a class="tabDetalles" href="#contenedorProduccionImagenesDetalles" data-toggle="tab">Detalles Por Agente</a></li>


		}

		<!-- -------------------GUARDIAS----------------------------- -->
		@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.GUARDIA || planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.HS_FARMACIA_ADMINISTRATIVOS) {

			<li><a class="tabDetalles" href="#contenedorDetalles" data-toggle="tab">Novedades Detalles</a></li>
			<li><a class="tabHoras" href="#contenedorHoras" data-toggle="tab">Cantidad Horas</a></li>
		}

		<li><a class="tabNotas" href="#contenedorNotas" data-toggle="tab">Notas Servicio</a></li>
		<li><a class="tabNotasRrhh" href="#contenedorNotasRrhh" data-toggle="tab">Notas RRHH</a></li>
		<li><a class="tabNotasNotasLiqui" href="#contenedorNotasLiqui" data-toggle="tab">Notas Liquidaciones</a></li>
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="contenedorAcciones">
			 <div class="row">
			 	<!-- -------------------GUARDIAS----------------------------- -->
				@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.GUARDIA) {
					<div class="col-sm-6">
						 <div class="panel panel-default">
							<div class="panel-heading"><b>Detalles</b></div>
							<div class="panel-body">
								@views.html.novedades.planificaciones.tabs.detallesGuardias(planificacion,diasHabilesInhabiles)
							</div>
						</div>
					</div>
				}
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading"><b>Acciones</b></div>
						<div class="panel-body">

							<div class="row margin-bottom-25">

								<div class="col-sm-12">
									<div class="row margin-bottom-25">

										@for(estado <- models.Estado.getSiguienteEstadoPorAprobar(planificacion.estado.orden,models.Estado.TIPO_PLANIFICACION)) {
											@if(estado.orden <= 6) {
												<div class="col-sm-3">
													<a href="@controllers.novedades.routes.PlanificacionesController.cambiarEstado(planificacionForm.field("id").value.toInt, estado.id.toLong)@UriTrack.get("&")" class="btn btn-default">
														<i class="glyphicon glyphicon-arrow-right"></i> @estado.nombre
													</a>
												</div>

											}
										}
										@if(planificacion.estado.id == models.Estado.PLANIFICIACION_APROBADO_LIQUIDACIONES) {
											@if(Permiso.check("planificacionCrearNovedades")) {
												@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.GUARDIA) {
													<div class="col-sm-3">
														<a href="@controllers.novedades.routes.PlanificacionesController.crearNovedades(planificacionForm.field("id").value.toInt)@UriTrack.get("&")" class="btn btn-default">
															<i class="glyphicon glyphicon glyphicon-share-alt"></i> Crear Novedades
														</a>
													</div>
												}

												@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.PRODUCCION_GENERAL) {
													<div class="col-sm-3">
														<a href="@controllers.novedades.routes.PlanificacionesController.crearNovedadesProduccionGeneral(planificacionForm.field("id").value.toInt)@UriTrack.get("&")" class="btn btn-default">
															<i class="glyphicon glyphicon glyphicon-share-alt"></i> Crear Novedades
														</a>
													</div>
												}

												@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.PRODUCCION_IMAGENES) {
													<div class="col-sm-3">
														<a href="@controllers.novedades.routes.PlanificacionesController.crearNovedadesProduccionImagenes(planificacionForm.field("id").value.toInt)@UriTrack.get("&")" class="btn btn-default">
															<i class="glyphicon glyphicon glyphicon-share-alt"></i> Crear Novedades
														</a>
													</div>
												}
											}

										}
									</div>
									<div class="row margin-bottom-25">

										@if(planificacion.estado.id == models.Estado.PLANIFICIACION_CANCELADO) {
											<div class="col-sm-3">
												<a href="@controllers.novedades.routes.PlanificacionesController.cambiarEstado(planificacionForm.field("id").value.toInt, models.Estado.PLANIFICIACION_BORRADOR)@UriTrack.get("&")" class="btn btn-default">
													<i class="glyphicon glyphicon-arrow-right"></i> Volver a Borrador
												</a>
											</div>
										}else{
											<div class="col-sm-3">
												<a href="@controllers.novedades.routes.PlanificacionesController.cambiarEstado(planificacionForm.field("id").value.toInt, models.Estado.PLANIFICIACION_CANCELADO)@UriTrack.get("&")" class="btn btn-default">
													<i class="glyphicon glyphicon-minus-sign"></i> Cancelar Planificacion
												</a>
											</div>
										}



									</div>
										<hr>

										<h4>Estado:
											<b>@planificacion.estado.nombre</b>
										</h4>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.PRODUCCION_GENERAL) {
			<div class="tab-pane" id="contenedorProduccionTotalizados">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><b>Listado Produccion Totalizados Por Agente</b></div>
						<div class="panel-body">
							<div class="col-sm-12">
								@views.html.novedades.planificaciones.tabs.detallesProduccionTotalizados(planificacion)
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="contenedorDetalles">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><b>Listado Detalles Por Agente</b></div>
						<div class="panel-body">
							<div class="col-sm-12">
								@views.html.novedades.planificaciones.tabs.detallesProduccionGeneral(planificacion)
							</div>
						</div>
					</div>
				</div>
			</div>
		}

		@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.PRODUCCION_IMAGENES) {
			<div class="tab-pane" id="contenedorProduccionTotalizados">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><b>Listado Produccion Totalizados Por Agente</b></div>
						<div class="panel-body">
							<div class="col-sm-12">
								@views.html.novedades.planificaciones.tabs.detallesProduccionImagenesTotalizados(planificacion)
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="contenedorProduccionImagenesDetalles">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><b>Listado Detalles Por Agente</b></div>
						<div class="panel-body">
							<div class="col-sm-12">
								@views.html.novedades.planificaciones.tabs.detallesPracticasImagenesMinutos(planificacion)
							</div>
						</div>
					</div>
				</div>
			</div>

		}


		<!-- -------------------GUARDIAS----------------------------- -->
		@if(planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.GUARDIA  || planificacion.tipo_planificacion_id == models.novedades.TipoPlanificacion.HS_FARMACIA_ADMINISTRATIVOS) {

			<div class="tab-pane" id="contenedorDetalles">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><b>Listado Novedades Detalles</b></div>
						<div class="panel-body">
							<div class="col-sm-12">
								@views.html.novedades.planificaciones.listaNovedades(planificacion)
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="contenedorHoras">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><b>Listado Cantidad Por Horas Por dia</b></div>
						<div class="panel-body">
							<div class="col-sm-12">
								<table id="" class="table table-striped table-bordered">
									<thead>
										<tr>
										 	<th>Fecha</th>
											<th>Horas</th>
										<tr>
									</thead>
									<tbody>
									@for(sx <- totalHorarPorDiaPorPlanificacion) {
										<tr data-id="">
											<td class="fecha">@(utils.DateUtils.formatDate(sx.getDate("fecha")))</td>
											<td>@sx.getInteger("horas")</td>

										</tr>
									}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		}<!-- -------------------FIN GUARDIAS----------------------------- -->

		<div class="tab-pane" id="contenedorNotas">
			<div class="row">
				<div class="panel panel-default" style="margin: 10px">
					<div class="panel-heading"><b>Notas Servicios</b></div>
					<div class="panel-body"  >
						<div class="col-sm-12" >
							<div>
								@if(planificacion.nota_servicio != null && !planificacion.nota_servicio.isEmpty()){
									@Html(split(planificacionForm.field("nota_servicio").value))
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="tab-pane" id="contenedorNotasRrhh">
			<div class="row">
				<div class="panel panel-default" style="margin: 10px">
					<div class="panel-heading"><b>Notas RRHH</b></div>
					<div class="panel-body"  >
						<div class="col-sm-12" >
							<div>
								@if(planificacion.nota_rrhh != null && !planificacion.nota_rrhh.isEmpty()){
									@Html(split(planificacionForm.field("nota_rrhh").value))
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="contenedorNotasLiqui">
			<div class="row">
				<div class="panel panel-default" style="margin: 10px">
					<div class="panel-heading"><b>Notas Liquidaciones</b></div>
					<div class="panel-body"  >
						<div class="col-sm-12" >
							<div>
								@if(planificacion.nota_liquidaciones != null && !planificacion.nota_liquidaciones.isEmpty()){
									@Html(split(planificacionForm.field("nota_liquidaciones").value))
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
}