@(conceptoForm: Form[models.haberes.LiquidacionConcepto])
@import helper._
@script = {
<script src="@routes.Assets.at("javascripts/haberes/baseCalculo.js")" type="text/javascript"></script>
}
@views.html.haberes.mainHaberes("Crear Concepto", script) {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-10">
				<h1>Crear nuevo Concepto</h1>
			</div>
		</div>
	</div>
	@views.html.tags.successError()
    
    @helper.form(action = controllers.haberes.routes.LiquidacionConceptosController.guardar()) {
		@views.html.haberes.liquidacionConceptos.formLiquidacionConcepto(conceptoForm) 	
	}
}