@import helper._
@import utils._

@scripts = {
	<script src="@routes.Assets.at("plugins/fullcalendar-2.2.7/lib/moment.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("plugins/fullcalendar-2.2.7/fullcalendar.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("plugins/fullcalendar-2.2.7/lang/es.js")" type="text/javascript"></script>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/fullcalendar-2.2.7/fullcalendar.min.css")">
	<script src="@routes.Assets.at("javascripts/rrhh/novedades.js")" type="text/javascript"></script>
}



@views.html.rrhh.mainRrhh("Lista Novedades", scripts) {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Lista de Novedades</h1>
			</div>
			<div class="col-sm-5">
				<div class="pull-right btn-header">
					<a href="#" id="btnNuevo" class="form-control btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Nuevo</a>
				</div>
				
			</div>
		</div>
	</div>
	
@views.html.tags.successError()	
	
	<div id="actions">
		 
			<form action="@controllers.rrhh.routes.NovedadesController.lista()" id="formSearchNovedades" method="GET">
				
				<div class="row">	  
					<div class="col-sm-3">
						<label for="servicio" class="control-label">Servicio</label> 
						<div class="input-group">
							<input type="hidden" name="servicio_id" id="bservicio_id" />
							<input type="text" name="servicio" id="bservicio" class="form-control" autocomplete="off" />
							<span class="input-group-addon">
							<a href="#" class="searchModal"
										id="buscarServicio" 
										data-title="Selección de servicios" 
										data-url="@controllers.administracion.routes.OrganigramasController.modalBuscarServicios()" 
										data-height="650" 
										data-width="700" 
										data-listen="modal.seleccion.servicio.simple" 
										data-label="#bservicio" 
										data-field="#bservicio_id">
								<i class="glyphicon glyphicon-search"></i>
							</a>
							</span>
						</div>
					</div>
					<div class="col-sm-3">
						<label class="control-label">Agente
							<div class="input-group">
								<input type="hidden" name="agente_id" id="bagente_id" />
								<input type="text" name="agente" id="bagente" class="form-control" autocomplete="off" />
								<span class="input-group-addon"><a href="#" id="buscarAgente" data-title="Selección de agente" data-url="@controllers.rrhh.routes.AgentesController.modalBuscar()" data-height="650" data-width="700" data-listen="modal.seleccion.agente.simple" data-label="#bagente" data-field="#bagente_id"><i class="glyphicon glyphicon-search"></i></a></span>
							</div>
						</label>
					</div>
					
				<div class="col-sm-2">
					<div class="form-group">
					<label for="nombre" class="control-label">&nbsp;</label>
					<button  class="form-control btn btn-primary">Buscar</button>
					</div>
				</div>
					
					<div class="col-sm-2">
						<div class="form-group">
						<label for="nombre" class="control-label">&nbsp;</label>
						<a href="@controllers.rrhh.routes.NovedadesController.index()"  class="form-control btn btn-default">Limpiar</a>
						</div>
					</div>
				</div>
			</form>
		 
	</div>

<hr />
	


<div id='calendar'></div>	
	
<script>

urlListaNovedades = '@controllers.rrhh.routes.NovedadesController.lista()';
urlVerNovedad = '@controllers.rrhh.routes.NovedadesController.ver()';
urlGetFeriados = '@controllers.rrhh.routes.NovedadesController.getFeriados()';
urlCrearNovedad = '@controllers.rrhh.routes.NovedadesController.crear()';

	
</script>	
	
	
<style>
.fc-day-grid-event {cursor: pointer}
</style>	
	
}
		
		
	
	