@(formularioCarga: Boolean, equipoForm: Form[models.equipos.Equipo] = null)
@import java.util.List

@if(equipoForm.field("id").value == null || equipoForm.field("id").value == ""){
	<p>Para cargar incidencias primero debe dar de alta el Equipo</p>
} else {
	<script>
	$( function (){
		$.get('@controllers.equipo.routes.EquipoIncidenciaController.index(equipoForm.field("id").value.toLong, formularioCarga)', function(data){
			$('#listaEquipoIncidencia').parent().html(data);
		})
	});
	</script>
}

<div id="listaEquipoIncidencia">

</div>