@(buscador: utils.pagination.Pagination[models.equipos.Equipo], formBuscador: DynamicForm)
@import helper._
@import utils._
@import models.auth._

@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

@getClassEstado(i:Estado) = @{
	var classEstado:String = new String()
	if(i != null && i.id == 128){
		classEstado = "borrador"
	}else if(i != null && i.id == 131){
		classEstado = "cancelada"
	}else if(i != null && i.id == 129){
		classEstado = "autorizado"
	}
	classEstado

}

@views.html.equipo.mainEquipos("Lista Equipos") {

<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>Lista Equipos</h1>
		</div>

		<div class="col-sm-5">
			<div class="pull-right btn-header">
				<a href="@controllers.equipo.routes.EquipoController.crear()?@UriTrack.encode()"  class="form-control btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Nueva Equipo</a>
			</div>
		</div>
	</div>
</div>
	@views.html.tags.successError()

	<div id="actions">
		<form action="" method="GET">
			<div class="row">
			<div class="col-sm-8 filtrosEstados" id="filtrosEstados">
			 	<div class="btn-group">
				  <button type="button" id="btn-filtro-borrador" rel="borrador" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-pencil"></i><br>Borrador
				 	@checkbox(formBuscador("btnFiltro[0]"), 'hidden -> "hidden")
				  </button>

				  <button type="button" id="btn-filtro-aprobado" rel="aprobado" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-ok"></i><br>Funcionando
				  	@checkbox(formBuscador("btnFiltro[1]"), 'hidden -> "hidden")
				  </button>

				  <button type="button" id="btn-filtro-aprobado" rel="aprobado" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-wrench"></i><br>Reparacion
				  	@checkbox(formBuscador("btnFiltro[2]"), 'hidden -> "hidden")
				  </button>

				  <button type="button" id="btn-filtro-cancelado" rel="cancelado" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-minus-sign"></i><br>Apagado
				  	@checkbox(formBuscador("btnFiltro[3]"), 'hidden -> "hidden")
				  </button>

				</div>
			</div>
		</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="nombre" class="control-label">Nombre
						@inputText(formBuscador("nombre"), 'class -> "form-control", 'autofocus -> "autofocus")
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="buscar" class="control-label">&nbsp;</label>
					<button  class="form-control btn btn-primary">Buscar</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="limpiar" class="control-label">&nbsp;</label>
					<a href="@controllers.equipo.routes.EquipoController.index()"  class="form-control btn btn-default">Limpiar</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	@if(buscador.getTotalRowCount == 0) {

        <div class="well">
            <em>No se encuentran Equipos</em>
        </div>

    } else {
    	Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s).

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="30">
						<input type="checkbox" name="checkAll" id="checkAll"/>
					</th>
					<th width="30">#</th>
					<th>Serie</th>
					<th>Nombre</th>
					<th>N° Inventario</th>
					<th>Lugar</th>
					<th width="30" align="center">Incidencias</th>
					<th width="100" align="center">Estado</th>
					<th width="30">#</th>
				</tr>
			</thead>
			<tbody>
			@for(lc <- buscador.getList) {
				<tr class="pointer @getClassEstado(lc.estado)"  data-href="@controllers.equipo.routes.EquipoController.ver(lc.id)&@UriTrack.encode()">
					<td><input type="checkbox" name="check_listado[]" value="@lc.id" class="notSeleccion" id="check-@lc.id"/></td>
					<td>
						@if(Permiso.check("equipoEditar")) {
						<a class="btn btn-default btn-xs notSeleccion" href="@controllers.equipo.routes.EquipoController.editar(lc.id)&@UriTrack.encode()">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						}
					</td>
					<td>@(lc.serie)</td>
					<td>@(lc.nombre)</td>
					<td>@if(lc.numero_inventario != null){@lc.numero_inventario}</td>
					<td>@(lc.organigrama.nombre)</td>
					<td style="text-align: center;">@(lc.getIncidencias())</td>
					<td style="text-align: center;">@(lc.estado.nombre)</td>
					<td>
						@if(Permiso.check("equipoEliminar")) {
						<a class="btn btn-default btn-xs delete-confirm-link notSeleccion" href="@controllers.equipo.routes.EquipoController.eliminar(lc.id)&@UriTrack.encode()">
							<i class="glyphicon glyphicon-trash icono-eliminar"></i>
						</a>
						}
					</td>
				</tr>
             }
	        </tbody>
        </table>

        <div class="pagination pull-right">
		    @views.html.helpers.paginador(buscador, controllers.equipo.routes.EquipoController.index())
		</div>

    }

}