@(recuperoPagoForm: Form[models.recupero.RecuperoPago], recuperoPago: models.recupero.RecuperoPago)
@import utils._
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 


@views.html.recupero.mainRecupero("Vista de pago") {
	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Vista de pago</h1>
			</div>
			<div class="col-sm-5">
				<div class="dropdown pull-right">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-list-alt"></i>
				    Reportes
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="@controllers.recupero.routes.RecuperoReportesController.imprimirRecibo(recuperoPago.id)">Imprimir recibo</a></li>
				  </ul>
				</div>
				
				<div class="dropdown pull-right btn-header">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-cog"></i>
				    Acciones
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  	
				  </ul>
				</div>

			</div>
		</div>
	</div>
	
@views.html.tags.successError()

<div class="row menu-acciones">
	<div class="col-sm-9">
		<!--<a href="@controllers.recupero.routes.RecuperoPagosController.crear()@UriTrack.get("?")"  class="btn btn-default">
		<i class="glyphicon glyphicon-plus-sign"></i> Nuevo</a>-->
		@if(recuperoPago.estado_id == models.Estado.RECUPERO_PAGO_BORRADOR){
			@if(recuperoPago.parcializada == null || recuperoPago.parcializada){
				<a href="@controllers.recupero.routes.RecuperoPagosController.crearPagoParcial(recuperoPago.id)@UriTrack.get("&")"  class="btn btn-default"><i class="glyphicon glyphicon-copyright-mark"></i> Crear Parcial</a>
			}
		}
		@if(recuperoPago.parcializada == null || !recuperoPago.parcializada){
			<a href="@controllers.recupero.routes.RecuperoPagosController.editar(recuperoPago.id)@UriTrack.get("&")"  class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar</a>
			<a href="@controllers.recupero.routes.RecuperoPagosController.eliminar(recuperoPago.id)@UriTrack.get("&")"  class="btn btn-default delete-confirm-link"><i class="glyphicon glyphicon-trash icono-eliminar"></i> Eliminar</a>
		}
	</div>
	<div class="col-sm-3">
		<a href="@UriTrack.getOnNull(controllers.recupero.routes.RecuperoPagosController.index().absoluteURL())" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
	</div>
</div>
	<div class="row">
		<div class="col-sm-2">
			<label class="control-label">Nombre</label>
			<p class="form-control-static form-control">@recuperoPago.nombre</p>
		</div>
		<div class="col-sm-2">
			<label class="control-label">Numero</label>
			<p class="form-control-static form-control">@recuperoPago.numero</p>
		</div>
		<div class="col-sm-4">
			<label class="control-label">Cliente</label> 
			<p class="form-control-static form-control" style="height: 25px; overflow: hidden;">
				@recuperoPagoForm("cliente.nombre").value
			</p>
		</div>
		<div class="col-sm-2">
			<label class="control-label">Fecha </label>
			<p class="form-control-static form-control">@recuperoPagoForm("fecha").value</p>
		</div>
		
	</div>
		
	<div class="row">
		<div class="col-sm-2">
			<label class="control-label">Planilla</label>
			<p class="form-control-static form-control">
			@if(recuperoPago.planilla_id != null){
				@recuperoPago.planilla.getRecuperoPlanillaEjercicio()
			}
			</p>
		</div>	
		<div class="col-sm-4">
			<label class="control-label">Concepto</label>
			<p class="form-control-static form-control">@recuperoPago.concepto</p>
		</div>
	
		<div class="col-sm-2">
			<label class="control-label">Importe</label>
			<p class="form-control-static form-control">@utils.NumberUtils.moneda(recuperoPago.total)</p>
		</div>
		<div class="col-sm-2">
			<label class="control-label">Tipo de pago </label>
			<p class="form-control-static form-control">
			@recuperoPagoForm("tipoPago").value match {
				    	case "efectivo" => {Efectivo}
						case "cheque" => {Cheque}
						case "tarjeta" => {Tarjeta}
						case "transferencia" => {Transferencia}
				    	case _ => {}
					}
			
			</p>
		</div>
		<div class="col-sm-2">
			<label class="control-label">N° Factura</label>
			<p class="form-control-static form-control">@recuperoPago.recuperoFactura.getNumeroFactura()</p>
		</div>
	</div>	
		
		
		
	@views.html.recupero.recuperoPago.tabsRecuperoPago(false, recuperoPagoForm,recuperoPago)
	
		
		
	<h4>Estado actual: 	
		@if(recuperoPago.parcializada != null && recuperoPago.parcializada){
			<b>Parcializada</b>
		}else{
			<b>@recuperoPago.estado.nombre</b>
		}
	</h4>
	<div class="row margin-bottom-25">	
		@if(recuperoPago.parcializada != null && recuperoPago.parcializada){
		
		}else{
			@for(estado <- models.Estado.getSiguienteEstadoPorAprobar(recuperoPago.estado.orden,models.Estado.TIPO_RECUPERO_PAGO)) {	
				@if(estado.orden <= 4) {
					<div class="col-sm-3">
						<a href="@controllers.recupero.routes.RecuperoPagosController.cambiarEstado(recuperoPagoForm.field("id").value.toInt, estado.id.toLong)@UriTrack.get("&")" class="btn btn-default">
							<i class="glyphicon glyphicon-arrow-right"></i> @estado.nombre
						</a>
					</div>
					
				}
			}
			@if(recuperoPago.estado.id == models.Estado.RECUPERO_PAGO_CANCELADO) {
				<div class="col-sm-3">
					<a href="@controllers.recupero.routes.RecuperoPagosController.cambiarEstado(recuperoPagoForm.field("id").value.toInt, models.Estado.RECUPERO_PAGO_BORRADOR)@UriTrack.get("&")" class="btn btn-default">
						<i class="glyphicon glyphicon-arrow-right"></i> Volver a Borrador
					</a>
				</div>
			}else{
				<div class="col-sm-3">
					<a href="@controllers.recupero.routes.RecuperoPagosController.cambiarEstado(recuperoPagoForm.field("id").value.toInt, models.Estado.RECUPERO_PAGO_CANCELADO)@UriTrack.get("&")" class="btn btn-default">
						<i class="glyphicon glyphicon-minus-sign"></i> Cancelar Pago
					</a>
				</div>
			}
		}
	</div>
}








<script>
$( function() {
	
});
</script>

