@(buscador: utils.pagination.Pagination[models.recupero.RecuperoPlanilla], formBuscador: DynamicForm)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 

<div id="modalBusquedaPlanillas" class="contenedorPaginador ajaxPaginador">
<form action="@controllers.recupero.routes.RecuperoPlanillasController.modalBuscar()" method="GET">
	<div class="row">
		<div class="col-sm-2">
			<label class="control-label">Numero</label>
			@inputText(formBuscador("numero"), 'class -> "form-control", 'autofocus -> "autofocus")
		</div>
		
		<div class="col-sm-3">
			<label class="control-label">Ejercicio</label>
			@select(formBuscador("ejercicio"), Ejercicio.getEjercicios().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
		</div>

		
		<div class="col-sm-3">
			<label class="control-label">&nbsp 
			<button class="btn btn-primary form-control">Buscar</button>
			</label>
		</div>
	</div>
</form>

@if(buscador.getTotalRowCount == 0) {
	<div class="well">
	    <em>No se encuentran planillas</em>
	</div>
} else {
    Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s). 
    	
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Numero</th>
				<th>Expediente</th>
				<th>Institucion</th>
			</tr>
		</thead>
		<tbody>
    	
    @for(planilla <- buscador.getList) {
	<tr data-id="@planilla.id" class="modalSeleccionPlanilla pointer">
		<td>@planilla.getRecuperoPlanillaEjercicioDeposito()</td>
		<td>@planilla.expediente.getExpedienteEjercicio()</td>
	</tr>    
    }
    </tbody>
    </table>
    
	<div class="pagination pull-right">
	    @views.html.helpers.paginador(buscador, controllers.recupero.routes.RecuperoPlanillasController.modalBuscar())
	</div>	
}
</div>

<script>
$( function(){
	var contenedor = $("#modalBusquedaPlanillas");
	var url = "@controllers.recupero.routes.RecuperoPlanillasController.get()"
	contenedor.find('.modalSeleccionPlanilla').on('click', function(){
		var id = $(this).attr('data-id');
		$.get(url+"?id="+id, function(data){
			$(document).trigger("modal.seleccion.planilla.simple", data);
		});
	});
	
	contenedor.find('form').on('submit', function(){
		var url = $(this).attr("action");
		var query = $(this).serialize();
		$.get(url+"?"+query, function(data){
			contenedor.parent().html(data);
		});
		return false;
	});
});
</script>