@(formBuscador: DynamicForm)
@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

@views.html.informes.mainInformes("Creditos Presupuestarios") {

<script src="@routes.Assets.at("javascripts/informes/deudasGenerales.js")" type="text/javascript"></script>


<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>Deudas Generales</h1>
		</div>
	</div>
</div>
 



<div  id="contenedorGraficos">
	
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<b>Deuda por Antiguedad</b>
				</div>
				<div class="panel-body">
					<div id="chart_deudaPorAntiguedadPorInstitucion">
						 
						<!-- <div id="loading"></div>-->
					</div>
				</div>
			</div>
		</div>
		 
		
	</div>
	
	
</div>

}