@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 
@views.html.dashboard.mainDashboard("Estado de deudas - Honorarios") {

<script src="@routes.Assets.at("javascripts/dashboard/estadoDeudaHonorarios.js")" type="text/javascript"></script>
	
	<div class="page-header">
		<div class="row">
			<div class="col-sm-10">
				<h1>Estado de deuda honorarios</h1>
			</div>
		</div>
	</div>
	
	<div class="row"  style="border-bottom: 1px solid #999999;padding-bottom: 5px;">
		<div class="col-sm-4" style="">
			<div id="chart_div_honorarios_ejercicio"></div>
		</div>
		<div class="col-sm-8" style="">
			<div id='table_div_honorarios_ejercicio'></div>
		</div>
	</div>
	<div class="row">
 		<div class="col-sm-4" style=" ">
 			<div id="chart_div_honorarios_periodo"></div>
 		</div>
 		<div class="col-sm-8" style="padding-top:40px;">
 			<div id="table_div_honorarios_periodo"></div>
 		</div>	
 	</div>
    
}