@(buscador: utils.pagination.Pagination[Agente], formBuscador: DynamicForm)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

<div id="modalBusquedaAgentes" class="contenedorPaginador ajaxPaginador">
<form action="@controllers.rrhh.routes.AgentesController.modalBuscarByOrgranigrama()" method="GET">
	<div class="row">
		<div class="col-sm-6">
			<label class="control-label">Nombre</label>
			@inputText(formBuscador("nombre"), 'class -> "form-control", 'autofocus -> "autofocus")

		</div>
		<div class="col-sm-3">
			<label class="control-label">&nbsp
			<button class="btn btn-primary form-control">Buscar</button>
			</label>
		</div>
	</div>
</form>

@if(buscador.getTotalRowCount == 0) {
	<div class="well">
	    <em>No se encuentran agentes</em>
	</div>
} else {
    Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s).

	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Nombre o Apellido</th>
				<th>Organigrama</th>
				<th>Cuit</th>
			</tr>
		</thead>
		<tbody>

    @for(agente <- buscador.getList) {
	<tr data-href="@controllers.rrhh.routes.AgentesController.get(agente.id.toLong)" class="modalSeleccionAgente">
		<td>@agente.getNombreCompleto()</td>
		<td>@if(agente.organigrama != null){@agente.organigrama.nombre}</td>
		<td>@if(agente.cuit != null){@agente.cuit}</td>
	</tr>
    }
    </tbody>
    </table>

	<div class="pagination pull-right">
	    @views.html.helpers.paginador(buscador, controllers.rrhh.routes.AgentesController.modalBuscarByOrgranigrama())
	</div>
}
</div>

<script>
$( function(){
	var contenedor = $("#modalBusquedaAgentes");
	contenedor.find('.modalSeleccionAgente').on('click', function(){
		var url = $(this).attr('data-href');
		$.get(url, function(data){
			$(document).trigger("modal.seleccion.agente.simple", data);
		});
	});

	contenedor.find('form').on('submit', function(){
		var url = $(this).attr("action");
		var query = $(this).serialize();
		$.get(url+"?"+query, function(data){
			contenedor.parent().html(data);
		});
		return false;
	});
});
</script>