@(formularioCarga: Boolean, ordenForm: Form[Orden] = null)
@import java.util.List

@if(ordenForm.field("id").value == null || ordenForm.field("id").value == ""){
	<p>Para ver productos primero debe dar de alta la Orden</p>
} else {

	<script>
		$( function (){
			$.get('@controllers.patrimonio.routes.AnulacionRecepcionProductosController.verLineasNoCertificadas(ordenForm.field("id").value.toLong)', function(data){
				$('#listaLineaNoCertificados').parent().html(data);
			})
		});
	</script>

}

<div id="listaLineaNoCertificados">

</div>