@(ordenForm: Form[Orden])
@import helper._

@scripts = {
	<script src="@routes.Assets.at("javascripts/compras/ordenes.js")" type="text/javascript"></script>
}

@views.html.compras.mainCompras("Crear Orden", scripts) {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Crear Orden de Compra</h1>
			</div>
		</div>
	</div>
	@views.html.tags.successError()
    
    @helper.form(action = controllers.compras.routes.OrdenesController.guardar()) {

		@views.html.compras.ordenes.formOrden(ordenForm) 
		@views.html.compras.ordenes.tabsOrden(true, ordenForm,null)	


	}
}