@(ordenForm: Form[Orden],orden:Orden)
@import helper._
@import utils._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

@scripts = {
	<script src="@routes.Assets.at("javascripts/compras/ordenes.js")" type="text/javascript"></script>
}

@views.html.compras.mainCompras("Modificar orden", scripts) {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Editar Orden de Compra</h1>
			</div>

			<div class="col-sm-5">
				<div class="dropdown pull-right">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-list-alt"></i>
				    Reportes
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  </ul>
				</div>
				
				<div class="dropdown pull-right btn-header">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-cog"></i>
				    Acciones
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  	<li><a id="importarListaProductos" href="#" data-url="@controllers.compras.routes.OrdenesAccionesController.modalImportarListaProductos()">Importar productos y cantidades</a></li>
				    <li role="presentation">
				    	<a role="menuitem" tabindex="-1" href="#" id="editarCuentaAnalitica" data-url="@controllers.compras.routes.OrdenesController.modalEditarCuentaAnalica("editar")">
				    		Editar cuenta analitica
				    	</a>
				    </li>
				  </ul>
				</div>
					
				<div class="pull-right btn-header">
					<a href="@controllers.compras.routes.OrdenesController.crear()@UriTrack.get("?")"  class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Nueva Orden</a>
				</div>
			</div>
			
			
		</div>
	</div>
	
	@views.html.tags.successError()
	

	@helper.form(action = controllers.compras.routes.OrdenesController.actualizar(orden.id)) {

	
		@inputText(ordenForm("id"), 'hidden -> "hidden")
		@views.html.compras.ordenes.formOrden(ordenForm)
		@views.html.compras.ordenes.tabsOrden(true, ordenForm,orden)	

		<!-- <h4>Base: 	<b>@utils.NumberUtils.moneda(orden.getTotal())</b></h4>	
		<h4>Ajuste: <b>@utils.NumberUtils.moneda(orden.getTotalAjuste())</b></h4>	
		<h4>Total: 	<b>@utils.NumberUtils.moneda(orden.getTotalTotal())</b></h4>	
		@if(orden.cot_dolar != null && orden.cot_dolar.compareTo(java.math.BigDecimal.ZERO) > 0){
			<h4>Total Moneda Extranjera: <b>@utils.NumberUtils.moneda(orden.getTotalDolar(), orden.tipo_moneda)</b></h4>	
		}
		<h4>Estado actual: 	<b>@orden.estado.nombre</b></h4> -->
		<div class="row margin-bottom-25">	
		
		</div>
		
	}

}