@(formularioCarga: Boolean, recuperoFacturaForm: Form[models.recupero.RecuperoFactura] = null)
@import java.util.List

@if(recuperoFacturaForm.field("id").value == null || recuperoFacturaForm.field("id").value == ""){
	<p>Para cargar nota de creditos primero debe dar de alta la factura</p>
} else {
	<script>
	$( function (){
		$.get('@controllers.recupero.routes.RecuperoNotasCreditosController.index(recuperoFacturaForm.field("id").value.toLong, formularioCarga)', function(data){
			$('#listaLineaNotasCreditos').parent().html(data);
		})
	});
	</script>
}

<div id="listaLineaNotasCreditos">

</div>
