@(buscador: utils.pagination.Pagination[models.recupero.RecuperoFactura], formBuscador: DynamicForm)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

<div id="modalBusquedaRecuperoFactura" class="contenedorPaginador ajaxPaginador">
<form action="@controllers.recupero.routes.RecuperoFacturasController.modalBuscar()" method="GET">
	<div class="row">
		<div class="col-sm-6">
			<label class="control-label">Numero</label>
			@inputText(formBuscador("numero"), 'class -> "form-control", 'autofocus -> "autofocus")

		</div>
		<div class="col-sm-3">
			<label class="control-label">&nbsp
			<button class="btn btn-primary form-control">Buscar</button>
			</label>
		</div>
	</div>
</form>

@if(buscador.getTotalRowCount == 0) {
	<div class="well">
	    <em>No se encuentran Facturas</em>
	</div>
} else {
    Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s).

	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Numero</th>
				<th>Cliente</th>
			</tr>
		</thead>
		<tbody>

    @for(factura <- buscador.getList) {
	<tr data-id="@factura.id" class="modalSeleccionRecuperoFactura">
		<td> @factura.getNumeroFactura()</td>
		<td> @factura.cliente.nombre</td>
	</tr>
    }
    </tbody>
    </table>

	<div class="pagination pull-right">
	    @views.html.helpers.paginador(buscador, controllers.recupero.routes.RecuperoFacturasController.modalBuscar())
	</div>
}
</div>

<script>
$( function(){
	var contenedor = $("#modalBusquedaRecuperoFactura");
	var url = "@controllers.recupero.routes.RecuperoFacturasController.get()"

	$(document).off('click', '.modalSeleccionRecuperoFactura');
	$(document).on('click', '.modalSeleccionRecuperoFactura', function(){
		var id = $(this).attr('data-id');

		$.get(url+"?id="+id, function(data){
			$(document).trigger("modal.seleccion.recuperoFactura.simple", data);
		});
	});

	contenedor.find('form').on('submit', function(){
		var url = $(this).attr("action");
		var query = $(this).serialize();
		$.get(url+"?"+query, function(data){
			contenedor.parent().html(data);
		});
		return false;
	});
});
</script>