@(formularioCarga: Boolean, recuperoFacturaForm: Form[models.recupero.RecuperoFactura] = null,factura:models.recupero.RecuperoFactura = null)
@import utils._
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }
<hr />
<div class="row">
	<ul id="recuperoFacturaTab" class="nav nav-tabs">
		<li class="active"><a class="tabProducto" href="#contenedorProductos" data-toggle="tab">Productos</a></li>
		<li><a class="tabNotas" href="#contenedorNotas" data-toggle="tab">Notas</a></li>
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="contenedorProductos">
			@views.html.recupero.recuperoFactura.contenidoTabProducto(formularioCarga, recuperoFacturaForm)
		</div>
		<div class="tab-pane" id="contenedorNotas">
			@if(formularioCarga){
				<textarea name="nota" class="form-control" rows="5">@recuperoFacturaForm.field("nota").value</textarea>
			} else {
				<textarea name="nota" disabled="disabled" class="form-control" rows="5">@recuperoFacturaForm.field("nota").value</textarea>
			}
		</div>

	</div>
</div>

<hr />

<div class="row">
	<div class="col-sm-12">
		@views.html.recupero.recuperoFactura.contenidoTabNotaCredito(formularioCarga,recuperoFacturaForm)
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		@views.html.recupero.recuperoFactura.contenidoTabNotaDebito(formularioCarga,recuperoFacturaForm)
	</div>

</div>
@if(!formularioCarga){
<div class="row">
	<div class="col-sm-6">
		@views.html.recupero.recuperoFactura.contenidoTabDetalle(formularioCarga,recuperoFacturaForm,factura)
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
		<div class="panel-heading"><b>Acciones</b></div>
		<div class="panel-body">

			<div class="row margin-bottom-25">

						<div class="col-sm-12">
							<div class="row">
								@for(estado <- models.Estado.getSiguienteEstadoPorAprobar(factura.estado.orden,models.Estado.TIPO_RECUPERO_FACTURA)) {
									@if(estado.orden <= 4) {
										<div class="col-sm-3">
											<a href="@controllers.recupero.routes.RecuperoFacturasController.cambiarEstado(recuperoFacturaForm.field("id").value.toInt, estado.id.toLong)@UriTrack.get("&")" class="btn btn-default">
												<i class="glyphicon glyphicon-arrow-right"></i> @estado.nombre
											</a>
										</div>

									}
								}

								@if(factura.estado.id == models.Estado.RECUPERO_FACTURA_CANCELADO) {
									<div class="col-sm-3">
										<a href="@controllers.recupero.routes.RecuperoFacturasController.cambiarEstado(recuperoFacturaForm.field("id").value.toInt, models.Estado.RECUPERO_FACTURA_BORRADOR)@UriTrack.get("&")" class="btn btn-default">
											<i class="glyphicon glyphicon-arrow-right"></i> Volver a Borrador
										</a>
									</div>
								}else{
									<div class="col-sm-3">
									</div>
									@if(Usuario.getUsuarioSesion() == 1){
									<div class="col-sm-3">
										<a href="@controllers.recupero.routes.RecuperoFacturasController.cambiarEstado(recuperoFacturaForm.field("id").value.toInt, models.Estado.RECUPERO_FACTURA_CANCELADO)@UriTrack.get("&")" class="btn btn-default">
											<i class="glyphicon glyphicon-minus-sign"></i> Anular Factura
										</a>
									</div>
									}
								}
							</div>
							@if(Usuario.getUsuarioSesion() == 1 && factura.estado.id == models.Estado.RECUPERO_FACTURA_APROBADO){
							<hr>

								<div class="row">
									@if(factura.cae == null || factura.cae.isEmpty()){
										<div class="col-sm-3">
											<a href="@controllers.recupero.routes.RecuperoFacturasController.correrFacturaAfip(recuperoFacturaForm.field("id").value.toLong)" class="btn btn-default">
												<i class="glyphicon glyphicon-minus-sign"></i> Correr Factura AFIP @factura.cae
											</a>
										</div>
									}
									<div class="col-sm-3">
										<a href="@controllers.recupero.routes.RecuperoFacturasController.getUltimoComprobante(recuperoFacturaForm.field("id").value.toLong)" class="btn btn-default">
											<i class="glyphicon glyphicon-minus-sign"></i> ultimo numero
										</a>
									</div>
								</div>
							}
						</div>
					</div>

				</div>
			</div>
		</div>
</div>
}
