@(paginador:  utils.pagination.Pagination[AgenteFamilia], editable: Boolean)
@import models.auth._

<div id="listaAgenteFamilia" class="contenedorPaginador ajaxPaginador">
		
	<div class="panel panel-default">
		<div class="panel-heading"><b>Familiares</b>
			@if(editable && Permiso.check("crearAgenteHijo")){
			<a class="btn btn-default btn-xs" href="#" id="nuevoAgenteFamilia"><i class="glyphicon glyphicon-plus"></i> Nuevo</a>	 	
			}
		</div>
		<div class="panel-body">
		
	@if(paginador.getTotalRowCount == 0) {
        <p id="mensajeSinResultadosFamilia" class="well"><i class="glyphicon glyphicon-info-sign"></i> No hay familiares cargados.</p>
    } 

	<table id="listaDeAgenteFamilia" class="table table-striped table-bordered  @if(paginador.getTotalRowCount() <= 0){hide}">
		<thead>
			<tr>
				@if(editable && Permiso.check("editarAgenteHijo")){
					<th class="accion-editar">#</th>
				}
					<th>Nombre</th>
					<th>Dni</th>
					<th>Edad</th>
					<th>Nivel Estudio</th>
					<th>Estado Estudio</th>
					<th>Tipo Familiar</th>
					<th>Presentacion</th>
				@if(editable && Permiso.check("eliminarAgenteHijo")){
					<th></th>
				}
			<tr>	
		</thead>
		<tbody>
		@for(linea <- paginador.getList) {
			@views.html.rrhh.agenteFamilias.lineaAgenteFamilia(linea, editable)
		}
		</tbody>
	</table>


		
			<div class="pagination pull-right">
			    @views.html.helpers.paginador(paginador, controllers.rrhh.routes.AgentesFamiliasController.index())
			</div>
		</div>
	</div>
</div>


<script>
$( function(){
	 
	 
	var contenedor = $("#listaAgenteFamilia");
						     
	contenedor.on('click', '#nuevoAgenteFamilia', function(){
		urlContenidoModal = '/rrhh/agente-familia/crear?agenteId='+$('#agenteId').val();
		mostrarModal(urlContenidoModal);
		return false;
	});
	
	contenedor.on('click', '.modificarAgenteFamilia', function(){
		lineaParaEditar = $(this).closest('tr');
		var modal = mostrarModal($(this).attr('href'));
		modal.dialog('option', 'title', 'Editar familiares');	
		return false;
	});
	
	contenedor.on('click', '.eliminarAgenteFamilia', function(){
		var mensaje = "¿Confirma que desea eliminar el registro?";
		if(confirm(mensaje)){
			var url = $(this).attr('href');
			$this = $(this);
			$.get(url, function(data){
				if(data.success){
					$this.closest("tr").remove();
				} else {
					alert("No se puedo eliminar el registro.");
				}
			});
		}
		return false;
	});
	
	function mostrarModal(url){
		modalCargaAgenteFamilia = $('<div></div>').dialog({
			resizable: false,
		    title: "Cargar Familiares",
		    height: 600,
		    minHeight:600,
		    width: 900,
		    modal: true,
		    open: function( event, ui ) {
				$.get(url, function(data){
					modalCargaAgenteFamilia.html(data);
				});
		    },
		    close: function(event, ui ){
		    	modalCargaAgenteFamilia.dialog('destroy');
			}
		  });
		
		modalCargaAgenteFamilia.on('click', '.cancelar', function(){
			modalCargaAgenteFamilia.dialog('destroy');
			return false;
		});
		
		modalCargaAgenteFamilia.on('submit', function(e){
			var href = $(e.target).attr('action');
			var data = $(e.target).serialize();
			$.post(href, data, function(resultado){
				if(resultado.success && resultado.nuevo){
					$('#listaDeAgenteFamilia tbody').prepend(resultado.html);
					$('#mensajeSinResultadosFamilia').remove();
					$('#listaDeAgenteFamilia').removeClass('hide');
					modalCargaAgenteFamilia.dialog( "destroy" );
					/*aca va funcion Actualizar cuadrito*/				
				} else if(resultado.success && resultado.modificar){
					$(lineaParaEditar).replaceWith(resultado.html);
					modalCargaAgenteFamilia.dialog( "destroy" );
					/*aca va funcion Actualizar cuadrito*/
					
				} else {
					modalCargaAgenteFamilia.html(resultado);
				}
			});
			return false;
		});
		
		
		return modalCargaAgenteFamilia;
	}
	
	
	contenedor.find('form').on('submit', function(){
		var url = $(this).attr("action");
		var query = $(this).serialize();
		$.get(url+"?"+query, function(data){
			contenedor.parent().html(data);
		});
		return false;
	});
});
</script>
