@(linea: AgenteFamilia, editable: Boolean)
@import models.auth._

<tr data-id="@linea.id">
	@if(editable && Permiso.check("editarAgenteHijo")){
		<td class="accion-editar">
		<a class="btn btn-default btn-xs modificarAgenteFamilia" href="@controllers.rrhh.routes.AgentesFamiliasController.editar(linea.id)">
		<i class="glyphicon glyphicon-edit"></i></a>
		</td>
	}
		<td>@linea.nombre @if(linea.discapacidad != null && linea.discapacidad){<img width="17" height="17" src="/assets/images/discapacidad.gif" alt=""/>} @if(linea.vive != null && !linea.vive){<img width="17" height="22" src="/assets/images/difunto.png" alt=""/>}</td>
		<td>@linea.dni</td>
		<td>@linea.getEdad()</td>
		<td>@if(linea.estudioNivel != null){ @linea.estudioNivel.nombre }</td>
		<td>@if(linea.estudioEstado != null) { @linea.estudioEstado.nombre }</td>
		<td>@if(linea.tipoFamiliar != null) { @linea.tipoFamiliar.nombre }</td>
		<td>@if(linea.asignacion_familiar != null && linea.asignacion_familiar == true) { SI }else{NO}</td>
		<td>@if(linea.fpresentacion != null) {@(utils.DateUtils.formatDate(linea.fpresentacion))}</td>

	@if(editable && Permiso.check("eliminarAgenteHijo")){
		<td><a class="btn btn-default btn-xs delete-confirm-link eliminarAgenteFamilia" href="@controllers.rrhh.routes.AgentesFamiliasController.eliminar(linea.id)"><i class="glyphicon glyphicon-trash icono-eliminar"></i></a></td>
	}
</tr>