@( formBuscador: DynamicForm,s:List[com.avaje.ebean.SqlRow])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }
@import java.math.BigDecimal;var total=new java.math.BigDecimal(0);

@views.html.dashboard.mainDashboard(title = "Autorizados por Fecha por Proveedor") {

<div class="page-header">
	<div class="row">
		<div class="col-sm-9">
			<h1>Autorizados por Fecha por Proveedor</h1>
		</div>

		<div class="col-sm-3">
		</div>

	</div>
</div>

<form action="" method="GET" id="filtroInforme">
	<div class="row seccion">
		<div class="col-sm-4">
			<label class="control-label">Proveedor
				<div class="input-group">
					@inputText(formBuscador("proveedor_nombre"), 'name -> "", 'autofocus -> "autofocus", 'class -> "form-control", 'id -> "proveedor")
					@inputText(formBuscador("proveedor_id"), 'hidden -> "hidden", 'id -> "proveedor_id")
					<span class="input-group-addon">
						<a href="#" class="searchModal"
									id="searchProveedor"
									data-title="Selección de Proveedores"
									data-url="@controllers.compras.routes.ProveedoresController.modalBuscar()"
									data-height="650"
									data-width="700"
									data-listen="modal.seleccion.proveedor.simple"
									data-label="#proveedor"
									data-field="#proveedor_id">
							<i class="glyphicon glyphicon-search"></i>
						</a>
					</span>
				</div>
			</label>
		</div>
		<div class="col-sm-2 input-group">
			<label class="control-label">Fecha Pago</label>
			<div>
				@inputText(formBuscador("fecha_desde"), 'class -> "form-control inputDateMascara", 'id -> "fecha_desde", 'placeholder -> "Desde")
				@inputText(formBuscador("fecha_hasta"), 'class -> "form-control inputDateMascara", 'id -> "fecha_hasta", 'placeholder -> "Hasta")
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label for="nombre" class="control-label">&nbsp;</label>
				<button  class="form-control btn btn-primary" id="btn-buscar">Buscar</button>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<label for="nombre" class="control-label">&nbsp;</label>
				<a href="@controllers.dashboard.routes.InformeEstadisticoPagoProveedoresController.autorizadosPorFechaProveedor()"  class="form-control btn btn-default">Limpiar</a>
			</div>
		</div>
	</div>
</form>



		<table class="table table-striped table-bordered">
			<thead>
				<tr style="background: #FFFFFF;  font-weight: bold;">
					<td>Proveedor</td>
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				@if(s != null){
					@for(sx <- s) {
						<tr style="background: #FFFFFF;">
							<td>@sx.getString("proveedor")</td>
							<td align="center">@utils.NumberUtils.moneda(sx.getBigDecimal("total"))</td>
							@{total = total.add(sx.getBigDecimal("total"))}
						</tr>
					}
				}
			</tbody>
			<tfoot>
				<tr style="background: #FFFFFF;  font-weight: bold;">
					<td align="right"><b>Total:</b></td>
					<td align="center">@utils.NumberUtils.moneda(total)</td>

				</tr>
			</tfoot>
		</table>

<script type="text/javascript">
	$( function() {
		$('#searchProveedor').modalSearch();


	});
	</script>


}