@(buscador: utils.pagination.Pagination[models.informes.InformeEstadisticoPagoProveedores], formBuscador: DynamicForm)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 

@getClassEstado(i:Estado) = @{
	var classEstado:String = new String()
	if(i != null && i.id == 24){
		classEstado = "borrador"
	}else if(i != null && i.id == 26){
		classEstado = "cancelada"
	}else if(i != null && (i.id == 23)){
		classEstado = "autorizado"
	}else if(i != null && i.id == 25){
		classEstado = "pagado"
	}
	
	classEstado
}
 
@views.html.dashboard.mainDashboard(title = "Informe estadístico") {
    
<div class="page-header">
	<div class="row">
		<div class="col-sm-9">
			<h1>Informe estadístico de pago a proveedores</h1>
		</div>

		<div class="col-sm-3">
			<a id="generarArchivo" href="@controllers.dashboard.routes.InformeEstadisticoPagoProveedoresController.archivoEstadistico()"  class="btn btn-default"><i class="glyphicon glyphicon-download-alt"></i> Generar archivo</a>
		</div>

	</div>
</div>


<script>

$( function() {
	var baseUrl = $('#generarArchivo').attr('href')
	$('#generarArchivo').attr('href', baseUrl + '?descarga=&' + window.location.href.slice(window.location.href.indexOf('?') + 1))
	
	/*
	$('#generarArchivo').click( function() {
		
		var href = $(this).attr('href') + '?descarga=&' + escape(window.location.href.slice(window.location.href.indexOf('?') + 1).split('&'));
		alert(href);
		window.location = href;
		return false;
	});
	*/
});

</script>




@if(flash.containsKey("success")) {
	<div class="alert alert-success"><i class="glyphicon glyphicon-ok-sign"></i> @flash.get("success")</div>
}
@if(flash.containsKey("error")) {
	<div class="alert alert-danger"><i class="glyphicon glyphicon-remove-sign"></i> @flash.get("error")</div>
} 


    <form action="" method="GET" id="filtroInforme">
    	<div class="row">
			<div class="col-sm-10 filtrosEstados" id="filtrosEstados">
				<div class="btn-group">
				  <button type="button" rel="borrador" class="btn btn-default btn-filtros">
				  	<i class="glyphicon glyphicon-pencil"></i><br>Borrador
				  	@checkbox(formBuscador("btnFiltro[0]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" rel="abierta" class="btn btn-default btn-filtros">
				  	<i class="glyphicon glyphicon-arrow-right"></i><br>En Curso
				  	@checkbox(formBuscador("btnFiltro[2]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" rel="entregado" class="btn btn-default btn-filtros">
				  	<i class="glyphicon glyphicon-usd glyphicon-usd-green"></i><br>Pagado
				  	@checkbox(formBuscador("btnFiltro[3]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" rel="imputado" class="btn btn-default btn-filtros">
				  	<i class="glyphicon glyphicon-ok"></i><br>Conciliado
				  	@checkbox(formBuscador("btnFiltro[1]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" rel="cancelada" class="btn btn-default btn-filtros">
				  	<i class="glyphicon glyphicon-minus-sign"></i><br>Cancelado
				  	@checkbox(formBuscador("btnFiltro[4]"), 'hidden -> "hidden")
				  </button>
				</div>
			</div>
		</div>
		<div class="row seccion">
			<div class="col-sm-4">
				<label class="control-label">Proveedor
					<div class="input-group">	
						@inputText(formBuscador("proveedor_nombre"), 'name -> "", 'autofocus -> "autofocus", 'class -> "form-control", 'id -> "proveedor")
						@inputText(formBuscador("proveedor_id"), 'hidden -> "hidden", 'id -> "proveedor_id")
						<span class="input-group-addon">
							<a href="#" class="searchModal"
										id="searchProveedor" 
										data-title="Selección de Proveedores" 
										data-url="@controllers.compras.routes.ProveedoresController.modalBuscar()" 
										data-height="650" 
										data-width="700" 
										data-listen="modal.seleccion.proveedor.simple" 
										data-label="#proveedor" 
										data-field="#proveedor_id">
								<i class="glyphicon glyphicon-search"></i>
							</a>
						</span>
					</div>
				</label>
			</div>
			
			<div class="col-sm-2">
				<label class="control-label">Expediente
					<div class="input-group">
						@inputText(formBuscador("expediente.nombre"), 'name -> "", 'class -> "form-control", 'id -> "expediente")
						@inputText(formBuscador("expediente_id"), 'hidden -> "hidden", 'id -> "expediente_id")
						
						<span class="input-group-addon">
							<a href="#" class="searchModal"
										id="searchExpediente" 
										data-title="Selección de expediente" 
										data-url="@controllers.expediente.routes.ExpedientesController.modalBuscar()" 
										data-height="650" 
										data-width="700" 
										data-listen="modal.seleccion.expediente.simple" 
										data-label="#expediente" 
										data-field="#expediente_id">
								<i class="glyphicon glyphicon-search"></i>
							</a>
						</span>
					</div>
				</label>
			</div>  
				
			<div class="col-sm-2">
				<label class="control-label">Ejercicio</label>
					@select(formBuscador("ejercicio"), Ejercicio.getEjercicios().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
				
			</div>	
			
		<div class="col-sm-2">
			<div class="seleccionOrdenRubro">
				<label for="@formBuscador("rubro_id").id" class="control-label">Rubro</label>
				@select(formBuscador("rubro_id"), 
				OrdenRubro.find.all().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
			</div>
		</div>

		 
			
	</div>
	
	<div class="row">
	
		 
				
		 	
		 <div class="col-sm-2 input-group">
			<label class="control-label">Fecha Pago</label>
			<div>
				@inputText(formBuscador("fecha_pago_desde"), 'class -> "form-control inputDateMascara", 'id -> "fecha_pago_desde", 'placeholder -> "Desde")
				@inputText(formBuscador("fecha_pago_hasta"), 'class -> "form-control inputDateMascara", 'id -> "fecha_pago_hasta", 'placeholder -> "Hasta")
			</div>
		</div>
		<div class="col-sm-2">
			<label for="deposito" class="control-label">Institucion</label> 
			<div class="input-group">
				@inputText(formBuscador("deposito.nombre"),'class -> "form-control", 'id -> "deposito_nombre", 'autocomplete -> "off")
				@inputText(formBuscador("deposito_id"),'hidden -> "hidden", 'id -> "deposito_id")
				<span class="input-group-addon">
                	<a href="#" id="searchDeposito" data-title="Selección de Institucion" 
                	data-url="@controllers.delegacion.routes.DepositosController.modalBuscar()" 
                	data-height="650" data-width="700" 
                	data-listen="modal.seleccion.deposito.simple" 
                	data-label="#deposito_nombre" data-field="#deposito_id" /> <i class="glyphicon glyphicon-search"></i></a>
                </span>
			</div>
		</div>	
				
		<!-- <div class="col-sm-2">
			<label class="control-label"> 
				PROFE
				@select(formBuscador("profe"),options(""->"Todos","si"->"SI","no"->"NO"), 'class -> "form-control select")
			</label>
		</div> -->
		<div class="col-sm-2 input-group">
			<label class="control-label"> 
				Tipo Cuenta
				@select(formBuscador("tipo_cuenta_id"), 
				TipoCuenta.find.all().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
			</label>
		</div>
		
		<div class="col-sm-2">
			<label class="control-label"> 
				Impuesto
				@select(formBuscador("impuesto"),options(""->"Todos","si"->"SI","no"->"NO"), 'class -> "form-control select")
			</label>
		</div>
				
		<div class="col-sm-2">
			<div class="form-group">
			<label for="nombre" class="control-label">&nbsp;</label>
			<button  class="form-control btn btn-primary">Buscar</button>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
			<label for="nombre" class="control-label">&nbsp;</label>
			<a href="@controllers.dashboard.routes.InformeEstadisticoPagoProveedoresController.index()"  class="form-control btn btn-default">Limpiar</a>
			</div>
		</div>
			
		</div>
    </form>
    @if(buscador.getTotalRowCount == 0) {
        
        <div class="well">
            <em>No se encuentran resultados</em>
        </div>
        
    } else {
		 
		<table class="table table-striped table-bordered" id="listaInforme">
			<thead>
				<tr style="background: #FFFFFF;">
					<td colspan="5">
						Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s).  
					</td>
					<td><b>Total:</b><br /><span class="totalFooter"></span></td>
					<td></td>
				</tr>
				<tr>
					<th>Fecha</th> 
					<th>Proveedor</th> 
					<th width="60">Expediente</th>
					<th width="130">Rubro</th>
					<th width="80">Inst.</th>
					<th width="90">Pagado</th>
					<th width="90">Estado</th> 
					
				</tr>
			</thead>
			<tbody>
		        @for(informe <- buscador.getList) {
				<tr class="@getClassEstado(informe.estado)">
					<td>@if(informe.fecha_pago != null){@(utils.DateUtils.formatDate(informe.fecha_pago))}</td>
					<td>@informe.proveedor.nombre</td>
					<td>@informe.expediente.getExpedienteEjercicio()</td>  
					<td>@if(informe.ordenRubro != null){@informe.ordenRubro.nombre}</td>
					<td>@if(informe.deposito != null){@informe.deposito.nombre}</td>
					<td  class="total" data-valor="@informe.total">@utils.NumberUtils.moneda(informe.total)</td>
					<td class="estado">@(informe.estado.nombre)</td>
				</tr>
		        }
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5"></td>
					<td><b>Total:</b><br /><span class="totalFooter"></span></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		<div class="pagination pull-right">
		    @views.html.helpers.paginador(buscador, controllers.dashboard.routes.InformeEstadisticoPagoProveedoresController.index())
		</div>
	}
	
	
	<script type="text/javascript">
	$( function() {
		$('#searchExpediente, #searchProveedor,#searchDeposito').modalSearch();
		
		$('#filtrosEstados button').click( function() {
			var checkbox = $(this).find(':checkbox');
			checkbox.is(':checked') ? checkbox.removeAttr('checked') : checkbox.attr('checked', 'checked');
			$(this).closest('form').submit();
		});
		
		$('#filtrosEstados button:has(:checkbox:checked)').addClass('activeFiltro');
		
		var trs = $('#listaInforme tbody tr');

		var total = 0; 
		trs.each( function() {
			total += Number($('.total',this).attr("data-valor")); 
		});

		$(".totalFooter").html(formatNumberPesos(parseFloat(total).toFixed(2))); 
		
	});
	</script>
	
	
}