@(nForm: Form[Novedad])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }



@helper.form(action = controllers.novedades.routes.NovedadesController.guardarMasivo(), 'id -> "formNovedades") {


	@views.html.tags.successError()

	<div class="row">

		@inputText(nForm("fecha_inicio"),      'hidden -> "hidden")

		<div class="col-sm-6 @if(nForm.error("agente_id") != null) {has-error} else {has-required}">
			<label class="control-label">Agente
				<div class="input-group">
					@inputText(nForm("agente.apellido"), 'name -> "", 'autocomplete -> "off", 'class -> "form-control", 'id -> "agenteModal")
					@inputText(nForm("agente_id"), 'hidden -> "hidden", 'id -> "agente_id_modal")
					<span class="input-group-addon">
					<a href="#" id="searchAgenteModal"
					data-title="Selección de agente"
					data-url="@controllers.rrhh.routes.AgentesController.modalBuscar()"
					data-height="650" data-width="700"
					data-listen="modal.seleccion.agente.simple"
					data-label="#agenteModal" data-field="#agente_id_modal"><i class="glyphicon glyphicon-search"></i></a>
					</span>
				</div>
			</label>
				@nForm("agente_id").error.map{ error => <div class="text-error">@error.message</div>}
		</div>
		<div class="col-sm-6">
				<label for="servicio" class="control-label">Servicio</label>
				<div class="input-group @if(nForm.error("servicio_id")  != null) {has-error} else {has-required}">
					@inputText(nForm("servicio.nombre"),'class -> "form-control",'id -> "servicioModal")
					@inputText(nForm("servicio_id"),'hidden -> "hidden",'id -> "servicio_id_modal")
					<span class="input-group-addon">
					<!-- <a href="#" class="searchModal"
								id="searchServicioModal"
								data-title="Selección de servicios"
								data-url="@controllers.administracion.routes.OrganigramasController.modalBuscarServicios()"
								data-height="650"
								data-width="700"
								data-listen="modal.seleccion.servicio.simple"
								data-label="#servicioModal"
								data-field="#servicio_id_modal">
						<i class="glyphicon glyphicon-search"></i>
					</a> -->
					</span>
				</div>
				@nForm("departamento_id").error.map{ error =>
						<div class="text-error">@error.message</div>
					}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<label class="control-label">Planificacion
			@select(nForm("planificacion_id"), models.novedades.Planificacion.getPlanificacionEnCursoByOrganigrama().map { p => p.id.toString -> p.nombre},
			'class -> "form-control select", '_default -> "Seleccionar")
			</label>
			@nForm("planificacion_id").error.map{ error =><div class="text-error">@error.message</div>}
		</div>
	</div>
	<hr/>
	<div class="row">

		<div class="col-sm-3">
			<label class="control-label">Seleccione Fechas</label>
			<div id="multipleFechas"></div>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-3">

			@textarea(nForm("fechas"), 'class -> "form-control", 'rows -> "10", 'readonly -> "readonly")
		</div>
	</div>


	<div class="row ">

		<div class="col-sm-12">
			<label for="obs" class="control-label">Descripción</label>
			@textarea(nForm("descripcion"), 'class -> "form-control", 'rows -> "4")
		</div>

	</div>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
			<a href="" class="btn btn-default cancelar"  id="btnCancelar"><i class="glyphicon glyphicon-floppy-remove"></i>Cancelar</a>
		</div>
	</div>



	<script>
	$( function(){
		$('#searchAgenteModal').modalSearch();
		$('#searchServicioModal').modalSearch();

		$("#horas").mask("99:99");
		$('#multipleFechas').multiDatesPicker({altField:'#fechas'});

		if($("#agenteModal").length){

			var options = {
					script:"/suggestAgente/",
					varname:"",
					json:true,
					shownoresults:true,
					maxresults:6,
					callback: function (obj) {
												$("#agente_id_modal").val(obj.id);
											 }
				};
			var as_json = new bsn.AutoSuggest('agenteModal', options);
		}

		if($("#servicioModal").length){
			var options = {
					script:"/suggestOrganigrama/",
					varname:"",
					json:true,
					shownoresults:true,
					maxresults:26,
					cache:false,
					callback: function (obj) {
												$("#servicio_id_modal").val(obj.id);
											 }
				};
			var as_json = new bsn.AutoSuggest('servicioModal', options);
		}

	});
	</script>

	@flash().clear()
}