@(certificadoDeudaForm: Form[models.recupero.RecuperoCertificadoDeuda])
@import helper._

@scripts = {
	<script src="@routes.Assets.at("javascripts/recupero/planilla.js")" type="text/javascript"></script>
}

@views.html.recupero.mainRecupero("Certificado Deuda", scripts) {
	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Crear nuevo Certificado</h1>
			</div>
		</div>
	</div>
	@if(flash.containsKey("error")) {
		<div class="alert alert-danger">
			@flash.get("error")
		</div>
    }

    @helper.form(action = controllers.recupero.routes.RecuperoCertificadoDeudaController.guardar()) {

		@views.html.recupero.recuperoCertificadoDeuda.formCertificadoDeuda(certificadoDeudaForm)


	}
}