@(buscador: utils.pagination.Pagination[models.recupero.RecuperoCertificadoDeuda], formBuscador: DynamicForm)
@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }
@scripts = {
	<script src="@routes.Assets.at("javascripts/recupero/planilla.js")" type="text/javascript"></script>
}

@getClassEstado(i:Estado) = @{
	var classEstado:String = new String()
	if(i != null && i.id == 136){
		classEstado = "borrador"
	}else if(i != null && i.id == 137){
		classEstado = "autorizado"
	}
	classEstado

}

@views.html.recupero.mainRecupero("Lista de Certificado Deuda", scripts) {

<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>Lista de Certificado Deuda</h1>
		</div>

		<div class="col-sm-5">


			<div class="dropdown pull-right btn-header">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			 	<i class="glyphicon glyphicon-cog"></i>
			    Acciones
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

			  </ul>
			</div>

			<div class="pull-right btn-header">
				<a href="@controllers.recupero.routes.RecuperoCertificadoDeudaController.crear()?@UriTrack.encode()"  class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Nueva Certificado</a>
			</div>
		</div>
	</div>
</div>
@views.html.tags.successError()
	<div id="actions">
		<form action="" id="formSearchPlanillas" method="GET">

		<div class="row">

			<div class="col-sm-2">
				<div class="form-group">
					<label for="nombre" class="control-label">Numero
					@inputText(formBuscador("numero"), 'class -> "form-control", 'autofocus -> "autofocus")
					</label>
				</div>
			</div>



			<div class="col-sm-2 input-group">
				<label class="control-label">Fecha</label>
				<div>
				@inputText(formBuscador("fecha_desde"), 'class -> "form-control dateMask inputDateMascara", 'id -> "desde", 'placeholder -> "Desde")
				@inputText(formBuscador("fecha_hasta"), 'class -> "form-control dateMask inputDateMascara", 'id -> "hasta", 'placeholder -> "Hasta")
				</div>

			</div>



		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="form-group">
				<label for="nombre" class="control-label">&nbsp;</label>
				<button  class="form-control btn btn-primary">Buscar</button>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
				<label for="nombre" class="control-label">&nbsp;</label>
				<a href="@controllers.recupero.routes.RecuperoCertificadoDeudaController.index()"  class="form-control btn btn-default">Limpiar</a>
				</div>
			</div>
		</div>

		</form>
	</div>

	@if(buscador.getTotalRowCount == 0) {

        <div class="well">
            <em>No se encuentran Certificado</em>
        </div>

    } else {
    	<table id="listaPlanillas" class="table table-striped table-bordered">
			<thead>

			    <tr style="background: #FFFFFF;">
			        <td colspan="6">Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s). </td>
			        <td><b>Total:</b> <span class="baseFooter"></span></td>
			        <td colspan="2">&nbsp</td>
		        </tr>
				<tr>
					<th width="10"><input type="checkbox" name="checkAll" id="checkAll"/></th>
					<th width="30">#</th>

					<th width="30">Numero</th>
					<th>Cliente</th>
					<th width="50">Fecha</th>
					<th width="100">Expediente</th>
					<th width="95" align="center">Total</th>
					<th width="100">Estado</th>
					<th width="30">#</th>
				</tr>
			</thead>
			<tbody>
			@for(planilla <- buscador.getList) {

				<tr class="pointer @getClassEstado(planilla.estado)" data-estado="" data-href="@controllers.recupero.routes.RecuperoCertificadoDeudaController.ver(planilla.id)&@UriTrack.encode()">
					<td><input type="checkbox" name="check_listado[]" value="@planilla.id" class="notSeleccion" id="check-@planilla.id"/></td>
					<td><a class="btn btn-default btn-xs notSeleccion" href="@controllers.recupero.routes.RecuperoCertificadoDeudaController.editar(planilla.id)&@UriTrack.encode()"><i class="glyphicon glyphicon-edit"></i></a></td>

					<td>@(planilla.numero)</td>
					<td>@(planilla.cliente.nombre)</td>
					<td class="fecha">@if(planilla.fecha != null){@(utils.DateUtils.formatDate(planilla.fecha))}</td>
					<td>@if(planilla.expediente != null){@(planilla.expediente.getExpedienteEjercicio())}</td>
					<td class="base" rel="@planilla.getTotal()"  align="center">@(utils.NumberUtils.moneda(planilla.getTotal()))</td>
					<td class="estado" align="center">@if(planilla.estado != null){ @(planilla.estado.nombre)}</td>
					<td>
						<a class="btn btn-default btn-xs delete-confirm-link notSeleccion" href="@controllers.recupero.routes.RecuperoCertificadoDeudaController.eliminar(planilla.id)&@UriTrack.encode()">
							<i class="glyphicon glyphicon-trash icono-eliminar"></i>
						</a>
					</td>
				</tr>
             }

	        </tbody>
	        <tfoot>
		        <tr>
			        <td colspan="6">&nbsp</td>
			        <td><b>Total:</b> <span class="baseFooter"></span></td>
			        <td colspan="2">&nbsp</td>

		        </tr>
	        </tfoot>
        </table>
        <div class="pagination pull-right">
		    @views.html.helpers.paginador(buscador, controllers.recupero.routes.RecuperoCertificadoDeudaController.index())
		</div>

<script>
$( function (){
	var n = 0;
	var b = 0;
	var c = 0;
	var nb = 0;

	$(".base").each(function (index) {

		nb = Number($(this).attr("rel"))+nb
	})
	$(".baseFooter").append(formatNumberPesos(parseFloat(nb).toFixed(2)));

	$( "#checkAll" ).click(function() {

		  	selectAll();
	});
	$( "input[name='check_listado[]']" ).click(function() {
		selectTrList();
	});
});

function selectTrList(){
	var n = 0;
	var b = 0;
	var c = 0;
	var nb = 0;

	$(".base").each(function (index) {
		if($(this).parent().find("input[name='check_listado[]']").prop("checked")){
			nb = Number($(this).attr("rel"))+nb
		}
	})
	$(".baseFooter").empty();
	$(".baseFooter").append(formatNumberPesos(parseFloat(nb).toFixed(2)));
}

function selectAll(){
	var n = 0;
	var b = 0;
	var c = 0;
	var nb = 0;


	if($("#checkAll").prop("checked")){
		$("input[name='check_listado[]']").prop( "checked", true );

	}else{
		$( "input[name='check_listado[]']").prop( "checked", false );
	}
	selectTrList();
}

</script>

    }

}