@(bancoForm: Form[Banco])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group @if(bancoForm.error("nombre") != null) {has-error}else{has-required}">
				<label for="inputNombre" class="control-label">Nombre</label> 
				@inputText(bancoForm("nombre"), 'class -> "form-control")
				@bancoForm("nombre").error.map{ error =>
					<div class="text-error">@error.message</div>
				}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label for="inputCuit" class="control-label">Cuit</label> 
				@inputText(bancoForm("cuit"), 'class -> "form-control")
			</div>
		</div>
	</div>