@(departamentoForm: Form[Departamento])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group @if(departamentoForm.error("nombre") != null) {has-error}else{has-required}">
				<label for="inputNombre" class="control-label">Nombre</label> 
				@inputText(departamentoForm("nombre"), 'class -> "form-control")
				@departamentoForm("nombre").error.map{ error =>
					<div class="text-error">@error.message</div>
				}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group @if(departamentoForm.error("parent_departamento.id") != null){has-error}else{has-required}">
				<label for="inputDeparamento" class="control-label">Padre</label> 
				@inputText(departamentoForm("parent_departamento.nombre"),'class -> "form-control")
				@inputText(departamentoForm("parent_departamento.id"),'hidden -> "hidden")
				@departamentoForm("parent_departamento.id").error.map{ error =>
					<div class="text-error">@error.message</div>
				}
			</div>
		</div>
		
		<div class="col-sm-2">
			<div class="checkbox">
				<label>
					Activo @checkbox(departamentoForm("activo"))
				</label>
			</div> 
		</div>
	</div>
	