@(buscador: utils.pagination.Pagination[Departamento], formBuscador: DynamicForm)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 

@views.html.rrhh.mainRrhh("Lista Departamentos") {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-10">
				<h1>Lista de Departamentos</h1>
			</div>
			<div class="col-sm-2">
				<a href="@controllers.rrhh.routes.DepartamentosController.indexDepartamento()" class="btn btn-default">
					<i class="glyphicon glyphicon-list"></i>
				</a>
				<a href="#" class="btn btn-default">
					<i class="glyphicon glyphicon-align-justify"></i>
				</a>
			</div>
		</div>
	</div>
	<div id="actions">
		<div class="row">
			<form action="" method="GET">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="nombre" class="control-label">Nombre
						@inputText(formBuscador("nombre"), 'class -> "form-control", 'autofocus -> "autofocus")
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="nombre" class="control-label">&nbsp;</label>
					<button  class="form-control btn btn-primary">Buscar</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="nombre" class="control-label">&nbsp;</label>
					<a href="@controllers.rrhh.routes.DepartamentosController.indexDepartamento()"  class="form-control btn btn-default">Limpiar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<a href="@controllers.rrhh.routes.DepartamentosController.crearDepartamento"  class="form-control btn btn-default">Nuevo Departamento</a>
		</div>
	</div>
	
	@if(buscador.getTotalRowCount == 0) {
        
        <div class="well">
            <em>No se encuentran Departamento</em>
        </div>
        
    } else {
		
		Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s). 
		
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="50">#</th>
					<th width="100">Código</th>
					<th width="300">Nombre</th>
					<th width="300">Padre</th>
					<th class="50">#</th>
				</tr>
			</thead>
			<tbody>
			@for(departamento <- buscador.getList) {
				<tr>
					<td>
						<a href="@controllers.rrhh.routes.DepartamentosController.editarDepartamento(departamento.id)">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
					</td>
					<td>@(departamento.id)</td>
					<td>@(departamento.nombre)</td>
					<td>@if(departamento.parent_departamento != null){@(departamento.parent_departamento.nombre)}</td>
					<td>
						<a href="@controllers.rrhh.routes.DepartamentosController.eliminarDepartamento(departamento.id)">
							<i class="glyphicon glyphicon-remove-circle"></i>
						</a>
					</td>
				</tr>
             }
	        </tbody>
        </table>
		<div class="pagination pull-right">
		    @views.html.helpers.paginador(buscador, controllers.rrhh.routes.DepartamentosController.indexDepartamento())
		</div>
 	 }
}
		
		
	
	