@(linea: CertificacionServicioLinea, editable: Boolean)

@getPacientes(linea: CertificacionServicioLinea) = @{
	var pacientes:String = new String()
	if(linea != null && linea.certificacionServicioLineaCliente != null && linea.certificacionServicioLineaCliente.size() > 0){
		for(olp <- linea.certificacionServicioLineaCliente) {
			pacientes += olp.cliente.nombre.toUpperCase()+" - ID:"+olp.cliente.id_paciente_rismi+" - Q:"+olp.cantidad+"\n" 
		}
	}
	pacientes
}

<tr data-id="@linea.id">
	@if(editable){
		<td class="accion-editar"><a class="btn btn-default btn-xs modificarProducto" href="@controllers.patrimonio.routes.LineasCertificacionesController.editar(linea.id)"><i class="glyphicon glyphicon-edit"></i></a></td>
	}
	<td>@linea.producto.nombre</td>
	<td class="cuentaAnaliticaEnLinea">@if(linea.cuentaAnalitica == null){No asociada} else {@linea.cuentaAnalitica.codigo @linea.cuentaAnalitica.nombre}</td>
	<td>@linea.cantidad</td>
	<td>@linea.udm.nombre</td>
	<td>@utils.NumberUtils.moneda(linea.precio)</td>
	<td>@linea.descuento</td>
	<td>@utils.NumberUtils.moneda(  linea.getTotalDescuento())</td>
	<td>@utils.NumberUtils.moneda(linea.getTotal())</td>
	<td>
		@if(linea != null && linea.certificacionServicioLineaCliente != null && linea.certificacionServicioLineaCliente.size() > 0){
			<div class='tip-top pointer' title='@getPacientes(linea)'><i class="glyphicon glyphicon-user"></i></div>
		}
	</td>
	@if(editable){
		<td><a class="btn btn-default btn-xs eliminarProducto delete-confirm-link" href="@controllers.patrimonio.routes.LineasCertificacionesController.eliminar(linea.id)"><i class="glyphicon glyphicon-trash icono-eliminar"></i></a></td>
	}
</tr>