@(paginador:  utils.pagination.Pagination[OrdenPagoCircuitoLinea])
<div id="listaOrdenPagoCircuitoLineas" class="contenedorPaginador ajaxPaginador">

<p>
	<b>Orden Pago Circuito Linea</b>
	 
</p>

<table id="listaDeOrdenPagoCircuitoLineas" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Id</th> 
			<th>Referencia</th>
			<th>Proveedor</th>
			<th>Periodo</th>
			<th>Total</th>
		<tr>	
	</thead>
	<tbody>
	@for(linea <- paginador.getList) {
		@views.html.contabilidad.ordenesPagosCircuitosLineas.lineaOrdenPagoCircuitoLinea(linea)
	}
	</tbody>
</table>

<div class="pagination pull-right">
    @views.html.helpers.paginador(paginador, controllers.contabilidad.routes.OrdenesPagosCircuitosLineasController.index())
</div>
</div>

<script>
$( function(){
	/**
	 * Ventana de carga linea de  Pagos en pago
	 */
	 
	var contenedor = $("#listaOrdenPagoCircuitoLineas");

	 
	/* function mostrarModal(url){
		modalCargaPagos = $('<div></div>').dialog({
			resizable: false,
		    title: "Cargar pago",
		    height: 400,
		    width: 750,
		    modal: true,
		    open: function( event, ui ) {
				$.get(url, function(data){
					modalCargaPagos.html(data);
				});
		    },
		    close: function(event, ui ){
		    	modalCargaPagos.dialog('destroy');
			}
		  });
		
		modalCargaPagos.on('click', '.cancelar', function(){
			modalCargaPagos.dialog('destroy');
			return false;
		});
		
		modalCargaPagos.on('submit', function(e){
			var href = $(e.target).attr('action');
			var data = $(e.target).serialize();
			$.post(href, data, function(resultado){
				if(resultado.success && resultado.nuevo){
					$('#listaDePagos tbody').prepend(resultado.html);
					modalCargaPagos.dialog( "destroy" );
				} else if(resultado.success && resultado.modificar){
					$(lineaParaEditar).replaceWith(resultado.html);
					modalCargaPagos.dialog( "destroy" );
				} else {
					modalCargaPagos.html(resultado);
				}
			});
			return false;
		});
		
		
		return modalCargaPagos;
	}
	
	
	contenedor.find('form').on('submit', function(){
		var url = $(this).attr("action");
		var query = $(this).serialize();
		$.get(url+"?"+query, function(data){
			contenedor.parent().html(data);
		});
		return false;
	});*/
});
</script>
