@(incidencia: models.equipos.EquipoIncidencia, editable: Boolean)
<tr data-id="@incidencia.id">

		<td class="accion-editar">
			@if(editable){
				<a class="btn btn-default btn-xs modificarEquipoHistoria" href="@controllers.equipo.routes.EquipoIncidenciaController.editar(incidencia.id)">
				<i class="glyphicon glyphicon-edit"></i></a>
			}
		</td>

	<td>@if(incidencia.fecha != null){@(utils.DateUtils.formatDate(incidencia.fecha))}</td>
	<td>@incidencia.descripcion</td>
	<td class="" >@if(incidencia.createUser != null){@incidencia.createUser.nombre}</td>
	<td></td>

	<td>
	@if(editable){
		<a class="btn btn-default btn-xs eliminar" href="@controllers.equipo.routes.EquipoIncidenciaController.eliminar(incidencia.id)"><i class="glyphicon glyphicon-trash icono-eliminar"></i></a>
	}
	</td>

</tr>