@(orden: OrdenProvision, buscador: utils.pagination.Pagination[OrdenProvisionLineas])

@getPacientes(linea: OrdenLinea) = @{
	var pacientes:String = new String()
	if(linea != null && linea.ordenLineaCliente != null && linea.ordenLineaCliente.size() > 0){
		for(olp <- linea.ordenLineaCliente) {
			pacientes += olp.cliente.nombre.toUpperCase()+" - ID:"+olp.cliente.id_paciente_rismi+"\n" 
		}
	}
	pacientes
}

@import helper._
@import models.auth._
@import utils._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

	<ul id="ordenTab" class="nav nav-tabs">
		<li class="active"><a href="#contenedorSolicitados" data-toggle="tab">Servicios</a></li>
		<li><a id="menuCertificaciones" href="#contenedorCertificaciones" data-href="@controllers.patrimonio.routes.CertificacionesServiciosController.indexAjax()?orden_provision_id=@orden.id" data-toggle="tab">Certificaciones</a></li>
		<li><a id="menuAjusteOrdenCompra" data-href="@controllers.compras.routes.OrdenesLineasAjustesController.index(orden.ordenCompra.id,false)" href="#contenedorAjusteOrdenCompra" data-toggle="tab">Ajustes Orden</a></li>
	</ul>

	<div class="tab-content">
		<div id="contenedorSolicitados" class="tab-pane active">
			@if(buscador.getTotalRowCount == 0) {
		       <div class="well">
		           <em>No se encuentran resultados</em>
		       </div>
		       
		   } else {
		   	Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s). 
		   
			<table class="table table-striped table-bordered table-hover" style="margin-top: 20px">
				<thead>
					<tr>
						<th><input type="checkbox" class="check_all" data-check=".check_productos" /></th>
						<th>Producto</th>
						<th width="100">Solicitado</th>
						<th>Servicio</th>
						<th width="50">Udm</th>
						<th width="80">Total</th>
						<th width="100">Certificado</th>
						<th width="100">Pendiente</th>
						<th width="100">Anulado</th>
						<th>Pacientes</th>
					</tr>
				</thead>
				<tbody>
				@for(o <- buscador.getList) {
					<tr>
						<th width="30"><input name="check_listado[]" value="@o.orden_linea_id" type="checkbox" class="check_productos notSeleccion" /></th>
						<td>@o.producto.nombre</td>
						<td>@o.cantidad</td>
						<td>@if(o.departamento != null){@o.departamento}</td>
						<td>@o.udm</td>
						<td>@utils.NumberUtils.moneda(o.getTotal())</td>
						<td>@utils.NumberUtils.moneda(o.getTotalRecepcionado())</td>
						<td>@utils.NumberUtils.moneda(o.getTotal().subtract(o.getTotalRecepcionado()))</td>
						<td>@utils.NumberUtils.moneda(o.getAnuladosMonto())</td>
						<td>
						@if(o.getOrdenLinea().ordenLineaCliente != null && o.getOrdenLinea().ordenLineaCliente.size() > 0){
							<div class='tip-top pointer' title='@getPacientes(o.getOrdenLinea())'><i class="glyphicon glyphicon-user"></i></div>
						}
						</td>
					</tr>
				}
				</tbody>
			</table>
			<div class="pagination pull-right">
			    @views.html.helpers.paginador(buscador, controllers.patrimonio.routes.OrdenesProvisionController.ver(orden.id))
			</div>
		   }
		</div>
		
		<div id="contenedorCertificaciones" class="tab-pane">
			
		</div>
		
		<div id="contenedorAjusteOrdenCompra" class="contenedor tab-pane">
			
		</div>