@(orden: OrdenProvision, buscador: utils.pagination.Pagination[OrdenProvisionLineas], paginadorFicha: utils.pagination.PaginadorFicha)
@import helper._
@import models.auth._
@import utils._

@paginadorFicha.setActual(orden.id.toString)


@scripts = {
	<script src="@routes.Assets.at("javascripts/patrimonio/ordenesProvision.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/patrimonio/actasRecepcion.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/patrimonio/recepciones.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/patrimonio/remitos.js")" type="text/javascript"></script>
}

@views.html.patrimonio.mainPatrimonio("Ver orden de provisión", scripts) {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-5">
				<h1>Ver orden de provisión @if(orden.ordenCompra.expediente != null){
											@if(orden.ordenCompra.expediente.emergencia){
												<span style="color:red;font-weight: bold;font-size:14px; ">(Emergencia Sanitaria)</span>}}</h1>
			</div>
			<div class="col-sm-7">
				<div class="dropdown pull-right btn-header">
					 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"> 
					 	<i class="glyphicon glyphicon-cog"></i> Acciones <span class="caret"></span> 
					 </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					  	@if(orden.ordenCompra.tipo_orden == "comun" && Permiso.check("anulacionRecepcionProductosCrear")) {
							<li role="presentation">
							  	<a role="menuitem" id="accionAnularProductosPedientes" href="#" tabindex="-1" 
					    		data-url="@controllers.patrimonio.routes.OrdenesProvisionController.modalAnularProductosPedientes(orden.id)">
					    		Anular Productos Pendientes
					    		</a>
					    	</li>
				    	}
				    		<li role="presentation">
							  	<a role="menuitem" id="accionCrearActasDeAjustes" href="#" tabindex="-1" 
					    		data-url="@controllers.patrimonio.routes.OrdenesProvisionController.modalCrearActasDeAjustes(orden.id)">
					    		Crear Actas Ajuste Diferencia Cotizacion
					    		</a>
					    	</li>
				    	
					  </ul>    
				</div>	  	
				<div class="dropdown pull-right btn-header">
					 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
					 	<i class="glyphicon glyphicon-list-alt"></i>
					    Reportes
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation">
						  	<a role="menuitem" id="" data-url="" tabindex="-1" 
				    		href="@controllers.patrimonio.routes.OrdenesProvisionReportesController.informeGeneral(orden.id)">
				    		Informe General</a>
				    	</li>
						<li role="presentation">
						  	<a role="menuitem" id="" data-url="" tabindex="-1" 
				    		href="@controllers.patrimonio.routes.OrdenesProvisionReportesController.informeInventariable(orden.id)">
				    		Informe Inventariables</a>
				    	</li>
				    	<li role="presentation">
						  	<a role="menuitem" id="reporteGeneralPorExpedientePorCuenta" data-url="" tabindex="-1" 
				    		href="@controllers.patrimonio.routes.OrdenesProvisionReportesController.informePendiente(orden.id)">
				    		Informe Pendientes</a>
				    	</li>
				    	@if(Permiso.check("reporteOrdenProvision")) {
						  <li>
						  	<a role="menuitem" tabindex="-1" href="#" class="reporteOrdenProvision"  
						  	data-url="@controllers.patrimonio.routes.OrdenesProvisionReportesController.ordenDeProvision(orden.ordenCompra.id,false)">Reporte Orden Provision</a>
						  </li>
						
						  <li>
						  	<a role="menuitem" tabindex="-1" href="#" class="reporteNotaCierre"  
						  	data-url="@controllers.patrimonio.routes.OrdenesProvisionReportesController.notaCierre(orden.id,1)">Reporte Nota Cierre</a>
						  </li>
						  <li>
						  	<a role="menuitem" tabindex="-1" href="#" class="reporteNotaCierre"  
						  	data-url="@controllers.patrimonio.routes.OrdenesProvisionReportesController.notaCierre(orden.id,2)">Reporte Nota Cierre NUEVA!!</a>
						  </li>
				  		}
				  		@if(Permiso.check("reporteOrdenProvisionSinMonto")) {    
						   <li>
						  	<a role="menuitem" tabindex="-1" href="#" class="reporteOrdenProvision"  
						  	data-url="@controllers.patrimonio.routes.OrdenesProvisionReportesController.ordenDeProvision(orden.ordenCompra.id,true)">Reporte Orden Provision Sin Montos</a>
						  </li>
						}  
				  		<li>
						  	<a role="menuitem" tabindex="-1" href="#" id="reporteAnulados"  
						  	data-url="@controllers.patrimonio.routes.OrdenesProvisionReportesController.reporteAnulados(orden.id)">Reporte Anulados</a>
						 </li>
				    </ul>
				</div>
				@if(orden.ordenCompra.tipo_orden == "comun") {
					@if(Permiso.check("recepcionesVer")) {
					<div class="pull-right btn-header">
						<a href="@controllers.patrimonio.routes.RecepcionesController.index()?orden_provision=@orden.numero" class="btn btn-default"><i class="glyphicon glyphicon-th-list"></i> Ver recepciones</a>
					</div>
					}
					@if(Permiso.check("recepcionesCrear")) {
					<div class="pull-right btn-header">
						<a href="@controllers.patrimonio.routes.RecepcionesController.crear(orden.id)" class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Nueva recepción</a>
					</div>
					}
				} else {
					@if(Permiso.check("certificacionesServiciosCrear")) {
					<div class="pull-right btn-header">
						<a href="#" data-url="@controllers.patrimonio.routes.CertificacionesServiciosController.crearDesdeOrdenAjax(orden.id)" 
						class="btn btn-default" id="certificar"> <i class="glyphicon glyphicon-plus-sign"></i> Crear certificación</a>
					</div>
					}
				
					@if(Permiso.check("certificacionesServiciosVer")) {
					<div class="pull-right btn-header">
						<a href="@controllers.patrimonio.routes.CertificacionesServiciosController.index()?orden_provision=@orden.numero" class="btn btn-default"><i class="glyphicon glyphicon-list"></i> Ver certificaciones</a>
					</div>
					}
						
				}
		
				
			</div>
		</div>
	</div>

@views.html.tags.successError()

<div class="row menu-acciones">
	<div class="col-sm-4">
		@if(Permiso.check("ordenesProvisionEditar")) {
			<a href="@controllers.patrimonio.routes.OrdenesProvisionController.editar(orden.id)@UriTrack.get("&")"  class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar</a>
		}
		@if(Permiso.check("ordenesProvisionEliminar")) {
			<a href="@controllers.patrimonio.routes.OrdenesProvisionController.eliminar(orden.id)@UriTrack.get("&")"  class="btn btn-default delete-confirm-link"><i class="glyphicon glyphicon-trash icono-eliminar"></i> Eliminar</a>
		}
	</div>
	<div class="col-sm-4">
		@if(orden.ordenCompra.tipo_moneda != null){
			<span style="color:green;font-weight:bold;font-size: 24px;">MONEDA EXTRANJERA</span>
		}
	</div>
	<div class="col-sm-3 ">
		<a href="@UriTrack.getOnNull(controllers.patrimonio.routes.OrdenesProvisionController.index().absoluteURL())" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
				
		@if(paginadorFicha.getLista().size() > 1){

		<div class="btn-group">
			@if(paginadorFicha.hasPrev()) {
				<a  role="group" href="@controllers.patrimonio.routes.OrdenesProvisionController.ver(paginadorFicha.prev().toLong)@UriTrack.get("&")" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i></a>
			}
			<p style="padding-top: 3px" href=""  role="group" class="btn btn-default">@paginadorFicha.posicionActual() de @paginadorFicha.getLista().size()</p>
			@if(paginadorFicha.hasNext()) {
				<a  role="group" href="@controllers.patrimonio.routes.OrdenesProvisionController.ver(paginadorFicha.next().toLong)@UriTrack.get("&")" class="btn btn-default"><i class="glyphicon glyphicon-chevron-right"></i></a>
			}  
		</div>
		}
		
	</div>
</div>



<div class="row">
	<input type="hidden" name="idOrdenProvision" id="idOrdenProvision" value="@orden.id"/>
	<div class="col-sm-3">
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">N° Orden</label>
				<p class="form-control-static form-control">@orden.numero</p>
			</div>
			<div class="col-sm-6">
				<label class="control-label">N° Ord. Compra</label>
				<p class="form-control-static form-control">@orden.ordenCompra.nombre</p>
			</div>
		</div>
	</div>


	<div class="col-sm-3">
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">Ejercicio</label>
				<p class="form-control-static form-control">@orden.ejercicio.nombre</p>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Expediente</label>
				<p class="form-control-static form-control">@orden.ordenCompra.expediente.getExpedienteEjercicio()</p>
			</div>
		</div>
	</div>


	
	<div class="col-sm-2">
		<label class="control-label">Total</label>
		<p class="form-control-static form-control">@utils.NumberUtils.moneda(orden.ordenCompra.getTotal())</p>
	</div>
	
	<div class="col-sm-3">
		<div class="row">
			<div class="col-sm-6">
				<label class="control-label">Fecha Provision</label>
				<p class="form-control-static form-control">@DateUtils.formatDate(orden.ordenCompra.fecha_provision)</p>
			</div>
			
			<div class="col-sm-6">
				<label class="control-label">Entrega</label>
				<p class="form-control-static form-control">@DateUtils.formatDate(orden.plazo_entrega)</p>
			</div>
		</div>
	</div>

	
</div>

<div class="row">

	<div class="col-sm-4">
		<label class="control-label">Proveedor</label>
		<p class="form-control-static form-control">@orden.ordenCompra.proveedor.nombre</p>
	</div>
	<div class="col-sm-2">
		<label class="control-label">Fecha inicio</label>
		<p class="form-control-static form-control">@DateUtils.formatDate(orden.ordenCompra.fecha_inicio)</p>
	</div>
	<div class="col-sm-2">
		<label class="control-label">Fecha fin</label>
		<p class="form-control-static form-control">@DateUtils.formatDate(orden.ordenCompra.fecha_fin)</p>
	</div>
	<div class="col-sm-2">
		<label class="control-label">Fecha Creacion</label>
		<p class="form-control-static form-control">@DateUtils.formatDate(orden.create_date)</p>
	</div>
	<div class="col-sm-2">
		<label class="control-label">Fecha Cierre</label>
		<p class="form-control-static form-control">@DateUtils.formatDate(orden.fcierre)</p>
	</div>
</div>

<hr />

<div id="listas">
@if(orden.ordenCompra.tipo_orden == "comun") {
	@views.html.patrimonio.ordenesProvision.verListaComun(orden, buscador)
} else {
	@views.html.patrimonio.ordenesProvision.verListaCertificaciones(orden, buscador)
}
</div>

	<script>
	$( function(){
		
		/*
		 * Para la seleccion de la lista de recepciones
		 */
		$('.check_all').on('change', function(){
			var c = $(this).prop("checked");
			var target = $(this).attr('data-check');
			if(c) $(target).prop( "checked", true );
			else $(target).prop( "checked", false );
		});
		
		$('#checkAllLineaAnulacion').on('change', function(){
			var c = $(this).prop("checked");
			var target = $(this).attr('data-check-linea-anulacion');
			if(c) $(target).prop( "checked", true );
			else $(target).prop( "checked", false );
		});
		
		
		
		
		$(".anularProducto").click( function () {
			var url = $(this).attr('href');
			var modal = $('<div></div>').dialog({
				resizable: false,
			    title: "Anular productos a recepcionar",
			    height: 250,
			    width: 750,
			    modal: true,
			    open: function( event, ui ) {
					$.get(url, function(data){
						modal.html(data);
					});
			    },
			    close: function(event, ui ){
			    	modal.dialog('destroy');
				}
			  });
			
			modal.on('submit', function(e){
				var href = $(e.target).attr('action');
				var data = $(e.target).serialize();
				$.post(href, data, function(resultado){
					if(resultado.success) {
						modal.dialog('destroy');
						location.reload();
					} else {
						modal.html(resultado);
					}
					
				});
				return false;
			});
			
			
			return false;
		});
		
		function getCheckCertificacionesServiciosSeleccionados(){
			return $("input[name='check_listado[]']").serialize();
		}
		
		$('#certificar').click( function() {
			var check = $('.check_productos:checked');
			if(check.length <= 0) {
				alert("Debe seleccionar al menos un producto.");
				return false;
			}

			var idOrdenProvision = $('#idOrdenProvision').val();
			var data = getCheckCertificacionesServiciosSeleccionados();
			var url = $(this).attr("data-url");
			 
			$.post(url, data,function(data){
				if(data.success){
					window.location = '/patrimonio/certificaciones/editar?id='+data.idCertificacionServicio;	
				}else{
					/**************************/
					if(data.cargarPacientes){
						var url = $(this).attr("data-url");
						var dialogo = $('<div></div>');
				
						dialogo.dialog({
							title: "CARGAR PACIENTES",
					    	resizable: false,
							autoOpen: true,
							modal: true,
							height: 450,
							width:750,
					        buttons: {
						          Cerrar: function() {
						            $( this ).dialog( "destroy" );
						          }
						    },
					    	close: function(event, ui ){
					    		$(this).dialog( "destroy" );
					    	},
						    open: function( event, ui ) {
								dialogo.html(data.html);
							}
					    });
					}else{
						alert("No se puede generar la Certificacion.")
					}
				}
			});	
			
			return false;
		});
		
		
		
	});
	</script>

}