@(buscador: utils.pagination.Pagination[models.haberes.Novedad])
@import helper._
@import models.auth._
@import utils._

<h4>Novedades cargadas</h4>


 @if(buscador.getTotalRowCount == 0) {
      
      <div class="well">
          <em>No se encuentran novedades</em>
      </div>
      
  } else {

Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s).   
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th width="30"></th>
			<th>Puesto laboral</th>
			<th width="150">Concepto</th>
			<th width="90">Cantidad</th>
			<th width="90">Importe</th>
			<th width="90">Periodo inicio</th>
			<th width="90">Periodo fin</th>
			<th width="90">Tipo Liq.</th>
			<th width="30"></th>
		</tr>
	</thead>
	<tbody>
	

	
        @for(novedad <- buscador.getList) {
		<tr class="pointer" data-href="@controllers.haberes.routes.NovedadesController.ver(novedad.id)&@UriTrack.encode()">
			<td><a class="btn btn-default btn-xs notSeleccion" href="@controllers.haberes.routes.NovedadesController.editar(novedad.id)&@UriTrack.encode()"><i class="glyphicon glyphicon-edit"></i></a></td>
			<td>@novedad.puestoLaboral.legajo.agente.getNombreCompleto()</td>
			<td>@novedad.concepto.denominacion</td>
			<td>@novedad.cantidad</td>
			<td>@utils.NumberUtils.moneda(novedad.importe)</td>
			<td>@novedad.periodoInicio.nombre</td>
			<td>@if(novedad.periodoFin != null){@novedad.periodoFin.nombre}</td>
			<td>@if(novedad.liquidacionTipo != null){@novedad.liquidacionTipo.nombre}</td>
			<td>
				@if(Permiso.check("liquidacionNovedadesEliminar")) {	
				<a class="btn btn-default btn-xs  eliminarNovedad notSeleccion" href="@controllers.haberes.routes.NovedadesController.eliminar(novedad.id)&@UriTrack.encode()"><i class="glyphicon glyphicon-trash icono-eliminar"></i></a>
				}
			</td>
		</tr>
        }
	</tbody>
</table>

<div class="pagination pull-right">
    @views.html.helpers.paginador(buscador, controllers.haberes.routes.NovedadesController.index())
</div>

  }