@(
al:List[models.AutorizadoLinea],
f:List[models.Factura],
o:Orden,rowActas:List[com.avaje.ebean.SqlRow],
ultimaCotizacion:java.math.BigDecimal,
formBuscador: DynamicForm,
fh:List[models.Factura],
alHijo:List[models.AutorizadoLinea])
@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }
@scripts = {
	<script src="@routes.Assets.at("javascripts/dashboard/autorizado.js")" type="text/javascript"></script>
}
@import java.math.BigDecimal;var totalDeudaDolar=new java.math.BigDecimal(0);var totalDeuda=new java.math.BigDecimal(0);var totalActa=new java.math.BigDecimal(0);var totalActaDolar=new java.math.BigDecimal(0);var totalAutorizadoDolar=new java.math.BigDecimal(0);var totalAutorizado=new java.math.BigDecimal(0);var totalFacturaDolar=new java.math.BigDecimal(0);var totalFactura=new java.math.BigDecimal(0);
@views.html.dashboard.mainDashboard(title = "Listado Deuda Autorizado Distinto de Pagado", scripts) {
<div class="page-header">
	<div class="row">
		<div class="col-sm-9">
			<h1>Listado Control Moneda Extranjera</h1>
		</div>
		<div class="col-sm-3">
		</div>
	</div>
</div>

<div id="actions">
	<form action="" method="GET">
		<div class="row">

				<div class="col-sm-2">
					<label class="control-label">Orden de Compras</label>
					<div class="input-group">
						@inputText(formBuscador("orden.nombre"),'class -> "form-control", 'id -> "orden")
						@inputText(formBuscador("orden_id"),'hidden -> "hidden", 'id -> "orden_id")

						<span class="input-group-addon"><a href="#"
						id="searchOrden"
						class="searchModal"
						data-title="Selección de orden"
						data-url="@controllers.compras.routes.OrdenesController.modalBuscar()"
						data-height="650" data-width="700"
						data-listen="modal.seleccion.orden.simple"
						data-label="#orden"
						data-field="#orden_id"><i class="glyphicon glyphicon-search"></i></a></span>

					</div>
				</div>
		</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
					<label for="nombre" class="control-label">&nbsp;</label>
					<button  class="form-control btn btn-primary">Buscar</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="nombre" class="control-label">&nbsp;</label>
					<a href="@controllers.compras.routes.SolicitudesController.index()"  class="form-control btn btn-default">Limpiar</a>
					</div>
				</div>

			</div>

	</form>
</div>
@if(o.cot_dolar != null && o.tipo_moneda != null){
<div class="row">
	<div class="col-sm-6">
		<table class="table table-striped table-bordered" id="">
			<thead>
				<tr align="center">
					<th  colspan="5">ORDEN @utils.NumberUtils.moneda(o.cot_dolar) - Ultima Cotizacion:@utils.NumberUtils.moneda(ultimaCotizacion)</th>
				</tr>
				<tr>
					<th align="center">Monto Base</th>
					<!-- <th align="center">Ajuste Con Diferencia Cotizacion</th> -->
					<th align="center">Ajuste Sin Diferencia Cotizacion</th>
					<th align="center">Total Dolar</th>
				</tr>
			</thead>
			<tbody>
				 <tr>
	        		<td align="right">@utils.NumberUtils.moneda(o.getTotal())</td>
	        		<!-- <td align="right"></td> -->
					<td align="right">@utils.NumberUtils.moneda(o.getTotalAjusteSinDiferenciaCotizacion())</td>
					<td align="right">US@utils.NumberUtils.moneda(o.getTotalDolarSinDiferenciaCotizacio())</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		@if(rowActas.size() > 0){
			@for(ac <- rowActas) {
				@{totalActa = totalActa.add(ac.getBigDecimal("total"))}
				@{totalActaDolar = totalActaDolar.add(ac.getBigDecimal("total_dolar"))}
			}
		}
		@if(rowActas.size() == 0 || ( o.monto_adelanto != null && o.monto_adelanto.compareTo(BigDecimal.ZERO) > 0 && o.monto_adelanto.compareTo(totalActa) > 0) ){
			<table class="table table-striped table-bordered" id="">
				<thead>
					<tr align="center">
						<th  colspan="3">MONTO ADELANTO NO TIENE ACTAS - COTIZACION DE LA ORDEN:@utils.NumberUtils.moneda(o.cot_dolar)</th>
					</tr>
					<tr>
						<th align="center">Monto</th>
						<th align="center">Total Dolar</th>
					</tr>
				</thead>
				<tbody>
					@if(o.monto_adelanto != null && o.monto_adelanto.compareTo(BigDecimal.ZERO) > 0){
					<td align="right">@utils.NumberUtils.moneda( o.monto_adelanto)</td>
			        <td align="right">US@utils.NumberUtils.moneda(o.monto_adelanto.divide(o.cot_dolar, 2, java.math.RoundingMode.HALF_UP))</td>
			        }
				</tbody>
			</table>
			@{totalActa = BigDecimal.ZERO}
			@{totalActaDolar = BigDecimal.ZERO}
		}else{
			@{totalActa = BigDecimal.ZERO}
			@{totalActaDolar = BigDecimal.ZERO}
			<table class="table table-striped table-bordered" id="">
				<thead>
					<tr align="center">
						<th  colspan="3">ACTAS @utils.NumberUtils.moneda(o.cot_dolar)</th>
					</tr>
					<tr>
						<th align="center">Monto</th>
						<th align="center">Cotizacion</th>
						<th align="center">Total Dolar</th>
					</tr>
				</thead>
				<tbody>
					@for(ac <- rowActas) {
						<tr>
			        		<td align="right">@utils.NumberUtils.moneda(ac.getBigDecimal("total"))</td>
			        		<td align="right"><!-- </a>@utils.NumberUtils.moneda(ac.getBigDecimal("cotizacion")) --></td>
			        		<td align="right">US@utils.NumberUtils.moneda(ac.getBigDecimal("total_dolar"))</td>
			        		@{totalActa = totalActa.add(ac.getBigDecimal("total"))}
							@{totalActaDolar = totalActaDolar.add(ac.getBigDecimal("total_dolar"))}

						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<td align="right"><b>TOTAL:</b>@utils.NumberUtils.moneda(totalActa)</td>
						<td align="right"></td>
						<td align="right"><b>TOTAL:</b>US@utils.NumberUtils.moneda(totalActaDolar)</td>
					</tr>
				</tfoot>
			</table>
		}
	</div>

</div>
<div class="row">

	<div class="col-sm-6">
		<table class="table table-striped table-bordered" id="">
			<thead>
				<tr align="center">
					<th  colspan="4">AUTORIZADOS</th>
				</tr>
				<tr>
					<th align="center">ID</th>
					<th align="center">Monto</th>
					<th align="center">Cotizacion</th>
					<th align="center">Total Dolar</th>
				</tr>
			</thead>
			<tbody>
				@for(a <- al) {
		        	<tr>
		        		<td align="right">@a.autorizado.nombre</td>
						<td align="right">@utils.NumberUtils.moneda(a.monto)</td>
						@if(a.cot_dolar != null){
							<td align="right">@utils.NumberUtils.moneda(a.cot_dolar)</td>
						}else{
							<td align="right">NO TIENE COTIZACION</td>
						}
						@if(a.monto != null && a.cot_dolar != null){
							<td align="right">US@utils.NumberUtils.moneda(a.monto.divide(a.cot_dolar, 2, java.math.RoundingMode.HALF_UP))</td>
						}else{
							<td align="right">NO TIENE COTIZACION</td>
						}
					</tr>
					@{totalAutorizado = totalAutorizado.add(a.monto)}
					@if(a.monto != null && a.cot_dolar != null){
						@{totalAutorizadoDolar = totalAutorizadoDolar.add(a.monto.divide(a.cot_dolar, 2, java.math.RoundingMode.HALF_UP)  )}
					}
		        }
		        @if(alHijo.size() > 0){
		        	<tr align="center">
						<th  colspan="3">HIJA</th>
					</tr>
		        }

		        @for(ahh <- alHijo) {
		        	<tr>
		        		<td align="right">@ahh.autorizado.nombre</td>
						<td align="right">@utils.NumberUtils.moneda(ahh.monto)</td>
						@if(ahh.cot_dolar != null){
							<td align="right">@utils.NumberUtils.moneda(ahh.cot_dolar)</td>
						}else{
							<td align="right">NO TIENE COTIZACION</td>
						}
						@if(ahh.monto != null && ahh.cot_dolar != null){
							<td align="right">US@utils.NumberUtils.moneda(ahh.monto.divide(ahh.cot_dolar, 2, java.math.RoundingMode.HALF_UP))</td>
						}else{
							<td align="right">NO TIENE COTIZACION</td>
						}
					</tr>
					@{totalAutorizado = totalAutorizado.add(ahh.monto)}
					@if(ahh.monto != null && ahh.cot_dolar != null){
						@{totalAutorizadoDolar = totalAutorizadoDolar.add(ahh.monto.divide(ahh.cot_dolar, 2, java.math.RoundingMode.HALF_UP)  )}
					}
		        }
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td align="right"><b>TOTAL:</b>@utils.NumberUtils.moneda(totalAutorizado)</td>
					<td></td>
					<td align="right"><b>TOTAL:</b>US@utils.NumberUtils.moneda(totalAutorizadoDolar)</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="col-sm-6">
		<table class="table table-striped table-bordered" id="">
			<thead>
				<tr align="center">
					<th  colspan="3">FACTURAS</th>
				</tr>
				<tr>
					<th align="center">Monto</th>
					<th align="center">Cotizacion</th>
					<th align="center">Total Dolar</th>
				</tr>
			</thead>
			<tbody>
				@for(fx <- f) {
		        	<tr>
						<td align="right">@utils.NumberUtils.moneda(fx.getBase())</td>
						@if(fx.cot_dolar != null){
							<td align="right">@utils.NumberUtils.moneda(fx.cot_dolar)</td>
						}else{
							<td align="right">NO TIENE COTIZACION</td>
						}

						@if(fx.getBase() != null && fx.cot_dolar != null){
							<td align="right">US@utils.NumberUtils.moneda(fx.getBase().divide(fx.cot_dolar, 2, java.math.RoundingMode.HALF_UP))</td>
						}else{
							<td align="right">NO TIENE COTIZACION</td>
						}
					</tr>
					@{totalFactura = totalFactura.add(fx.getBase())}
					@if(fx.getBase() != null && fx.cot_dolar != null){
						@{totalFacturaDolar = totalFacturaDolar.add(fx.getBase().divide(fx.cot_dolar, 2, java.math.RoundingMode.HALF_UP))}
					}

		        }
		        @if(fh.size() > 0){
		        	<tr align="center">
						<th  colspan="3">HIJA</th>
					</tr>
		        }
		        @for(fhh <- fh) {
		        	<tr>
						<td align="right" >@utils.NumberUtils.moneda(fhh.getBase())</td>
						@if(fhh.cot_dolar != null){
							<td align="right">@utils.NumberUtils.moneda(fhh.cot_dolar)</td>
						}else{
							<td align="right">NO TIENE COTIZACION</td>
						}

						@if(fhh.getBase() != null && fhh.cot_dolar != null){
							<td align="right">US@utils.NumberUtils.moneda(fhh.getBase().divide(fhh.cot_dolar, 2, java.math.RoundingMode.HALF_UP))</td>
						}else{
							<td align="right">NO TIENE COTIZACION</td>
						}
					</tr>
					@{totalFactura = totalFactura.add(fhh.getBase())}
					@if(fhh.getBase() != null && fhh.cot_dolar != null){
						@{totalFacturaDolar = totalFacturaDolar.add(fhh.getBase().divide(fhh.cot_dolar, 2, java.math.RoundingMode.HALF_UP))}
					}

		        }
			</tbody>
			<tfoot>
				<tr>
					<td align="right"><b>TOTAL:</b>@utils.NumberUtils.moneda(totalFactura)</td>
					<td></td>
					<td align="right"><b>TOTAL:</b>US@utils.NumberUtils.moneda(totalFacturaDolar)</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<table class="table table-striped table-bordered" id="">
			<thead>
				<tr align="center">
					<th>DEUDA DOLAR</th>
					<th>DEUDA PESOS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					@if(totalActaDolar.compareTo(BigDecimal.ZERO) == 0 && o.monto_adelanto != null){
						@{totalActaDolar = o.monto_adelanto.divide(o.cot_dolar, 2, java.math.RoundingMode.HALF_UP);}
					}

					@if(totalAutorizadoDolar.compareTo(totalFacturaDolar) >= 0){
						@{totalDeuda = totalActaDolar.subtract(totalAutorizadoDolar).multiply(ultimaCotizacion)}
						@{totalDeudaDolar = totalActaDolar.subtract(totalAutorizadoDolar)}

					}else{
						@{totalDeuda = totalActaDolar.subtract(totalFacturaDolar).multiply(ultimaCotizacion)}
						@{totalDeudaDolar = totalActaDolar.subtract(totalFacturaDolar)}
					}
					<td align="right">
	        			US@utils.NumberUtils.moneda(totalDeudaDolar) <br>
	        		</td>
	        		<td align="right">

	        			@utils.NumberUtils.moneda(totalDeuda)<br>
	        		</td>
	        	</tr>

			</tbody>
		</table>
	</div>
</div>
}else{
<div class="row">
	<div class="col-sm-4">
		<p>NO ES UN EXPEDIENTE EN MONEDA EXTRAJERA.</p>
	</div>
</div>

}
}