@(title: String, scripts: Html = Html(""))(content: Html)
@import models.auth._

@main(title: String, scripts){
	<div class="row">
		<div class="col-sm-2">
			<div class="menu-contenido">

			<ul class="nav nav-pills nav-stacked">
				<li class="titulo">Gestion Compras</li>
				@if(Componente.check("solicitudesCompra")) {
					<li><a href="@controllers.compras.routes.SolicitudesController.index()">Solicitudes de compras</a></li>
				}
				@if(Componente.check("ordenesCompra")) {
					<li><a href="@controllers.compras.routes.OrdenesController.index()">Ordenes de compras</a></li>
				}
				@if(Componente.check("ordenesCompra") && Permiso.check("ordenesCompraAuditoria")) {
					<li><a href="@controllers.compras.routes.OrdenesController.indexAuditoria()">Ordenes Auditoria</a></li>
				}
				@if(Componente.check("certificacionesCompras")) {
					<li><a href="@controllers.compras.routes.CertificacionesComprasController.index()">Certificaciones Compras</a></li>
				}
				@if(Componente.check("certificacionesObras")) {
					<li><a href="@controllers.compras.routes.CertificacionesObrasController.index()">Certificaciones Obras</a></li>
				}
				@if(Componente.check("certificaciones")) {
					<li><a href="@controllers.compras.routes.CertificacionesController.index()">Certificaciones Personal</a></li>
				}
				@if(Componente.check("pedidosFondos")) {
					<li><a href="@controllers.compras.routes.PedidosFondosController.index()">Pedidos de Fondos</a></li>
				}
				@if(Componente.check("cajaChica")) {
					<li><a href="@controllers.compras.routes.CajaChicaController.index()">Caja Chica</a></li>
				}
				<li class="titulo">Productos</li>
				@if(Componente.check("productos")) {
					<li><a href="@controllers.compras.routes.ProductosController.indexProducto()">Productos</a></li>
				}
				@if(Componente.check("productosCategoria")) {
					<li><a href="@controllers.compras.routes.CategoriasController.indexCategoria()">Categorías</a></li>
				}
				@if(Componente.check("productosTipo")) {
					<li><a href="@controllers.compras.routes.TipoProductosController.indexTipoProducto()">Tipos de productos</a></li>
				}
				@if(Componente.check("articulos")) {
					<li><a href="@controllers.compras.routes.ArticulosController.indexArticulo()">Artículos</a></li>
				}

				<li class="titulo">Proveedores</li>
				@if(Componente.check("proveedores")) {
					<li><a href="@controllers.compras.routes.ProveedoresController.index()">Gestión</a></li>
				}
				<li class="titulo">Clientes</li>
				@if(Componente.check("clientes")) {
					<li><a href="@controllers.compras.routes.ClientesController.index()">Gestión</a></li>
				}
			</ul>
			</div>
		</div>
		<div class="col-sm-10">@content</div>
	</div>

}