@(title: String, scripts: Html = Html(""))(content: Html)
@import models.auth._

@main(title: String, scripts){
	<div class="row">
		<div class="col-sm-2">
			<div class="menu-contenido">

			<ul class="nav nav-pills nav-stacked">
				<li class="titulo">Recupero</li>
				@if(Componente.check("recuperoPlanilla")) {
					<li><a href="@controllers.recupero.routes.RecuperoPlanillasController.index()">Planilla</a></li>
				}
				@if(Componente.check("presupuesto")) {
					<li><a href="@controllers.recupero.routes.PresupuestosController.index()">Presupuesto</a></li>
				}
				@if(Componente.check("recuperoFactura")) {
					<li><a href="@controllers.recupero.routes.RecuperoFacturasController.index()">Facturas</a></li>
				}
				@if(Componente.check("recuperoFactura")) {
					<li><a href="@controllers.recupero.routes.RecuperoNotasCreditosController.indexGeneral()">Notas Creditos</a></li>
				}
				@if(Componente.check("recuperoFactura")) {
					<li><a href="@controllers.recupero.routes.RecuperoNotasDebitosController.indexGeneral()">Notas Debitos</a></li>
				}

				@if(Componente.check("recuperoRecibos")) {
					<li><a href="@controllers.recupero.routes.RecuperoRecibosController.index()">Recibos</a></li>
				}

				@if(Componente.check("recuperoPago")) {
					<li><a href="@controllers.recupero.routes.RecuperoPagosController.index()">Pago</a></li>
				}


				<li class="titulo">Informes</li>
				@if(Componente.check("recuperoInformeGeneral")) {
					<li><a href="@controllers.recupero.routes.RecuperoReportesController.informeGeneral()">Informe General</a></li>
				}
				@if(Componente.check("recuperoInformeResumen")) {
					<li><a href="@controllers.dashboard.routes.InformesRecuperoController.index()">Informe Resumen</a></li>
				}


			</ul>
			</div>
		</div>
		<div class="col-sm-10">@content</div>
	</div>

}