@(buscador: utils.pagination.Pagination[models.haberes.Legajo], formBuscador: DynamicForm)
@import helper._
@import utils._
@import models.auth._

@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 
@views.html.haberes.mainHaberes("Lista Legajos ") {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Lista Legajos</h1>
			</div>
	
			<div class="col-sm-5">
				<div class="pull-right btn-header">
					<a href="@controllers.haberes.routes.LegajosController.crear()?@UriTrack.encode()"  class="form-control btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Nueva Legajo</a>
				</div>
			</div>
		</div>
	</div>
	
	@views.html.tags.successError()
	
	<div id="actions">
		<form action="" method="GET">
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="numero" class="control-label">Numero
						@inputText(formBuscador("numero"), 'class -> "form-control", 'autofocus -> "autofocus")
						</label>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="buscar" class="control-label">&nbsp;</label>
					<button  class="form-control btn btn-primary">Buscar</button>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group">
					<label for="limpiar" class="control-label">&nbsp;</label>
					<a href="@controllers.haberes.routes.LegajosController.index()"  class="form-control btn btn-default">Limpiar</a>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	@if(buscador.getTotalRowCount == 0) {
        
        <div class="well">
            <em>No se encuentran Legajos</em>
        </div>
        
    } else {
    
    	Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s). 
		
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th width="30">
						<input type="checkbox" name="checkAll" id="checkAll"/>
					</th>
					<th width="30">#</th>
					<th>Numero</th>
					<th>Agente</th>
					<th width="30">#</th>
				</tr>
			</thead>
			<tbody>
			@for(lc <- buscador.getList) {
				<tr class="pointer" data-href="@controllers.haberes.routes.LegajosController.ver(lc.id)&@UriTrack.encode()">
					<td><input type="checkbox" name="check_listado[]" value="@lc.id" class="notSeleccion" id="check-@lc.id"/></td>
					<td>
						@if(Permiso.check("legajoEditar")) {
						<a class="btn btn-default btn-xs notSeleccion" href="@controllers.haberes.routes.LegajosController.editar(lc.id)&@UriTrack.encode()">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						}
					</td>
					<td>@(lc.numero)</td>
					<td>@(lc.agente.apellido)</td>
					<td>
						@if(Permiso.check("legajoEliminar")) {
						<a class="btn btn-default btn-xs delete-confirm-link notSeleccion" href="@controllers.haberes.routes.LegajosController.eliminar(lc.id)&@UriTrack.encode()">
							<i class="glyphicon glyphicon-trash icono-eliminar"></i>
						</a>
						}
					</td>
				</tr>
             }
	        </tbody>
        </table>
        
        <div class="pagination pull-right">
		    @views.html.helpers.paginador(buscador, controllers.haberes.routes.LegajosController.index())
		</div>
 	 }
}