@(paginador:  utils.pagination.Pagination[FacturaLinea], editable: Boolean)
<div id="listaLineaProductos" class="contenedorPaginador ajaxPaginador">

<p>
	<b>Productos</b>
	@if(editable){
	<a class="btn btn-default btn-xs" href="#" id="nuevoProducto"><i class="glyphicon glyphicon-plus"></i> Nuevo</a>
	<a id="eliminarfacturas" href="@controllers.contabilidad.routes.FacturasLineasController.eliminarMasivo()" class="btn btn-xs btn-default"><i class="glyphicon glyphicon-trash icono-eliminar"></i> Eliminar</a>
	}
</p>

@if(paginador.getTotalRowCount() > 0) {
	Mostrando @paginador.getDisplayXtoYofZ(" a "," de ") resultado(s).
}

<table id="listaDeProductos" class="table table-striped table-bordered">
	<thead>
		<tr data-url="@controllers.contabilidad.routes.FacturasLineasController.eliminarMasivo()">

			@if(editable){
				<th width="30">
					<input type="checkbox" name="checkAll" id="checkAll"/>
				</th>
				<th class="accion-editar">#</th>
			}
			<th><a class="ordenPaginador" href="@controllers.contabilidad.routes.FacturasLineasController.index()?@paginador.setVar("order", if(paginador.getOrder() == "desc") {"asc"} else {"desc"}).setVar("sortBy", "producto.nombre").getCurrentLink()">Producto</a></th>
			<th>Cuenta</th>
			<th><a class="ordenPaginador" href="@controllers.contabilidad.routes.FacturasLineasController.index()?@paginador.setVar("order", if(paginador.getOrder() == "desc") {"asc"} else {"desc"}).setVar("sortBy", "cuentaAnalitica.nombre").getCurrentLink()">Cuenta analitica</a></th>
			<th>Cuenta analitica original</th>
			<th>Cantidad</th>
			<th>UDM</th>
			<th>Precio</th>
			<th>Descuento (%)</th>
			<th>Subtotal desc.</th>
			<th>Subtotal</th>
			@if(editable){
				<th></th>
			}
		<tr>	
	</thead>
	<tbody>
	@for(linea <- paginador.getList) {
		@views.html.contabilidad.facturasLineas.lineaProducto(linea, editable)
	}
	</tbody>
</table>

<div class="pagination pull-right">
    @views.html.helpers.paginador(paginador, controllers.contabilidad.routes.FacturasLineasController.index())
</div>
</div>

<script>
$( function(){
	/**
	 * Ventana de carga linea de productos en ordenes
	 */
	 
	 
	var contenedor = $("#listaLineaProductos");

	contenedor.on('click', '#nuevoProducto', function(){
		urlContenidoModal = '/contabilidad/factura-linea/crear?facturaId='+$('#facturaId').val();
		mostrarModal(urlContenidoModal);
		return false;
	});
	
	contenedor.on('click', '.modificarProducto', function(){
		lineaParaEditar = $(this).closest('tr');
		var modal = mostrarModal($(this).attr('href'));
		modal.dialog('option', 'title', 'Editar producto');	
		return false;
	});
	
	contenedor.on('click', '.eliminarProducto', function(){
		var url = $(this).attr('href');
		var mensaje = "¿Confirma que desea eliminar el registro?";
		if(confirm(mensaje)){
			$this = $(this);
			$.get(url, function(data){
				if(data.success){
					$this.closest("tr").remove();
				} else {
					alert("No se puedo eliminar el registro.");
				}
			});
		}
		return false;
	});
	
	function mostrarModal(url){
		modalCargaProductos = $('<div></div>').dialog({
			resizable: false,
		    title: "Cargar producto",
		    height: 400,
		    width: 750,
		    modal: true,
		    open: function( event, ui ) {
				$.get(url, function(data){
					modalCargaProductos.html(data);
				});
		    },
		    close: function(event, ui ){
		    	modalCargaProductos.dialog('destroy');
			}
		  });
		
		modalCargaProductos.on('click', '.cancelar', function(){
			modalCargaProductos.dialog('destroy');
			return false;
		});
		
		modalCargaProductos.on('submit', function(e){
			var href = $(e.target).attr('action');
			var data = $(e.target).serialize();
			$.post(href, data, function(resultado){
				if(resultado.success && resultado.nuevo){
					$('#listaDeProductos tbody').prepend(resultado.html);
					modalCargaProductos.dialog( "destroy" );
				} else if(resultado.success && resultado.modificar){
					$(lineaParaEditar).replaceWith(resultado.html);
					modalCargaProductos.dialog( "destroy" );
				} else {
					modalCargaProductos.html(resultado);
				}
			});
			return false;
		});
		
		
		return modalCargaProductos;
	}
	
	
	contenedor.find('form').on('submit', function(){
		var url = $(this).attr("action");
		var query = $(this).serialize();
		$.get(url+"?"+query, function(data){
			contenedor.parent().html(data);
		});
		return false;
	});


	/*
	 * Seleccion de check en la tabla
	 */
	$('#checkAll').change( function(){
		var table = $(this).closest('table');
		table.find("input[name='check_listado[]']").prop("checked", $(this).prop( "checked" ) );
	});

	$(document).on('click', '#eliminarfacturas', function(){
		link = $(this).attr("href");
		var retorno = false;

		if($("input[name='check_listado[]']:checked").length == 0) {
			alert("Debe seleccionar al menos una linea de factura.");
			return false;
		}
		
		
		var ids = $("input[name='check_listado[]']").serialize();
		

		
		var dialogo = $('<div><p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span> ¿Está seguro que desea eliminar los registros registros seleccionados?<p></div>');
	    dialogo.dialog({
	        resizable: false,
	        height:180,
	        modal: true,
	        title: "Eliminar",
	        buttons: {
	          Eliminar: function() {
	            $.post(link, ids, function(data){
	            	if(data.success) {
	            		location.reload();
	            	} else {
	            		alert("No se pudo eliminar las lineas de productos.");
	            	}
	            });
	          },
	          Cancelar: function( event, ui ) {
	            $( this ).dialog( "close" );
	          }
	        },
		    close: function(){
		    	$( this ).dialog( "destroy" );
		    }
	      });
	    return false;
	}); 
		
	});	
	</script>



