@(clienteForm: Form[DireccionCliente], clienteId: Long, clienteExiste: Boolean)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 




@helper.form(action = controllers.compras.routes.ClientesController.actualizarContacto(), 'id -> "formularioContacto") {
<div id="formularioContacto">
<p>
	@if(clienteExiste){
		<a class="btn btn-xs btn-default" id="guardarContacto" href="#"><i class="glyphicon glyphicon-floppy-saved"></i> Guardar</a>
		<a class="btn btn-xs btn-default" id="cancelarEdicion" href="#"><i class="glyphicon glyphicon-remove-sign"></i> Cancelar</a>
	}
</p>

  	@inputText(clienteForm("id"), 'hidden -> "hidden") 	
  	<input type="hidden" name="cliente_id" value="@clienteId" />
  	<div class="row">
  		<div class="col-sm-6">
  			<legend>Dirección postal</legend>
  				<div class="row">
				<div class="col-sm-6">
					<div class="form-group @if(clienteForm.error("calle") != null)  {has-error} else {has-required}">
						<label for="@clienteForm("calle").id" class="control-label">Calle</label>
						@inputText(clienteForm("calle"), 'class -> "form-control")
						@clienteForm("calle").error.map{ error =>
							<div class="text-error">@error.message</div>
						}
					</div>
				</div>
			
				<div class="col-sm-3">
					<div class="form-group @if(clienteForm.error("numero") != null)  {has-error} else {has-required}">
						<label for="@clienteForm("numero").id" class="control-label">Número</label>
						@inputText(clienteForm("numero"), 'class -> "form-control")
						@clienteForm("numero").error.map{ error =>
							<div class="text-error">@error.message</div>
						}
					</div>
				</div>
				
				<div class="col-sm-3">
					<div class="form-group @if(clienteForm.error("cp") != null) {has-error}">
						<label for="@clienteForm("cp").id" class="control-label">C. Postal</label>
						@inputText(clienteForm("cp"), 'class -> "form-control")
						@clienteForm("cp").error.map{ error =>
							<div class="text-error">@error.message</div>
						}
					</div>
				</div>
				
 				</div>

				<div class="row contenedorUbicacion">
					<div class="col-sm-4">
						<div class="seleccionPais form-group @if(clienteForm.error("localidad.provincia.pais.id") != null) {has-error}">
							<label for="@clienteForm("localidad.provincia.pais.id").id" class="control-label">País</label>
							@select(clienteForm("localidad.provincia.pais.id"), Pais.find.all().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
							@clienteForm("localidad.provincia.pais.id").error.map{ error =>
								<div class="text-error">@error.message</div>
							}
						</div>
					</div>
		
					<div class="col-sm-4">
						<div class="seleccionProvincia form-group @if(clienteForm.error("localidad.provincia.id") != null) {has-error}">
							<label for="@clienteForm("localidad.provincia.id").id" class="control-label">Provincia</label>
							@select(clienteForm("localidad.provincia.id"), 
								clienteForm("localidad.provincia.pais.id").value match {
									case null => {options()}
									case v if v.matches("\\d+") => {Provincia.getProvincias(v.toInt).map { p => p.id.toString -> p.nombre}}
									case _ => {options()}
								}, 
							'class -> "form-control select", '_default -> "Seleccionar")
							@clienteForm("localidad.provincia.id").error.map{ error =>
								<div class="text-error">@error.message</div>
							}
						</div>
					</div>

					<div class="col-sm-4">
						<div class="seleccionLocalidad form-group @if(clienteForm.error("localidad_id") != null) {has-error} else {has-required}">
							<label for="@clienteForm("localidad.id").id" class="control-label">Localidad</label>
							@select(clienteForm("localidad_id"), 
								clienteForm("localidad.provincia.id").value match {
									case null => {options()}
									case v if v.matches("\\d+") => {Localidad.getLocalidades(v.toInt).map { p => p.id.toString -> p.nombre}}
									case _ => {options()}
								}, 
							'class -> "form-control select", '_default -> "Seleccionar")
							@clienteForm("localidad_id").error.map{ error =>
								<div class="text-error">@error.message</div>
							}
						</div>
					</div>
				</div>

  		</div>
  		
  		<div class="col-sm-6">
  			<legend>Comunicación</legend>
  			
  			<div class="row">
				<div class="col-sm-12">
			   			<label for="@clienteForm("nombre").id" class="control-label">Nombre del contacto</label>
			   				@inputText(clienteForm("nombre"), 'class -> "direccion form-control")
			   				@clienteForm("nombre").errors.map{ error =>
								<div class="text-error">@error.message</div>
							}
				</div>
			</div>
  			
  			
  			<div class="row">
				<div class="col-sm-7">
			   		<div class="form-group @if(clienteForm.error("email") != null) {has-error}">
			   			<label for="@clienteForm("email").id" class="control-label">Correo electrónico</label>
			   				@inputText(clienteForm("email"), 'class -> "direccion form-control")
			   				@clienteForm("email").error.map{ error =>
								<div class="text-error">@error.message</div>
							}
					</div>
		  		</div>
				<div class="col-sm-5">
			   		<div class="form-group @if(clienteForm.error("telefono") != null) {has-error}">
			   			<label for="@clienteForm("telefono").id" class="control-label">Teléfono fijo</label>
			   				@inputText(clienteForm("telefono"), 'class -> "direccion form-control")
			   				@clienteForm("telefono").errors.map{ error =>
								<div class="text-error">@error.message</div>
							}
					</div>
		  		</div>
  			</div>
  			
  			<div class="row">
		  		<div class="col-sm-6">
			   		<div class="form-group @if(clienteForm.error("mobile") != null) {has-error}">
			   			<label for="@clienteForm("mobile").id" class="control-label">Teléfono celular</label>
			   				@inputText(clienteForm("mobile"), 'class -> "direccion form-control")
			   				@clienteForm("mobile").error.map{ error =>
								<div class="text-error">@error.message</div>
							}
					</div>
		  		</div>
		  		
		  		<div class="col-sm-6">
			   		<div class="form-group @if(clienteForm.error("fax") != null) {has-error}">
			   			<label for="@clienteForm("fax").id" class="control-label">Fax</label>
			   				@inputText(clienteForm("fax"), 'class -> "direccion form-control")
			   				@clienteForm("fax").error.map{ error =>
								<div class="text-error">@error.message</div>
							}
					</div>
		  		</div>
  			</div>
  		</div>
  	</div>
</div>
}