@(clienteForm: Form[Cliente])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }



@helper.form(action = controllers.compras.routes.ClientesController.guardarDesdeModal(),'id -> "formCargaClienteDesdeModal") {
@views.html.tags.successError()
 <div class="row">
	<div class="col-sm-4">
		<div class="form-group @if(clienteForm.error("nombre") != null) {has-error} else {has-required}">
			<label for="nombre" class="control-label">Nombre</label>
			@inputText(clienteForm("nombre"), 'class -> "form-control", 'id -> "nombre" )
			@clienteForm("nombre").error.map{ error =>
				<div class="text-error">@error.message</div>
			}
		</div>
	</div>
	<div class="col-sm-4">
		<div class=" form-group @if(clienteForm.error("cliente_tipo_id") != null) {has-error} else {has-required}">
			<label for="@clienteForm("cliente_tipo_id").id" class="control-label">Tipo de cliente</label>
			@select(clienteForm("cliente_tipo_id"), ClienteTipo.find.all().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
			@clienteForm("cliente_tipo_id").error.map{ error =>
				<div class="text-error">@error.message</div>
			}
		</div>
	</div>
	<div class="col-sm-4">
		<div class=" form-group">
			<label for="@clienteForm("cliente_tipo_id").id" class="control-label">Condicion IVA</label>
			@select(clienteForm("condicioniva_id"), CondicionIva.find.all().map { p => p.id.toString -> p.descripcion}, 'class -> "form-control select", '_default -> "Seleccionar")

		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="cuit" class="control-label">CUIT</label>
			@inputText(clienteForm("cuit2"), 'class -> "form-control" , 'id -> "cuit2")
			@clienteForm("cuit2").error.map{ error =>
				<div class="text-error">@error.message</div>
			}
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="dni" class="control-label">DNI</label>
			@inputText(clienteForm("dni"), 'class -> "form-control", 'id -> "dni")
			@clienteForm("dni").error.map{ error =>
				<div class="text-error">@error.message</div>
			}
		</div>
	</div>
	<div class="col-sm-6">
		<label for="servicio" class="control-label">Obra Social</label>
		<div class="input-group">
			@inputText(clienteForm("obrasocial.nombre"),'class -> "form-control", 'id -> "obrasocial", 'autocomplete -> "off")
			@inputText(clienteForm("obrasocial_id"),'hidden -> "hidden", 'id -> "obrasocial_id")
			<span class="input-group-addon">
				<a href="#" id="searchObraSocial"
				data-title="Selección de obra social"
				data-url="@controllers.compras.routes.ObrasSocialesController.modalBuscar()"
				data-height="650" data-width="700"
				data-listen="modal.seleccion.ob.simple"
				data-label="#obrasocial" data-field="#obrasocial_id"><i class="glyphicon glyphicon-search"></i></a>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<div class="form-group">
			<label for="idPaciente" class="control-label">ID Paciente</label>
			@inputText(clienteForm("id_paciente_rismi"), 'class -> "form-control", 'id -> "id_paciente_rismi")
			@clienteForm("id_paciente_rismi").error.map{ error =>
				<div class="text-error">@error.message</div>
			}
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label for="referencia" class="control-label">Referencia</label>
			@inputText(clienteForm("referencia"), 'class -> "form-control", 'id -> "referencia")
			@clienteForm("referencia").error.map{ error =>
				<div class="text-error">@error.message</div>
			}
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group @if(clienteForm.error("sexo") != null) {has-error}">
			<label for="@clienteForm("sexo")" class="control-label">Sexo</label>
			@select(clienteForm("sexo"), options("M"->"Masculino","F"->"Femenino"),'class -> "form-control select", '_default -> "Seleccionar")
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group @if(clienteForm.error("fnacimiento") != null) {has-error}">
			<label for="inputNombre" class="control-label">Fecha nacimiento</label>
			@inputText(clienteForm("fnacimiento"), 'class -> "form-control date", 'id -> "nacimiento")
		</div>
	</div>
</div>
<div class="row">

	<div class="col-sm-4">
 		<button type="submit" class="btn btn-default" title="Guardar orden">
			<i class="glyphicon glyphicon-floppy-disk"></i> Guardar
		</button>
	</div>
</div>
<script>
 $( function () {
	 $('#searchObraSocial').modalSearch();
	 $("#cuit2").mask("99999999999");
	 $("#dni").mask("99999999");
	 $("#id_paciente_rismi").numeric_input();
	 if($("#obrasocial").length){
			var options = {
					script:"/suggestOb/",
					varname:"",
					json:true,
					shownoresults:true,
					maxresults:6,
					callback: function (obj) {
												$("#obrasocial_id").val(obj.id);
											 }
				};
			var as_json = new bsn.AutoSuggest('obrasocial', options);
		}
 });
</script>
}
@flash().clear()