@(buscador: utils.pagination.Pagination[Certificacion], formBuscador: DynamicForm, paginadorFicha: utils.pagination.PaginadorFicha)
@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }
@scripts = {
	<script src="@routes.Assets.at("javascripts/compras/certificaciones.js")" type="text/javascript"></script>
}

@getClassEstado(i:Estado) = @{
	var classEstado:String = new String()
	if(i != null && i.id == 28){
		classEstado = "borrador"
	}else if(i != null && i.id == 32){
		classEstado = "cancelada"
	}else if(i != null && i.id == 31){
		classEstado = "autorizado"
	}
	classEstado
	
}

@views.html.compras.mainCompras("Lista de Certificaciones Personal", scripts) {
	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Lista de certificaciones Personal</h1>
			</div>
			
			<div class="col-sm-5">
				<div class="dropdown pull-right">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-list-alt"></i>
				    Reportes
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  	@if(Permiso.check("certificacionesReporteBajas")) {
				  		<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="reporteBajas" data-url="@controllers.compras.routes.CertificacionesReportesController.bajas()"> Bajas</a></li>  
				  	}
				  	@if(Permiso.check("certificacionesReporteCertificacion")) {
				  		<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="reporteCertificacion" data-url="@controllers.compras.routes.CertificacionesReportesController.reporteCertificacion()"> Certificacion</a></li>  
				  	}
				  	
				  	<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="reporteTasas" data-url="@controllers.compras.routes.CertificacionesReportesController.reporteTasas()"> Reporte Tasas</a></li>
				  	<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="reporteElevaciones" data-url="@controllers.compras.routes.CertificacionesReportesController.reporteElevaciones(true)"> Reporte Elevaciones</a></li>
				  	<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="reporteElevacionesSinDescuentos" data-url="@controllers.compras.routes.CertificacionesReportesController.reporteElevaciones(false)"> Reporte Elevaciones Sin Descuentos</a></li>
				  	<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="reportePlanillaSueldos" data-url="@controllers.compras.routes.CertificacionesReportesController.reportePlanillaSueldos()"> Reporte Planilla Sueldos</a></li>
				  </ul>
				</div>
				
				<div class="dropdown pull-right btn-header">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-cog"></i>
				    Acciones
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  	<li role="presentation" class="dropdown-header">Acciones Masivas</li>
				  	@if(Permiso.check("certificacionesPasarCertificado")) {
				  		<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="accionCargarFechaCertificacion" data-url="@controllers.compras.routes.CertificacionesAccionesController.modalEditarFechaCertificacion()"> Editar fecha certificacion</a></li>	
				    }
				  	@if(Permiso.check("certificacionesEditarCuentaAnalitica")) {
				  		<li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="editarCuentaAnalitica" data-url="@controllers.compras.routes.CertificacionesController.modalEditarCuentaAnalica()"> Editar cuenta analitica</a></li>	
				    }
				    @if(Permiso.check("certificacionesPasarCurso")) {
				    	<li role="presentation"><a role="menuitem" id="accionPasarEnCurso" tabindex="-1" href="#" data-url="@controllers.compras.routes.CertificacionesAccionesController.modalPasarEnCurso()">Pasar a En Curso</a></li>
				    }
				    @if(Permiso.check("certificacionesPasarCertificado")) {
				    	<li role="presentation"><a role="menuitem" id="accionPasarCertificado" tabindex="-1" href="#" data-url="@controllers.compras.routes.CertificacionesAccionesController.modalPasarCertificado()">Pasar a Certificado</a></li>	
				    }
				    @if(Permiso.check("certificacionesAprobar")) {
				    	<li role="presentation"><a role="menuitem" id="accionPasarAprobado" tabindex="-1" href="#" data-url="@controllers.compras.routes.CertificacionesAccionesController.modalPasarAprobado()">Pasar a Aprobado</a></li>	
				    }
				    @if(Permiso.check("certificacionesPasarBorrador")) {
				    	<li role="presentation"><a role="menuitem" id="accionPasarBorrador" tabindex="-1" href="#" data-url="@controllers.compras.routes.CertificacionesAccionesController.modalPasarBorrador()">Pasar a Borrador</a></li>
				    }
				    @if(Permiso.check("certificacionesPasarCancelado")) {
				    	<li role="presentation"><a role="menuitem" id="accionPasarCancelado" tabindex="-1" href="#" data-url="@controllers.compras.routes.CertificacionesAccionesController.modalPasarCancelado()">Pasar a Cancelado</a></li>		
				  	}
				  	@if(Permiso.check("certificacionesCrearAguinaldo")) {
				  		<li role="presentation"><a role="menuitem" id="accionCrearAguinaldo" tabindex="-1" href="#" data-url="@controllers.compras.routes.CertificacionesAccionesController.modalCrearAguinaldo()">Crear Aguinaldo</a></li>
				  	}
				  	
				  	<li role="presentation"><a role="menuitem" id="accionDuplicarMasivo" tabindex="-1" href="#" data-url="@controllers.compras.routes.CertificacionesAccionesController.modalDuplicarMasivo()">Duplicar</a></li>
				  	@if(Permiso.check("certificacionesCrearGuardiasMonosMasivos")) {
				  		<li role="presentation">
				  		<a role="menuitem" tabindex="-1"
				  		href="@controllers.compras.routes.CertificacionesController.crearMasivo()?@UriTrack.encode()"> Crear GM Masivas</a></li>  
				  	}
				  </ul>
				</div>
					
				<div class="pull-right btn-header">
					<a href="@controllers.compras.routes.CertificacionesController.crear()?@UriTrack.encode()"  class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Nueva Certificacion</a>
				</div>
			</div>
		</div>
	</div>
	
	@views.html.tags.successError()
	
	<div id="actions">
		<form action="" id="formSearchCertificaciones" method="GET">
		<div class="row">
			<div class="col-sm-8 filtrosEstados" id="filtrosEstados">
			 	<div class="btn-group">
				  <button type="button" id="btn-filtro-borrador" rel="borrador" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-pencil"></i><br>Borrador
				 	@checkbox(formBuscador("btnFiltro[0]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" id="btn-filtro-encurso" rel="encurso" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-arrow-right"></i><br>En Curso 
				  	@checkbox(formBuscador("btnFiltro[1]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" id="btn-filtro-certificado" rel="certificado" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-ok"></i><br>Certificado 
				  	@checkbox(formBuscador("btnFiltro[2]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" id="btn-filtro-imputado" rel="imputado" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-ok glyphicon-ok-orange"></i><br>Aprobado 
				  	@checkbox(formBuscador("btnFiltro[3]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" id="btn-filtro-cancelado" rel="cancelado" class="btn btn-default btn-filtros"><i class="glyphicon glyphicon-minus-sign"></i><br>Cancelado 
				  	@checkbox(formBuscador("btnFiltro[4]"), 'hidden -> "hidden")
				  </button>
				  <button type="button" id="btn-filtro-descuento" rel="cancelado" class="btn btn-default btn-filtros"><b>-</b><i class="glyphicon glyphicon glyphicon-usd"></i><br>Con descuento 
				  	@checkbox(formBuscador("btnFiltro[5]"), 'hidden -> "hidden")
				  </button>
				</div>
				<!-- <div class="btn-group">
					<button type="button" id="btn-filtro-conDsescuento" rel="conDescuento" class="btn btn-default btn-filtros">
						<span class="signoDescuento">%</span><br>Con Descuentos 
				  		@checkbox(formBuscador("btnFiltro[5]"), 'hidden -> "hidden")
				  	</button>
				</div> -->
			</div>
		</div>

		<div class="row">	
    		
			<div class="col-sm-2">
				<div class="form-group">
					<label for="nombre" class="control-label">Referencia
					@inputText(formBuscador("nombre"), 'class -> "form-control", 'autofocus -> "autofocus")
					</label>
				</div>
			</div>
			
			<div class="col-sm-2">
				<label class="control-label">Proveedor
					<div class="input-group">
						@inputText(formBuscador("proveedor.id"), 'hidden -> "hidden", 'id -> "proveedor_id")
						@inputText(formBuscador("proveedor.nombre"), 'name -> "", 'class -> "form-control", 'id -> "proveedor")
						<span class="input-group-addon">
							<a href="#" class="searchModal"
										id="searchProveedor" 
										data-title="Selección de Proveedores" 
										data-url="@controllers.compras.routes.ProveedoresController.modalBuscar()" 
										data-height="650" 
										data-width="700" 
										data-listen="modal.seleccion.proveedor.simple" 
										data-label="#proveedor" 
										data-field="#proveedor_id">
								<i class="glyphicon glyphicon-search"></i>
							</a>
						</span>
					</div>
				</label>
			</div>

			<div class="col-sm-2">
				<label class="control-label">Expediente
					<div class="input-group">
						@inputText(formBuscador("expediente.id"), 'hidden -> "hidden", 'id -> "expediente_id")
						@inputText(formBuscador("expediente.nombre"), 'name -> "", 'class -> "form-control", 'id -> "expediente")
						<span class="input-group-addon">
							<a href="#" class="searchModal"
										id="searchExpediente" 
										data-title="Selección de expediente" 
										data-url="@controllers.expediente.routes.ExpedientesController.modalBuscar()" 
										data-height="650" 
										data-width="700" 
										data-listen="modal.seleccion.expediente.simple" 
										data-label="#expediente" 
										data-field="#expediente_id">
								<i class="glyphicon glyphicon-search"></i>
							</a>
						</span>
					</div>
				</label>
			</div>    	
			<div class="col-sm-2 input-group">
				<label class="control-label">Fecha de certificación</label>
				<div>
				@inputText(formBuscador("fecha_certificacion_desde"), 'class -> "form-control dateMask inputDateMascara", 'id -> "desde", 'placeholder -> "Desde")
				@inputText(formBuscador("fecha_certificacion_hasta"), 'class -> "form-control dateMask inputDateMascara", 'id -> "hasta", 'placeholder -> "Hasta")
				</div>
				
			</div>
			
			<div class="col-sm-2">
				<label for="inputPeriodo" class="control-label">Periodo</label> 
				<div class="input-group">
					
					@inputText(formBuscador("periodo"),'class -> "form-control",'id -> "periodo")
					@inputText(formBuscador("periodo_id"),'hidden -> "hidden",'id -> "periodo_id")
					<span class="input-group-addon">
					<a href="#" class="searchModal"
								id="searchPeriodo" 
								data-title="Selección de Periodo" 
								data-url="@controllers.contabilidad.routes.PeriodosController.modalBuscar()" 
								data-height="650" 
								data-width="700" 
								data-listen="modal.seleccion.periodo.simple" 
								data-label="#periodo" 
								data-field="#periodo_id">
						<i class="glyphicon glyphicon-search"></i>
					</a>
					</span>
				</div>
			</div>
			<div class="col-sm-2">
				<label class="control-label">Ejercicio
					@select(formBuscador("ejercicio"), Ejercicio.getEjercicios().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
				</label>
			</div>	
		</div>
		<div class="row">
			<div class="col-sm-2">
				<label for="inputPeriodo" class="control-label">Departamento</label> 
				<div class="input-group">
					@inputText(formBuscador("departamento"),'class -> "form-control",'id -> "departamento")
					@inputText(formBuscador("departamento_id"),'hidden -> "hidden",'id -> "departamento_id")
					<span class="input-group-addon">
					<a href="#" class="searchModal"
								id="searchDepartamento" 
								data-title="Selección de Departamento" 
								data-url="@controllers.rrhh.routes.DepartamentosController.modalBuscar()" 
								data-height="650" 
								data-width="700" 
								data-listen="modal.seleccion.departamento.simple" 
								data-label="#departamento" 
								data-field="#departamento_id">
						<i class="glyphicon glyphicon-search"></i>
					</a>
					</span>
				</div>
			</div>
			<div class="col-sm-2">
				<label class="control-label"> 
					C/M
					@select(formBuscador("cm"),options(""->"","SI"->"SI","NO"->"NO"), 'class -> "form-control select")
				</label>
			</div>
			<div class="col-sm-2">
				<label class="control-label"> 
					Tipo Cuenta
					@select(formBuscador("tipo_cuenta_id"), 
					TipoCuenta.find.all().map { p => p.id.toString -> p.nombre}, 'class -> "form-control select", '_default -> "Seleccionar")
				</label>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
				<label for="nombre" class="control-label">&nbsp;</label>
				<button  class="form-control btn btn-primary">Buscar</button>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="form-group">
				<label for="nombre" class="control-label">&nbsp;</label>
				<a href="@controllers.compras.routes.CertificacionesController.index()"  class="form-control btn btn-default">Limpiar</a>
				</div>
			</div>
		</div>
		 
		</form>
	</div>
	
	@if(buscador.getTotalRowCount == 0) {
        
        <div class="well">
            <em>No se encuentran Certificaciones</em>
        </div>
        
    } else {
    	
		<table id="listaCertificaciones" class="table table-striped table-bordered">
			<thead>
				 <tr style="background: #FFFFFF;">
			        <td colspan="8">Mostrando @buscador.getDisplayXtoYofZ(" a "," de ") resultado(s). </td>
			        <td><b>Total:</b> <span class="baseFooter"></span></td>
			        <td><b>Total:</b> <span class="descuentoFooter"></span></td>
			        <td><b>Total:</b> <span class="totalFooter"></span></td>
			        <td colspan="2">&nbsp</td>
		        </tr>
				<tr>
					<th width="30"><input type="checkbox" name="checkAll" id="checkAll"/></th>
					<th width="30">#</th>
					<th width="80">Referencia</th>
					<th width="70">Fecha</th>
					<th width="300">Proveedor</th>
					<th width="95">Expediente</th>
					<th width="95">Periodo</th>
					<th width="95">Tipo Cuenta</th>
					<th width="95">Base</th>
					<th width="95">Descuento</th>
					<th width="95">Total</th>
					<th width="100">Estado</th>
					<th width="30">#</th>
				</tr>
			</thead>
			<tbody>
			@for(certificacion <- buscador.getList) {
				@paginadorFicha.add(certificacion.id.toString)
				<tr class="pointer @getClassEstado(certificacion.estado)" data-estado="@certificacion.estado_id" data-href="@controllers.compras.routes.CertificacionesController.ver(certificacion.id)&@UriTrack.encode()">
					<td><input type="checkbox" name="check_listado[]" value="@certificacion.id" class="notSeleccion" id="check-@certificacion.id"/></td>
					<td><a class="btn btn-default btn-xs notSeleccion" href="@controllers.compras.routes.CertificacionesController.editar(certificacion.id)&@UriTrack.encode()"><i class="glyphicon glyphicon-edit"></i></a></td>
					<td>@(certificacion.nombre)</td>
					<td class="fechaCertificacion">@if(certificacion.fecha_certificacion != null){@(utils.DateUtils.formatDate(certificacion.fecha_certificacion))}</td>
					<td>@if(certificacion.proveedor != null){@(certificacion.proveedor.nombre)}</td>
					<td>@if(certificacion.expediente != null){@certificacion.expediente.getExpedienteEjercicio()}</td>
					<td>@if(certificacion.periodo != null){@(certificacion.periodo.nombre)}</td>
					<td>@if(certificacion.tipoCuenta != null){@certificacion.tipoCuenta.nombre}</td>
					<td class="base" rel="@certificacion.getBase()">@(utils.NumberUtils.moneda(certificacion.getBase()))</td>
					<td class="descuento" rel="@certificacion.getDescuento()">@(utils.NumberUtils.moneda(certificacion.getDescuento()))</td>
					<td class="total" rel="@certificacion.getTotal()">@(utils.NumberUtils.moneda(certificacion.getTotal()))</td>
					<td class="estado">@if(certificacion.estado != null){@(certificacion.estado.nombre)}</td>
					<td>
						<a class="btn btn-default btn-xs delete-confirm-link notSeleccion" href="@controllers.compras.routes.CertificacionesController.eliminar(certificacion.id)&@UriTrack.encode()">
							<i class="glyphicon glyphicon-trash icono-eliminar"></i>
						</a>
					</td>
				</tr>
             }
             @paginadorFicha.guardar()
	        </tbody>
	        <tfoot>
		        <tr>
			        <td colspan="8">&nbsp</td>
			        <td><b>Total:</b> <span class="baseFooter"></span></td>
			        <td><b>Total:</b> <span class="descuentoFooter"></span></td>
			        <td><b>Total:</b> <span class="totalFooter"></span></td>
			        <td colspan="2">&nbsp</td>
		        </tr>
	        </tfoot>
        </table>
    	
    	<div class="pagination pull-right">
		    @views.html.helpers.paginador(buscador, controllers.compras.routes.CertificacionesController.index())
		</div>
<script>
$( function (){
	var n = 0;
	var b = 0;
	var c = 0;
	$(".total").each(function (index) {
		
		n = Number($(this).attr("rel"))+n 
	})
	$(".totalFooter").append(formatNumberPesos(parseFloat(n).toFixed(2)));
	
	$(".base").each(function (index) {
		
		b = Number($(this).attr("rel"))+b
	})
	$(".baseFooter").append(formatNumberPesos(parseFloat(b).toFixed(2)));	
	
	$(".descuento").each(function (index) {
		
		c = Number($(this).attr("rel"))+c
	})
	$(".descuentoFooter").append(formatNumberPesos(parseFloat(c).toFixed(2)));
	
	$( "#checkAll" ).click(function() {
		
		  	selectAll();
	});
	$( "input[name='check_listado[]']" ).click(function() {
		selectTrList();
	});
});

function selectTrList(){
	var n = 0;
	var b = 0;
	var c = 0;
	$(".total").each(function (index) {
		if($(this).parent().find("input[name='check_listado[]']").prop("checked")){
			n = Number($(this).attr("rel"))+n 
		}
	})
	$(".totalFooter").empty();
	$(".totalFooter").append(formatNumberPesos(parseFloat(n).toFixed(2)));
	
	$(".base").each(function (index) {
		if($(this).parent().find("input[name='check_listado[]']").prop("checked")){
			b = Number($(this).attr("rel"))+b 
		}
	})
	$(".baseFooter").empty();
	$(".baseFooter").append(formatNumberPesos(parseFloat(b).toFixed(2)));
	
	$(".descuento").each(function (index) {
		if($(this).parent().find("input[name='check_listado[]']").prop("checked")){
			c = Number($(this).attr("rel"))+c 
		}
	})
	$(".descuentoFooter").empty();
	$(".descuentoFooter").append(formatNumberPesos(parseFloat(c).toFixed(2)));
}

function selectAll(){
	var n = 0; 
	var b = 0; 
	var c = 0; 
	if($("#checkAll").prop("checked")){
		$("input[name='check_listado[]']").prop( "checked", true );
		
	}else{
		$( "input[name='check_listado[]']").prop( "checked", false );
	}
	
	$(".total").each(function (index) {
		n = Number($(this).attr("rel"))+n 
	})
	$(".totalFooter").empty();
	$(".totalFooter").append(formatNumberPesos(parseFloat(n).toFixed(2)));
	
	$(".base").each(function (index) {
		b = Number($(this).attr("rel"))+b 
	})
	$(".baseFooter").empty();
	$(".baseFooter").append(formatNumberPesos(parseFloat(b).toFixed(2)));
	
	$(".descuento").each(function (index) {
		c = Number($(this).attr("rel"))+c 
	})
	$(".descuentoFooter").empty();
	$(".descuentoFooter").append(formatNumberPesos(parseFloat(c).toFixed(2)));
}

</script>		
 	 }
}