@(idOrdenCompra: Long, lineas: List[OrdenLineaAnulacion])
@import java.math.BigDecimal;var total=new java.math.BigDecimal(0);
<div id="listaLineaProductos" class="contenedorPaginador ajaxPaginador">

		 @if(lineas.size() > 0){   
		<table id="listaProductosAnulados" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Producto</th>
					<th width="50">Cantidad</th>	
					<th width="50">UDM</th>	
					<th width="100">Unitario</th>	
					<th width="100">Total</th>	
				</tr>
			</thead>
			<tbody>
		        @for(linea <- lineas) {
					<tr class="pointer">
						<td>@linea.ordenLinea.producto.nombre</td>
						<td>@linea.cantidad</td>
						<td>@linea.ordenLinea.udm.nombre</td>
						<td>@utils.NumberUtils.moneda(linea.ordenLinea.precio)</td>
						<td>@utils.NumberUtils.moneda(linea.ordenLinea.precio.multiply(linea.cantidad))</td>
					</tr>
					@{total = total.add(linea.ordenLinea.precio.multiply(linea.cantidad))}
              	}
			</tbody>
			<tfoot>
				<tr class="pointer">
					<td colspan="4" align="right">TOTAL</td>
					<td>@utils.NumberUtils.moneda(total)</td>
				</tr>
			</tfoot>
		</table>
		}

</div>    