@(formBuscador: DynamicForm,cuentaMovimientoMonto:java.util.Map[String,java.util.Map[String,java.math.BigDecimal]],cuentasListaGastos:java.util.Map[String,List[com.avaje.ebean.SqlRow]])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 
@import utils._
@import java.math.BigDecimal;var totalGastos=new java.math.BigDecimal(0);
@views.html.dashboard.mainDashboard("Resumen Financiero Detalle") {

@views.html.dashboard.movimientosCuentas.navmovimientoscuentas()

<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>Resumen Financiero Detalle</h1>
		</div>
		
		<div class="col-sm-5">
			<div class="dropdown pull-right">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			 	<i class="glyphicon glyphicon-list-alt"></i>
			    Reportes
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			  	<li role="presentation">
				  <a id="" role="menuitem" tabindex="-1" 
				  href="">Reporte Excel</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>
@views.html.tags.successError()
<div id="actions">
	<form action="" method="GET">
		<div class="row">
			 <div class="col-sm-2 input-group">
				<label class="control-label">Fecha</label>
				<div>
					@inputText(formBuscador("fdesde"), 'class -> "form-control inputDateMascara", 'id -> "fdesde", 'placeholder -> "Desde")
					@inputText(formBuscador("fhasta"), 'class -> "form-control inputDateMascara", 'id -> "fhasta", 'placeholder -> "Hasta")
				</div>
			</div>
			 
			<div class="col-sm-2">
				<div class="form-group">
				<label for="nombre" class="control-label">&nbsp;</label>
				<button  class="form-control btn btn-primary"><i class="glyphicon glyphicon-search"></i> Buscar</button>
				</div>
			</div>
			 
		</div>
	</form>
</div>
<hr>

<div class="row"  style="">
	<div class="col-sm-6" style="">
		<table class="table table-striped table-bordered table-hover">
			<thead><tr><th colspan="2" style="text-align: center;">OPERATIVA</th></tr></thead>
			<thead><tr><th>MOVIMIENTO</th><th>SALDO</th></tr></thead>
			<tbody>	
					<tr>
						<td>SALDO INICIAL</td>
						<td>@utils.NumberUtils.moneda(cuentaMovimientoMonto.get("OPERATIVA").get("SALDOINICIAL"))</td>
					</tr>
					<tr>
						<td>INGRESOS</td>
						<td>@utils.NumberUtils.moneda(cuentaMovimientoMonto.get("OPERATIVA").get("INGRESO"))</td>
					</tr>
					@if(cuentasListaGastos.containsKey("OPERATIVA")){
						@{totalGastos = new java.math.BigDecimal(0)}
						<tr>
							<td colspan="2">
							<table class="table table-striped table-bordered table-hover">
								<tr>
									<td colspan="2" align="center">
										GASTOS
									</td>
								</tr>
								@for(z <- cuentasListaGastos.get("OPERATIVA")){
									<tr>
										<td>@z.getString("rubro")</td>
										<td>@utils.NumberUtils.moneda(z.getBigDecimal("debito"))</td>
									</tr>
									@{totalGastos = totalGastos.add(z.getBigDecimal("debito"))}
								}			
								<tr>
									<td align="right">TOTAL GASTOS</td>
									<td><b>@utils.NumberUtils.moneda(totalGastos)</b></td>
								</tr>					
							</table>
							</td>
						</tr>
					}else{
						<tr>
							<td>GASTOS</td>
							<td>@utils.NumberUtils.moneda(cuentaMovimientoMonto.get("OPERATIVA").get("GASTO"))</td>
						</tr>
					}
					<tr>
						<td>SALDO</td>
						<td>@utils.NumberUtils.moneda(cuentaMovimientoMonto.get("OPERATIVA").get("SALDO"))</td>
					</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6" style="">
		<table class="table table-striped table-bordered table-hover">
			<thead><tr><th colspan="2" style="text-align: center;">PROFE</th></tr></thead>
			<thead><tr><th>MOVIMIENTO</th><th>SALDO</th></tr></thead>
			<tbody>	
					<tr>
						<td>SALDO INICIAL</td>
						<td>@utils.NumberUtils.moneda(cuentaMovimientoMonto.get("PROFE").get("SALDOINICIAL"))</td>
					</tr>
					<tr>
						<td>INGRESOS</td>
						<td>@utils.NumberUtils.moneda(cuentaMovimientoMonto.get("PROFE").get("INGRESO"))</td>
					</tr>
					@if(cuentasListaGastos.containsKey("PROFE")){
						@{totalGastos = new java.math.BigDecimal(0)}
						<tr>
							<td colspan="2">
							<table class="table table-striped table-bordered table-hover">
								<tr>
									<td colspan="2" align="center">
										GASTOS
									</td>
								</tr>
								@for(z <- cuentasListaGastos.get("PROFE")){
									<tr>
										<td>@z.getString("rubro")</td>
										<td>@utils.NumberUtils.moneda(z.getBigDecimal("debito"))</td>
									</tr>
									@{totalGastos = totalGastos.add(z.getBigDecimal("debito"))}
								}			
								<tr>
									<td align="right">TOTAL GASTOS</td>
									<td><b>@utils.NumberUtils.moneda(totalGastos)</b></td>
								</tr>					
							</table>
							</td>
						</tr>
					}else{
						<tr>
							<td>GASTOS</td>
							<td>@utils.NumberUtils.moneda(cuentaMovimientoMonto.get("PROFE").get("GASTO"))</td>
						</tr>
					}
					<tr>
						<td>SALDO</td>
						<td>@utils.NumberUtils.moneda(cuentaMovimientoMonto.get("PROFE").get("SALDO"))</td>
					</tr>
			</tbody>
		</table>
	</div>
</div>

}