@(formBuscador: DynamicForm,soloDeuda: Boolean = false)
@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

@views.html.dashboard.mainDashboard("RESUMEN") {

<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>Resumen</h1>
		</div>
		<div class="col-sm-5">
			<div class="dropdown pull-right">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			 	<i class="glyphicon glyphicon-list-alt"></i>
			    Reportes
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			  <li role="presentation">
			  <a id="" role="menuitem" tabindex="-1" href="@controllers.dashboard.routes.DeudasGlobalizadasController.resumen082023ExportExcel()">Reporte Excel</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>

@views.html.tags.successError()
<div class="row"  style="">
	<div class="col-sm-6" style="">


	</div>
</div>
}