@(lista: List[models.informes.InformeDeudaProveedoresMaterializada],titulo:String)

@import java.math.BigDecimal;var hayra:Boolean = new Boolean(false);var monto_total_pagado=new java.math.BigDecimal(0);var monto_total_acta=new java.math.BigDecimal(0);

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Demystifying Email Design</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">	
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#70bbd9" style="padding: 10px 0 10px 0; color: #153643; font-size: 14px; font-weight: bold; font-family: Arial, sans-serif;">
							<h1>@titulo</h1>
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 10px;">
							<table border="1" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="padding:10px;font-weight: bold;color: #153643; font-family: Arial, sans-serif; font-size: 12px;">
										<b>EXP</b>
									</td>
									<td style="padding:10px;font-weight: bold;color: #153643; font-family: Arial, sans-serif; font-size: 12px;">
										<b>PROVEDORES</b>
									</td>
									<td align="center" style="padding:10px;font-weight: bold;color: #153643; font-family: Arial, sans-serif; font-size: 12px;">
										<b>MONTO PAGADO</b>
									</td>
									<td align="center" style="padding:10px;font-weight: bold;color: #153643; font-family: Arial, sans-serif; font-size: 12px;">
										<b>MONTRO ENTREGADO</b>
									</td>
									<td align="center" style="padding:10px;font-weight: bold;color: #153643; font-family: Arial, sans-serif; font-size: 12px;">
										<b>DIFERENCIA</b>
									</td>
								</tr>
								 @for(pd <- lista) {
									<tr>
										<td style="padding:10px;font-weight: bold; color: #153643; font-family: Arial, sans-serif; font-size: 12px; line-height: 10px;">
											@pd.expediente
										</td>
										<td style="padding:10px;font-weight: bold; color: #153643; font-family: Arial, sans-serif; font-size: 12px; line-height: 10px;">
											@pd.nombreProveedor
										</td>
										<td align="right" style="padding:10px; color: #153643; font-family: Arial, sans-serif; font-size: 12px; line-height: 10px;">@utils.NumberUtils.moneda(pd.totalPagado)</td>
										<td align="right" style="padding:10px; color: #153643; font-family: Arial, sans-serif; font-size: 12px; line-height: 10px;">@utils.NumberUtils.moneda(pd.totalActasSinAdelanto)</td>
										<td align="right" style="padding:10px; color: #153643; font-family: Arial, sans-serif; font-size: 12px; line-height: 10px;">@utils.NumberUtils.moneda(pd.totalPagado.subtract(pd.totalActasSinAdelanto))</td>
									</tr>
									@{monto_total_pagado= monto_total_pagado.add(pd.totalPagado)}
									@{monto_total_acta= monto_total_acta.add(pd.totalActasSinAdelanto)}
								}
								<tr>
									<td></td>
									<td align="right" style="padding:10px;font-weight: bold;color: #153643; font-family: Arial, sans-serif; font-size: 12px;">
										<b>TOTAL</b>
									</td>
									<td align="right" style="padding:10px;font-weight: bold;color: #153643; font-family: Arial, sans-serif; font-size: 13px;">
										<b>@utils.NumberUtils.moneda(monto_total_pagado)</b>
									</td>
									<td align="right" style="padding:10px;monto_total_acta: bold;color: #153643; font-family: Arial, sans-serif; font-size: 13px;">
										<b>@utils.NumberUtils.moneda(monto_total_acta)</b>
									</td>
									<td align="right" style="padding:10px;monto_total_acta: bold;color: #153643; font-family: Arial, sans-serif; font-size: 13px;">
										<b>@utils.NumberUtils.moneda(monto_total_pagado.subtract(monto_total_acta))</b>
									</td>
								</tr>	
							</table>
						</td>
					</tr> 
					<tr><td bgcolor="#ee4c50" style="padding: 10px;"></td></tr>
				</table>
			</td>
		</tr>
	</table>			
</body>
</html>