@(presupuestoForm: Form[models.recupero.Presupuesto], presupuesto: models.recupero.Presupuesto)
@import utils._
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) } 


@views.html.recupero.mainRecupero("Vista de presupuesto") {
	<div class="page-header">
		<div class="row">
			<div class="col-sm-7">
				<h1>Vista de presupuesto</h1>
			</div>
			<div class="col-sm-5">
				<div class="dropdown pull-right">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-list-alt"></i>
				    Reportes
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  	<li role="presentation"><a role="menuitem" tabindex="-1" href="@controllers.recupero.routes.PresupuestosReportesController.presupuesto(presupuesto.id,false)">Presupuesto</a></li>
				  	<li role="presentation"><a role="menuitem" tabindex="-1" href="@controllers.recupero.routes.PresupuestosReportesController.presupuesto(presupuesto.id,true)">Presupuesto Extrajero</a></li>
				  </ul>
				</div>
				
				<div class="dropdown pull-right btn-header">
				 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
				 	<i class="glyphicon glyphicon-cog"></i>
				    Acciones
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				  	
				  </ul>
				</div>

			</div>
		</div>
	</div>
	
@views.html.tags.successError()

<div class="row menu-acciones">
	<div class="col-sm-9">
		<a href="@controllers.recupero.routes.PresupuestosController.crear()@UriTrack.get("?")"  class="btn btn-default"><i class="glyphicon glyphicon-plus-sign"></i> Nuevo</a>
		<a href="@controllers.recupero.routes.PresupuestosController.editar(presupuesto.id)@UriTrack.get("&")"  class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar</a>
		<a href="@controllers.recupero.routes.PresupuestosController.duplicar(presupuesto.id)@UriTrack.get("&")"  class="btn btn-default"><i class="glyphicon glyphicon-subtitles"></i> Duplicar</a>
		<a href="@controllers.recupero.routes.PresupuestosController.eliminar(presupuesto.id)@UriTrack.get("&")"  class="btn btn-default delete-confirm-link"><i class="glyphicon glyphicon-trash icono-eliminar"></i> Eliminar</a>
	</div>
	<div class="col-sm-3">
		<a href="@UriTrack.getOnNull(controllers.recupero.routes.PresupuestosController.index().absoluteURL())" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a>
	</div>
</div>
	<div class="row">
		<div class="col-sm-2">
			<label class="control-label">Nombre</label>
			<p class="form-control-static form-control">@presupuesto.nombre</p>
		</div>
		<div class="col-sm-4">
			<label class="control-label">Cliente</label> 
			<p class="form-control-static form-control" style="height: 25px; overflow: hidden;">
				@presupuestoForm("cliente.nombre").value
			</p>
		</div>
		<div class="col-sm-2">
			<label class="control-label">Fecha presupuesto</label>
			<p class="form-control-static form-control">@presupuestoForm("fecha").value</p>
		</div>
		<div class="col-sm-4">
			<label for="deposito" class="control-label">Institucion</label> 
			<p class="form-control-static form-control">@presupuestoForm("deposito.nombre").value</p>
		</div>
	</div>
		
		
	<hr />	
		
		
	@views.html.recupero.presupuesto.tabsPresupuesto(false, presupuestoForm)
	<h4>Total: 	   <b>@utils.NumberUtils.moneda(presupuesto.getTotal())</b></h4>	
	<h4>Estado actual: 	<b>@presupuesto.estado.nombre</b></h4>
	<div class="row margin-bottom-25">	
		@for(estado <- models.Estado.getSiguienteEstadoPorAprobar(presupuesto.estado.orden,models.Estado.TIPO_PRESUPUESTO)) {	
			@if(estado.orden <= 4) {
				<div class="col-sm-3">
					<a href="@controllers.recupero.routes.PresupuestosController.cambiarEstado(presupuestoForm.field("id").value.toInt, estado.id.toLong)@UriTrack.get("&")" class="btn btn-default">
						<i class="glyphicon glyphicon-arrow-right"></i> @estado.nombre
					</a>
				</div>
				
			}
		}
		@if(presupuesto.estado.id == models.Estado.PRESUPUESTO_CANCELADO) {
			<div class="col-sm-3">
				<a href="@controllers.recupero.routes.PresupuestosController.cambiarEstado(presupuestoForm.field("id").value.toInt, models.Estado.PRESUPUESTO_BORRADOR)@UriTrack.get("&")" class="btn btn-default">
					<i class="glyphicon glyphicon-arrow-right"></i> Volver a Borrador
				</a>
			</div>
		}else{
			<div class="col-sm-3">
				<a href="@controllers.recupero.routes.PresupuestosController.cambiarEstado(presupuestoForm.field("id").value.toInt, models.Estado.PRESUPUESTO_CANCELADO)@UriTrack.get("&")" class="btn btn-default">
					<i class="glyphicon glyphicon-minus-sign"></i> Cancelar Presupuesto
				</a>
			</div>
		}
	</div>
}


