@(listaFinal:java.util.Map[String,java.util.Map[Long,java.util.Map[String,java.math.BigDecimal]]],
instiOp:List[String],instiProfe:List[String],
instiMontoTotalOperativa:java.util.Map[String,java.math.BigDecimal],
instiMontoTotalProfe:java.util.Map[String,java.math.BigDecimal],
formBuscador: DynamicForm
)
@import java.math.BigDecimal;
@import java.lang.Integer;
@import java.lang.String;
@views.html.dashboard.mainDashboard("Deudas Detalles") {

@views.html.dashboard.deudasPorAntiguedad.navdeudas(formBuscador)

<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>Deudas por Institucion Resumen</h1>
		</div>
		
		<div class="col-sm-5">
			<div class="dropdown pull-right">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			 	<i class="glyphicon glyphicon-list-alt"></i>
			    Reportes
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			  	<li role="presentation">
				  <a id="" role="menuitem" tabindex="-1" href="@controllers.dashboard.routes.DeudasPorAntiguedadReportesController.deudasResumenPorInstitucionReporte()">Reporte Excel</a></li>
			  	
			  </ul>
			</div>
		</div>
	</div>
</div>

<div class="row"  style="">
	<div class="col-sm-12" style="">
		@if(listaFinal.get("OPERATIVA") != null){
		<h3>OPERATIVA</h3>
		<table class="table table-striped table-bordered table-hover">
			 
			<thead>	
				<th>Periodo/Institucion</th>
				@for(s <- instiOp){
					<th>@s</th>
				}
			</thead>
			<tbody>
				@for((key,value) <- listaFinal.get("OPERATIVA")){
					<tr>
						<td>@Periodo.find.byId(key).nombre</td>
						@for(s <- instiOp){
							
							<td>
								@if(value.get(s) != null){
									@utils.NumberUtils.moneda(value.get(s))
								}else{
									$0,00
								}
							</td>
						}
					</tr>
				}
			</tbody>
			<tfoot>
			 	<tr>
					<td><b>Totales</b></td>
					@for(s <- instiOp){
						
						<td><b>
							@if(instiMontoTotalOperativa.get(s) != null){
								@utils.NumberUtils.moneda(instiMontoTotalOperativa.get(s))
							}else{
								$0,00
							}</b>
						</td>
					}
				</tr>
			</tfoot>
		</table>
		}	
	</div>
</div>
<div class="row"  style="">
	<div class="col-sm-12" style="">
		@if(listaFinal.get("PROFE") != null){
	
		<h3>PROFE</h3>
		<table class="table table-striped table-bordered table-hover">
			
			<thead>	
				<th>Periodo/Institucion</th>
				@for(s <- instiProfe){
					<th>@s</th>
				}
			</thead>
			<tbody>
				@for((key,value) <- listaFinal.get("PROFE")){
					<tr>
						<td>@Periodo.find.byId(key).nombre</td>
						@for(s <- instiProfe){
							
							<td>
								@if(value.get(s) != null){
									@utils.NumberUtils.moneda(value.get(s))
								}else{
									$0,00
								}
							</td>
						}
					</tr>
				}
			</tbody>
			<tfoot>
			 	<tr>
					<td><b>Totales</b></td>
					@for(s <- instiProfe){
						
						<td><b>
							@if(instiMontoTotalProfe.get(s) != null){
								@utils.NumberUtils.moneda(instiMontoTotalProfe.get(s))
							}else{
								$0,00
							}</b>
						</td>
					}
				</tr>
			</tfoot>
		</table>
		}	
	</div>
</div>
}