@(proveedorHEARM:List[com.avaje.ebean.SqlRow],proveedorOtros:List[com.avaje.ebean.SqlRow],
peridoIds:java.util.List[Long],
pret:java.util.Map[String,java.util.Map[Long,java.math.BigDecimal]],
deudaSinPeriodos:java.util.Map[String,java.math.BigDecimal],
formBuscador: DynamicForm)

@import helper._
@import utils._
@import models.auth._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }
@import java.math.BigDecimal;var totalDeudaOtros=new java.math.BigDecimal(0);var totalCompromisoOtros=new java.math.BigDecimal(0);var totalDeudaHearm=new java.math.BigDecimal(0);var totalCompromisoHearm=new java.math.BigDecimal(0);var totalTr=new java.math.BigDecimal(0);var ptmpcompromiso=new java.math.BigDecimal(0);var ptmpdeuda=new java.math.BigDecimal(0);var mtdoh=new java.math.BigDecimal(0);var mtcoh=new java.math.BigDecimal(0);var mtdoo=new java.math.BigDecimal(0);var mtcoo=new java.math.BigDecimal(0)
@import java.lang.Integer;var proveedorId =0;var bandera =0;var columnas =6
@import java.lang.String;var proveedorNombre =""
@views.html.dashboard.mainDashboard("Deudas Servicios") {
@views.html.dashboard.deudasPorAntiguedad.navdeudas(formBuscador)

<div class="page-header">
	<div class="row">
		<div class="col-sm-7">
			<h1>Deudas Servicios</h1>
		</div>
		<div class="col-sm-5">
			<div class="dropdown pull-right">
			 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			 	<i class="glyphicon glyphicon-list-alt"></i>
			    Reportes
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			  	<li role="presentation">
				  <a id="" role="menuitem" tabindex="-1" 
				  href="@controllers.dashboard.routes.DeudasPorAntiguedadReportesController.deudasDetallesServiciosReportes()">Reporte Excel</a></li>
			  </ul>
			</div>
		</div>
	</div>
</div>
@{columnas = columnas+peridoIds.size()}
<div class="row"  style="">
	<div class="col-sm-12" style="">
		<table class="table table-bordered table-hover" id="">
			<thead>
				<th colspan="@columnas" align="center" style="font-size:20px;text-align:center;">OPERARIVA - HEARM</th>
			</thead>
			<thead>
				<th>N° EXP.</th>
				<th>INSTITUCION</th>
				<th>PROVEEDOR</th>
				<th>S/D</th>
				@for(pe <- peridoIds){
					<th>@Periodo.find.byId(pe).nombre</th>
				}
				<th>TOTAL</th>
			</thead>	
			<tbody>
				
				@for(s <- proveedorHEARM){
					@{totalTr = new java.math.BigDecimal(0)}
					<tr style="background-color:#ffffff;">
						<td>@s.getString("expediente")</td>
						<td>@s.getString("deposito")</td>
						<td>@s.getString("nombre_proveedor")</td>
						
						@if(deudaSinPeriodos.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()) != null){
							<td>@utils.NumberUtils.moneda(deudaSinPeriodos.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()))</td>
							@{totalTr = totalTr.add(deudaSinPeriodos.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()))}
							@{totalDeudaHearm = totalDeudaHearm.add(deudaSinPeriodos.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()))}
						}else{
							<td>@utils.NumberUtils.moneda(BigDecimal.ZERO)</td>
						}
						
						@for(pe <-peridoIds){
							@if(pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()) != null && pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()).get(pe) != null){
								<td>@utils.NumberUtils.moneda(pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()).get(pe))</td>
								@{totalTr = totalTr.add(pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()).get(pe))}
								@{totalDeudaHearm = totalDeudaHearm.add(pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()).get(pe))}
							}else{
								<td>@utils.NumberUtils.moneda(BigDecimal.ZERO)</td>
							}
						}
						
						<td>@utils.NumberUtils.moneda(totalTr)</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr style="background-color:#dfdfdf;">
					<td colspan="3" align="right"><b>TOTALES</b></td>
					<td></td>
					@for(pe <-peridoIds){
						<td></td>
					}
					<td><b>@utils.NumberUtils.moneda(totalDeudaHearm)</b></td>
				</tr>
			</tfoot>
		</table>	
	</div>
</div>

<div class="row"  style="">
	<div class="col-sm-12" style="">
		<table class="table table-bordered table-hover" id="">
			<thead>
				<th colspan="@columnas" align="center" style="font-size:20px;text-align:center;">OPERARIVA - OTRAS INSTITUCIONES</th>
			</thead>
			<thead>
				<th>N° EXP.</th>
				<th>INSTITUCION</th>
				<th>PROVEEDOR</th>
				<th>S/D</th>
				@for(pe <- peridoIds){
					<th>@Periodo.find.byId(pe).nombre</th>
				}
				<th>TOTAL</th>
			</thead>	
			<tbody>
				
				@for(s <- proveedorOtros){
					@{totalTr = new java.math.BigDecimal(0)}
					<tr style="background-color:#ffffff;">
						<td>@s.getString("expediente")</td>
						<td>@s.getString("deposito")</td>
						<td>@s.getString("nombre_proveedor")</td>
						 
						@if(deudaSinPeriodos.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()) != null){
							<td>@utils.NumberUtils.moneda(deudaSinPeriodos.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()))</td>
							@{totalTr = totalTr.add(deudaSinPeriodos.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()))}
							@{totalDeudaOtros = totalDeudaOtros.add(deudaSinPeriodos.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()))}
						}else{
							<td>@utils.NumberUtils.moneda(BigDecimal.ZERO)</td>
						}
						
						
						@for(pe <-peridoIds){
							@if(pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()) != null && pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()).get(pe) != null){
								<td>@utils.NumberUtils.moneda(pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()).get(pe))</td>
								@{totalTr = totalTr.add(pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()).get(pe))}
								@{totalDeudaOtros = totalDeudaOtros.add(pret.get(s.getLong("expediente_id").toString()+s.getLong("orden_provision_id").toString()).get(pe))}
							}else{
								<td>@utils.NumberUtils.moneda(BigDecimal.ZERO)</td>
							}
						}
						
						<td>@utils.NumberUtils.moneda(totalTr)</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr style="background-color:#dfdfdf;">
					<td colspan="3" align="right"><b>TOTALES</b></td>
					<td></td>
					@for(pe <-peridoIds){
						<td></td>
					}
					<td><b>@utils.NumberUtils.moneda(totalDeudaOtros)</b></td>
				</tr>
			</tfoot>
		</table>	
	</div>
</div>



}