@(tpForm: Form[TipoResidencia])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(simpleInput.render) }

@views.html.rrhh.mainRrhh("Modificar Tipo Residencia") {

	<div class="page-header">
		<div class="row">
			<div class="col-sm-10">
				<h1>Editar Tipo Residencia</h1>
			</div>
			
			<div class="col-sm-2">
				<a href="@controllers.rrhh.routes.TipoResidenciasController.indexTipoResidencia()" class="btn btn-default"><i class="glyphicon glyphicon-list"></i></a> 
				<a href="#" class="btn btn-default"><i class="glyphicon glyphicon-align-justify"></i></a> 
			</div>
		</div>
	</div>
	
	@if(flash.containsKey("error")) {
		<div class="alert alert-danger">
			@flash.get("error")
		</div>
	}
	
	@helper.form(action = controllers.rrhh.routes.TipoResidenciasController.actualizarTipoResidencia()) {
		@inputText(tpForm("id"), 'hidden -> "hidden")
		@views.html.rrhh.tipoResidencia.formTipoResidencia(tpForm)
		 
	}

}